﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Global stylesheets -->
    <link href="/Layout/custom/css/ggfonts.css" rel="stylesheet" type="text/css">
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">*@

    <link href="/Layout/limitless/t01/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/global_assets/css/icons/material/icons.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="/Layout/limitless/t01/global_assets/js/main/jquery.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/Layout/limitless/t01/assets/js/app.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <!-- /theme JS files -->
    <!-- limitless custom js -->
    <script src="/Layout/limitless/custom/js/extra_sweetalert.js"></script>
    <script src="/Layout/limitless/custom/js/components_progress.js"></script>
    <!-- limitless custom js -->

</head>
<body>
    @RenderBody()
</body>
</html>
