﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Báo Cáo Tự Động</title>
    <!-- Global stylesheets -->
    <link href="/Layout/custom/css/ggfonts.css" rel="stylesheet" type="text/css">
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">*@

    <link href="/Layout/limitless/t01/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/global_assets/css/icons/material/icons.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/Layout/limitless/t01/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="/Layout/limitless/t01/global_assets/js/main/jquery.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/Layout/limitless/t01/assets/js/app.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/notifications/noty.min.js"></script>

    <script src="/Layout/limitless/t01/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/pickers/anytime.min.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="/Layout/limitless/t01/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>

    <!-- /theme JS files -->
    <!-- limitless custom js -->
    <script src="/Layout/limitless/custom/js/extra_sweetalert.js"></script>
    <script src="/Layout/limitless/custom/js/components_progress.js"></script>
    <!-- limitless custom js -->

    <link href="/Layout/custom/css/c1.css" rel="stylesheet" type="text/css">
    <link href="/Layout/custom/css/customtable.css" rel="stylesheet" type="text/css">
    <link href="/Layout/custom/css/paginationw3.css" rel="stylesheet" type="text/css">
    <script src="/Layout/custom/js/jquery.serializeObject.js"></script>
    <script src="/Layout/custom/js/customtable.jquery.js"></script>

    <link href="/Layout/limitless/custom/css/handsontable.full.min.css" rel="stylesheet" />
    <script src="/Layout/limitless/custom/js/handsontable.full.min.js"></script>
    <link href="/Layout/custom/css/customtabpage.css" rel="stylesheet" />
    @{
        AutoReport.Controllers.AccountLogged _account = Session["MyAccount"] == null ? new AutoReport.Controllers.AccountLogged() : Session["MyAccount"] as AutoReport.Controllers.AccountLogged;
    }

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>*@

</head>

<body>

    <!-- Main navbar -->
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Bảng Điều Khiển
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="#"><img src="/Layout/images/logo.png" width="38" height="38" class="rounded-circle" alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="media-title font-weight-semibold">Sở KH-CN</div>
                                <div class="font-size-xs opacity-50">
                                    Trường ĐH KT-CN Long An
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header">HỆ THỐNG</li>
                        <li class="nav-item nav-item-submenu">
                            <a href="index.html" class="nav-link"><i class="icon-home4"></i><span>Trang Chủ</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="/Home/Index" class="nav-link">Bàn Làm Việc</a></li>
                                <li class="nav-item"><a href="/Home/DocData" class="nav-link">Tài liệu kỹ thuật</a></li>
                            </ul>
                        </li>
                        @if (_account.GrantAccess("Menu_Category", _account.Model.dKey, _account.Model.IsDefault))
                        {
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Danh Mục</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    @if (_account.GrantAccess("CAT_DEPARTMENTS_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/CAT_DEPARTMENTS/Index" class="nav-link">Phòng Ban</a></li>
                                    }
                                    @if (_account.GrantAccess("CAT_POSITIONS_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/CAT_POSITIONS/Index" class="nav-link">Chức Vụ</a></li>
                                    }
                                    @if (_account.GrantAccess("CAT_EMPLOYEES_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/CAT_EMPLOYEES/Index" class="nav-link">Nhân Viên</a></li>
                                    }
                                    @if (_account.GrantAccess("TEMPLATES_TABLES_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/TEMPLATES_TABLES/Index" class="nav-link">Bảng Phụ Lục</a></li>
                                    }
                                    @if (_account.GrantAccess("TEMPLATES_HEADERS_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/TEMPLATES_HEADERS/Index" class="nav-link">Mẫu Báo Cáo</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (_account.GrantAccess("Menu_Report", _account.Model.dKey, _account.Model.IsDefault))
                        {
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Nghiệp Vụ</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Themes">
                                    @if (_account.GrantAccess("REPORTS_HEADERS_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/REPORTS_HEADERS/Index" class="nav-link">Lập Báo Cáo</a></li>
                                    }
                                    @if (_account.GrantAccess("REPORTS_HEADERS_ASSIGN", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link">Phân Công Báo Cáo</a>

                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="/REPORTS_HEADERS/AssignIndex" class="nav-link">Phân Công</a></li>
                                                <li class="nav-item"><a href="/REPORTS_HEADERS/AssignLogIndex" class="nav-link">Nhật Ký</a></li>
                                            </ul>

                                        </li>
                                    }
                                    @if (_account.GrantAccess("REPORTS_HEADERS_INPUT", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link">Nhập Liệu Báo Cáo</a>

                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="/REPORTS_INPUT/Index" class="nav-link">Nhập Dữ Liệu</a></li>
                                                <li class="nav-item"><a href="/REPORTS_INPUT/AttachFileIndex" class="nav-link">Đính kèm tài liệu</a></li>
                                            </ul>

                                        </li>
                                    }
                                    @if (_account.GrantAccess("REPORTS_HEADERS_APPROVE", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/REPORTS_CHECK/Index" class="nav-link">Duyệt Báo Cáo</a></li>
                                    }
                                    @if (_account.GrantAccess("REPORTS_HEADERS_EXPORT", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/REPORTS_CHECK/ReportsCompleted" class="nav-link">Xuất Báo Cáo</a></li>
                                    }

                                </ul>
                            </li>
                        }
                        @if (_account.GrantAccess("Menu_Summary", _account.Model.dKey, _account.Model.IsDefault))
                        {
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-stack"></i> <span>Thống Kê</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Themes">
                                    @if (_account.GrantAccess("REPORTS_SUMMARY_GRID", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/REPORTS_SUMMARY/SummaryGrid" class="nav-link">Danh Sách</a></li>
                                    }
                                    @if (_account.GrantAccess("REPORTS_SUMMARY_CHART", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/REPORTS_SUMMARY/SummaryChart" class="nav-link">Biểu Đồ</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (_account.GrantAccess("Menu_System", _account.Model.dKey, _account.Model.IsDefault))
                        {
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-stack"></i> <span>Hệ Thống</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Themes">
                                    @if (_account.GrantAccess("SYS_USERS_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/SYS_USERS/Index" class="nav-link">Tài Khoản</a></li>
                                    }
                                    @if (_account.GrantAccess("TEMPLATES_HEADERS_DEPARTMENTS_INDEX", _account.Model.dKey, _account.Model.IsDefault))
                                    {
                                        <li class="nav-item"><a href="/TEMPLATES_HEADERS_DEPARTMENTS/Index" class="nav-link">Phân nhóm báo cáo</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        <!-- /page kits -->
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            <div class="navbar navbar-expand-md navbar-dark">
                <div class="d-md-none">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                                <i class="icon-paragraph-justify3"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="header_link_prev"></div>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <div class="clearfix" style="width: 100%;">
                        <div class="at-left">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                                        <i class="icon-paragraph-justify3"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <div class="header_link_prev"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="at-right">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown dropdown-user">
                                    <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                                        <span class="badge bg-success" style="position: initial;">Online</span>
                                        <span>@(_account.Model.UserName)</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="/SYS_USERS/Login" class="dropdown-item"><i class="icon-switch2"></i> Đăng Xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page header -->
            <!-- Content area -->
            <div class="content" style="padding: inherit;">
                @RenderBody()
            </div>
            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        Phát triển bởi: <a href="http://daihoclongan.edu.vn/">Trường Đại học Kinh tế Công nghiệp Long An</a>
                    </span>
                </div>
            </div>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

    <link href="/Layout/limitless/custom/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="/Layout/limitless/custom/js/bootstrap-select.min.js"></script>
</body>

</html>

<script>
    $(this).ready(function () {
        var current = location.pathname;

        $(".nav-sidebar a").each(function () {
            var $this = $(this);
            if ($this.attr('href') == current) {
                //if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass("active");
                $this.parents("li.nav-item-submenu").addClass("nav-item-expanded nav-item-open");
                return false;
            }
        });
        $('.nav-sidebar a').on('click', function (e) {
            var element = e.currentTarget;
            element.clicks = (element.clicks || 0) + 1;
            if (element.clicks % 2 != 0)
                $(this).parents("li.nav-item-submenu").addClass("nav-item-open");
            else
                $(this).parents("li.nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
        });
    });
</script>
