﻿@model AutoReport.Models.CAT_DEPARTMENTS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Sửa Phòng Ban</h6>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mã phòng ban <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ký hiệu </label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Abbr, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tên phòng ban <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Trưởng phòng/Quản lý</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.EmployeeKey, ViewBag.EmployeeList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Trực thuộc</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.ParentKey, ViewBag.DepartmentList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ghi Chú</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="model-footer">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Người tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.CreatedBy)</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Người cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.ModifiedBy)</label>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Ngày tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.CreatedOn == null ? "--/--/----" : Model.CreatedOn.Value.ToString(AutoReport.Utils.TextUtil.DateFormat_L))</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Ngày cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.ModifiedOn == null ? "--/--/----" : Model.ModifiedOn.Value.ToString(AutoReport.Utils.TextUtil.DateFormat_L))</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div id="div_btns" class="clearfix">
                        <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(this).ready(function () {

        //back to master page
        var dataPost =
        {
            lstLinks: ["/@(ViewBag.ControllerName)/Index"],
            lstText: ["Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            var data = $("#frmInfo").serializeObject();
            var dataPost = { ItemModel: data };

            showloading();
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Edit',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                    }
                    else {
                        swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                    }
                },
                error: function () {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
        });

    });
</script>
