﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Danh sách phòng ban</h6>
        <div id="lst_btn_actions_h" class="at-right">
            <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
            <a class="btn btn-default btn100-action at-right" data-cmd="edit"><i class="mi-2x mi-mode-edit"></i></a>
            <a class="btn btn-default btn100-action at-right" href="/@(ViewBag.ControllerName)/Create"><i class="mi-2x mi-add"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div id="tblview" class="col-md-12">

        </div>
    </div>
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <div id="lst_btn_actions_f" class="at-right">
            <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
            <a class="btn btn-default btn100-action at-right" data-cmd="edit"><i class="mi-2x mi-mode-edit"></i></a>
            <a class="btn btn-default btn100-action at-right" href="/@(ViewBag.ControllerName)/Create"><i class="mi-2x mi-add"></i></a>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index"],
            lstText: ["Trang Chủ"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        LoadTableCustom("tblview", "/@(ViewBag.ControllerName)/GetList", 1);

        $('#lst_btn_actions_h, #lst_btn_actions_f').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            var tr_select = $('#tblview .table100-body table tbody').find('tr.tr-selected');
            if (tr_select.length == 0)
                return;

            var id = tr_select.attr('data-id');
            if (id == null)
                return;

            if (cmd == "edit") {
                window.location.href = '/@(ViewBag.ControllerName)/Edit/' + id;
            }
            else if (cmd == "delete") {
                swal_delete('Xóa dòng đã chọn?', 'Thao tác này không thể hoàn tác', '/@(ViewBag.ControllerName)/Delete/' + id);
            }
        });

    });
</script>
