﻿@model AutoReport.Models.RPT_TEMPLATES
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="file"] {
        height: 32px;
    }

        input[type="file"]::-webkit-file-upload-button {
            height: 32px;
        }
</style>
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Sửa biểu mẫu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin cơ bản</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            @Html.HiddenFor(model => model.Rpt_TemplatesKey)
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Mã biểu mẫu <font color="red">(*)</font></label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.Templates_ID, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên biểu mẫu <font color="red">(*)</font></label>
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                    @Html.TextBoxFor(model => model.Templates_Name, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">File văn bản</label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @readonly = "true" })
                                                </div>
                                                @*accept docx only: https://stackoverflow.com/questions/4212861/what-is-a-correct-mime-type-for-docx-pptx-etc*@
                                                <input type="file" class="col-md-5 col-sm-5 col-xs-12" name="file" id="file" style="position: static; opacity: inherit;" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                            </div>
                                            @if (Model.FileReference != null)
                                            {
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                                        <a href="@(ViewBag.FileRaw)">File văn bản</a>
                                                        <a href="#" id="btn_show_fileservion" class="pull-right"><u>Quản lý tải lên</u></a> 
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Ghi Chú</label>
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường</h2>
                                        <a id="btn_help_values" class="btn btn-default pull-right"><i class="fa fa-lg fa-question-circle-o" aria-hidden="true"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList" style="overflow-y: scroll; max-height: 500px;">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    <a class="btn btn-danger pull-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                    <a id="btn_Save" class="btn btn-success pull-right">Lưu</a>
                    <a id="btn_Clone" class="btn btn-success pull-right">Sao chép</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_Help_Value">
    <div class="modal fade" id="Modal_Help_Value" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Quy định nhận dạng trường dữ liệu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <h2>
                                            Việc nhận dạng dữ liệu sẽ thực hiện tự động khi người dùng tải lên file mẫu (áp dụng 1 lần)
                                            <br />
                                            Người dùng cần quy ước các trường dữ liệu theo định dạng như sau:
                                            <br />
                                            - Mở đầu bằng: <b>@("<#")</b>
                                            <br />
                                            - Kết thúc bằng:<b> @("#>")</b>
                                            <br />
                                            - Nội dung nhận dạng được quy định: <b>Mã nhận dạng @("|") Nội dung ghi chú</b>
                                            <br />
                                            <br />
                                            VD: trong file mẫu báo cáo có đoạn văn bản cần điền dữ liệu như sau: (Các phần <b>IN ĐẬM</b> sẽ là nội dung cần nhận dạng)
                                            <br />
                                            'Thực hiện Chỉ thị số <b>23/CT-UBND</b> ngày <b>05/12/2016</b> của UBND tỉnh về việc đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh Ngày 25/01/2017'
                                            <br />
                                            <br />
                                            - Người dùng cần thay thế nội dung theo quy ước như sau:
                                            <br />
                                            'Thực hiện Chỉ thị số <b>@("<#")SO_CHI_THI@("|")Số Chỉ Thị@("#>")</b> ngày <b>@("<#")NGAY_CHI_THI@("|")Ngày ra Chỉ Thị@("#>")</b> của UBND tỉnh về việc đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh Ngày 25/01/2017'
                                            <br />
                                            <br />
                                            Một số lưu ý:
                                            <br />
                                            - Có thể sử dụng lặp lại các mã quy định nếu xuất hiện nhiều lần trong báo cáo.
                                            <br />
                                            - Các mã quy định nếu đã có sẽ không lưu trùng. (Mỗi mã quy định chỉ được tính 1 lần, không trùng lặp).
                                            <br />
                                            - Mã quy định bao gồm <b>Chữ/Số/Dấu gạch chân '_'</b>, không chứa các ký tự đặc biệt.
                                        </h2>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-orange pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_FileVersion">
    <div class="modal fade" id="Modal_FileVersion" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách mẫu đã tải lên</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="table_fileversion">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-orange pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var ItemList;
        $.get('/@(ViewBag.ControllerName)/LoadTableList?TemplatesKey=@Model.Rpt_TemplatesKey', function (data) {
            ItemList = $("#ItemList").editTable({
                data: data.Data,
                headerCols: data.Header,
                action: data.ShowAction,
                delrow: function (row) {
                },
            });
        });

        var valueList;
        $.get('/@(ViewBag.ControllerName)/LoadValueList?TemplatesKey=@Model.Rpt_TemplatesKey', function (data) {
            valueList = $("#ValueList").editTable({
                data: data.Data,
                headerCols: data.Header,
                action: data.ShowAction,
                delrow: function (row) {
                },
            });
        });

        $("#btn_help_values").click(function () {
            $("#Modal_Help_Value").modal();
        });

        $("#btn_show_fileservion").click(function () {
            LoadTable('table_fileversion', '/@(ViewBag.ControllerName)/LoadList_FileVersion/?SearchKey=@(Model.Rpt_TemplatesKey)', 1, null, true);
            $("#Modal_FileVersion").modal();
        });
        
        $("#ItemList").on("change", ".TableName", function () {
            var Index = $(this).attr("data-row");
            var DLID = $(".TableName_" + Index)[1].value;
            $(".Rpt_Templates_TableNameKey_" + Index).val(DLID);
        });

        $("#btn_Save").on("click", function () {
            showLoading();
            var tblListItem = ItemList.getData();
            var tblListvalueList = valueList.getData();
            var objJson_Item = $("#frmInfo *").serializeObject();
            var dataPost = { tblListItem: tblListItem, tblListvalueList: tblListvalueList, Item: objJson_Item};
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/SaveTable',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        var formData = new FormData($("#frmInfo")[0]);
                        $.ajax({
                            url: '/@(ViewBag.ControllerName)/UploadFile_AutoGen/?id=' + data.Data.Rpt_TemplatesKey+'&versionlog=yes',
                            type: 'POST',
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function (response) {
                                hideLoading();
                                swal_success(response.strMess, false, 1500);
                                window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_TemplatesKey;
                            },
                            error: function (response) {
                                showError(response.strMess);
                            }
                        });

                    }
                    else {
                        hideLoading();
                        swal_error(data.strMess, true, 0);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });
        });

        $('#btn_Clone').on('click', function () {

            swal({
                title: 'Sao chép báo cáo mẫu',
                text: "Bạn có muốn sao chép sang mẫu mới?",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Trở lại',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Sao chép',
            }, function (value) {
                if (value) {
                    $.get('/@(ViewBag.ControllerName)/TemplateKey_Sample/?TemplateKey_Sample=' + $("#Rpt_TemplatesKey").val(), function (data) {
                        if (data.intStatus == "1") {
                            swal_success(response.strMess, false, 1500);
                        }
                        else {
                            showError(data.strMess);
                        }
                    });
                }
            });
        });
    })
</script>
