﻿@using AutoReport.Models
@{
    SYS_Users _Users = (SYS_Users)Session["_MyAccount"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/ico" />
    <title>Báo cáo văn bản tự động | DLA </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="/css/bootstrap-select.css" rel="stylesheet" />

    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link href="/css/demo.css" rel="stylesheet" />
    <!-- Sweetalert Css -->
    <link href="/js/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/demo.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="/js/jquery.inputmask.bundle.js"></script>
    <script src="/js/inputmask.numeric.extensions.js"></script>
    <!-- Autosize Plugin Js -->
    <script src="/js/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="/js/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Select Plugin Js -->
    <script src="/js/bootstrap-select.js"></script>
    <!-- showOverlay -->
    <script src="/js/loadingoverlay.min.js"></script>
    <script src="/js/loadingoverlay_progress.min.js"></script>
    <script src="/js/jquery.serializeObject.js"></script>

    <script src="/js/jquery.edittable.js"></script>
    <script src="/js/jquery.canvasjs.min.js"></script>


    <link rel="stylesheet" href="/css/jquery.edittable.min.css">
    <style>
        .bootstrap-select {
            height: 42px;
        }

        .bs-searchbox {
            height: 36px;
        }

            .bs-searchbox .form-control {
                background-color: #e6e6e6;
            }
    </style>

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-paw"></i> <span>Sở KHCN</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/images/logo.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Chào mừng,</span>
                            <h2>@(_Users.UserName)</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Danh Mục</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Tổng Quan <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            <a href="/Home/WorkDeskMain">Công Việc</a>
                                        </li>
                                        <li class="sub_menu">
                                            <a href="/Home/WorkDoc">Hướng dẫn sử dụng</a>
                                        </li>
                                    </ul>
                                </li>

                                @if (Utils.CheckPermission(_Users, "MENU_DIC"))
                                {
                                    <li>
                                        <a><i class="fa fa-th-list"></i> Danh Mục<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (Utils.CheckPermission(_Users, "DEPARTMENTS"))
                                            {
                                                <li><a href="/CAT_DEPARTMENTS/Index">Phòng Ban</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "POSITIONS"))
                                            {
                                                <li><a href="/CAT_POSITIONS/Index">Chức Vụ</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "EMPLOYEES"))
                                            {
                                                <li><a href="/CAT_EMPLOYEES/Index">Nhân Sự</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "TEMPLATES_REPORT"))
                                            {
                                                <li><a href="/TEMPLATES/Index">Biểu mẫu Báo Cáo</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "TEMPLATES_TABLENAME"))
                                            {
                                                <li><a href="/RPT_TEMPLATES_TABLENAME/Index">Bảng Phụ Lục</a></li>
                                            }

                                        </ul>
                                    </li>
                                }


                                @if (Utils.CheckPermission(_Users, "MENU_RPTMRG"))
                                {
                                    <li>
                                        <a><i class="fa fa-th-large"></i> Nghiệp Vụ <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (Utils.CheckPermission(_Users, "REPORTS_INIT"))
                                            {
                                                <li><a href="/RPT_REPORTHEADER/Index">Tạo Báo cáo</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "REPORTS_INPUT"))
                                            {
                                                <li><a href="/RPT_REPORTHEADER/RptFileAttachedIndex">Đính kèm File</a></li>
                                                <li><a href="/RPT_INPUT_PREVIEW/RptInputListIndex"> Nhập Liệu</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "REPORTS_INPUT"))
                                            {
                                                <li><a href="/RPT_INPUT_PREVIEW/RptReviewInput_Index">Duyệt Báo Cáo</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "REPORTS_EXPORT"))
                                            {
                                                <li><a href="/RPT_INPUT_PREVIEW/IndexViewSearch">Xuất Báo Cáo</a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                                @if (Utils.CheckPermission(_Users, "MENU_SUMMARY"))
                                {
                                    <li>
                                        @if (Utils.CheckPermission(_Users, "SUMMARY_CHARTSUM"))
                                        {
                                            <a><i class="fa fa-pie-chart"></i> Thống Kê <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                <li>
                                                    <a href="/RPT_INPUT_PREVIEW/RptSummaryChartYear">Biểu đồ</a>
                                                </li>

                                            </ul>
                                        }

                                    </li>

                                    <li>
                                        @if (Utils.CheckPermission(_Users, "SUMMARY_GRIDSUM"))
                                        {
                                            <a href="#"><i class="fa fa-area-chart"></i> Báo Cáo <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                <li>
                                                    <a href="/RPT_INPUT_PREVIEW/RptSummaryGridYear">Tổng Hợp</a>
                                                </li>

                                            </ul>
                                        }

                                    </li>
                                }

                                @if (Utils.CheckPermission(_Users, "MENU_SYS"))
                                {
                                    <li>
                                        <a><i class="fa fa-edit"></i> Hệ thống <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (Utils.CheckPermission(_Users, "USERS"))
                                            {
                                                <li><a href="/Users/Index">Người dùng</a></li>
                                            }
                                            @if (Utils.CheckPermission(_Users, "TEMPLATES_DEPARTMENT"))
                                            {
                                                <li><a href="/RPT_TEMPLATES_DEPARTMENT/Index">Phân Nhóm Báo Cáo</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/images/logo.png" alt="">Hành Động
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Profile</a></li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                        </li>*@
                                    <li><a href="/System/Logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                            @*<li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">0</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    </ul>
                                </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row tile_count">
                    @RenderBody()
                </div>


                <div class="row">

                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Phát triển bởi  <a href="https://daihoclongan.edu.vn/index.php">Trường Đại học Kinh tế Công nghiệp Long An</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/vendors/Flot/jquery.flot.js"></script>
    <script src="/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendors/moment/min/moment.min.js"></script>
    <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="/js/base.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="/js/sweetalert/sweetalert.min.js"></script>
</body>
</html>
