﻿@model AutoReport.Models.TEMPLATES_TABLES

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Chỉnh Sửa Phụ Lục</h6>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mã phụ lục <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tên phụ lục <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thuộc báo cáo</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ReportRef, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ghi Chú</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="model-footer">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Người tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.CreatedBy)</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Người cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.ModifiedBy)</label>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Ngày tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.CreatedOn == null ? "--/--/----" : Model.CreatedOn.Value.ToString(AutoReport.Utils.TextUtil.DateFormat_L))</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Ngày cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.ModifiedOn == null ? "--/--/----" : Model.ModifiedOn.Value.ToString(AutoReport.Utils.TextUtil.DateFormat_L))</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Cấu Trúc Phụ Lục</h3>

            <div id="div_btns_table" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                <a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblcolumns"></div>
                </div>
            </div>
            <div id="div_btns" class="col-md-12">
                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                <a class="btn btn-primary btn-c1 at-right" data-cmd="savecopy">Sao Chép</a>
            </div>
        </div>


    </div>
</div>


<script>
    $(this).ready(function () {
        var row_hansontable = -1;
        var tblColumns;
        var row_del_keys = [];
        var state = 'none';

        $.get('/@(ViewBag.ControllerName)/GetColumns/?tabletemplatekey=@(Model.dKey)', function (ajresult) {
            //var hot_scroll_data = Handsontable.helper.createSpreadsheetData(10, 5);
            // Initialize with options
            tblColumns = new Handsontable($('#tblcolumns')[0], {
                data: ajresult.Data.Source,
                stretchH: 'all',
                rowHeaders: true,
                colHeaders: ajresult.Data.HeadersCaption,
                hiddenColumns: {
                    columns: ajresult.Data.ColumnsHidden,
                    indicators: true
                },
                afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                    row_hansontable = row;
                },
                licenseKey: 'non-commercial-and-evaluation',
                afterChange: (changes) => {
                    if (changes != null) {
                        if (state == 'none') {
                            state = 'busy';
                            var data = tblColumns.getData();
                            if (data[row_hansontable][0] == '' || data[row_hansontable][0] == '0')
                                tblColumns.setDataAtCell(row_hansontable, 0, '0');
                            else 
                                tblColumns.setDataAtCell(row_hansontable, 1, 'E');
                            state = 'none';
                        }
                    }
                },
            });

        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/@(ViewBag.ControllerName)/Index"],
            lstText: ["Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw( AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;
            switch (cmd) {
                case "savereturn":
                    var data = $("#frmInfo").serializeObject();
                    var dataPost = { ItemModel: data, lstColumns: tblColumns.getData(), cols_deleted: row_del_keys };

                    showloading();
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/Edit',
                        data: dataPost,
                        dataType: 'json',
                        success: function (ajresult) {
                            if (ajresult.Result_Status == 1) {
                                hideloading();
                                swal_success_redirect('Thành công', '', false, 1500, ajresult.RedirectTo);
                            }
                            else {
                                hideloading();
                                swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw( AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecopy":
                    swal({
                        title: 'Sao chép phụ lục',
                        text: 'Bạn có muốn sao chép bảng phụ lục này',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Sao chép!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value == true) {
                            $.get('/@(ViewBag.ControllerName)/CopyToNew/@(Model.dKey)', function (ajresult) {
                                if (ajresult.Result_Status == 1) {
                                    swal_success_redirect(ajresult.Result_Caption, ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                                }
                                else {
                                    show_pnotify('error', ajresult.Result_Message);
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }
            
        });

        $('#div_btns_table').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    if (row_hansontable == -1)
                        row_hansontable = tblColumns.countRows();
                    else
                        row_hansontable = row_hansontable + 1;
                    tblColumns.alter('insert_row', row_hansontable, 1);
                    //row_hansontable = hot_scroll_init.countRows();
                    tblColumns.setDataAtCell(row_hansontable, 0, '0');
                    tblColumns.setDataAtCell(row_hansontable, 1, 'N');
                    break;
                case "delete":
                    if (row_hansontable == -1)
                        break;
                    var data = tblColumns.getData();
                    if (data[row_hansontable][0] != '' && data[row_hansontable][0] != '0') {
                        row_del_keys[row_del_keys.length] = data[row_hansontable][0];
                    }

                    if (data.length == 1) {
                        var cols_count = tblColumns.getColHeader().length;
                        for (i = 0; i < cols_count; i++) {
                            tblColumns.setDataAtCell(0, i, '');
                        }
                    }
                    else {
                        tblColumns.alter('remove_row', row_hansontable);
                    }
                    show_pnotify('info', 'Đã xóa thông tin')
                    break;
                default:
                    break;
            }
        });
    });
</script>
