﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thống kê dữ liệu</h2>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row">
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-caret-square-o-right"></i>
                                </div>
                                <div class="count">@ViewBag.Employees</div>

                                <h3>Thành viên</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-comments-o"></i>
                                </div>
                                <div class="count">@ViewBag.Users</div>

                                <h3>Tài khoản</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-sort-amount-desc"></i>
                                </div>
                                <div class="count">@ViewBag.RPT_TEMPLATES</div>

                                <h3>Mẫu văn bản</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-check-square-o"></i>
                                </div>
                                <div class="count">@ViewBag.RPT_REPORTHEADER</div>

                                <h3>Báo cáo</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>

<script>
   $(this).ready(function () {
       LoadTable('ItemList', '/RPT_REPORTHEADER/LoadListHeader', 1, null, true);
    });

</script>
