﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="form_search" method="post">
    <div class="col-md-12">
        <div class="card">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tìm kiếm</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="col-sm-1  col-xs-5">
                            <label style="padding-top: 8px;" for="tungay">Từ ngày</label>
                        </div>
                        <div class="col-sm-4 col-xs-7">
                            <div class="control-group">
                                <div class="controls">
                                    <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" id="datepickerfrom" name="datepickerfrom" aria-describedby="inputSuccess2Status3">
                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1  col-xs-5">
                            <label style="padding-top: 8px;" for="denngay">Đến ngày</label>
                        </div>
                        <div class="col-sm-4 col-xs-7">
                            <div class="control-group">
                                <div class="controls">
                                    <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" id="datepickerto" name="datepickerto" aria-describedby="inputSuccess2Status3">
                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1  col-xs-5">
                            <button id="btnSearch" type="button" class="btn btn-success pull-right" style="margin-bottom: 25px;">Tìm</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thống kê dữ liệu</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div id="ItemList">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    $(this).ready(function () {
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        $('#datepickerfrom').daterangepicker({
            singleDatePicker: true,
            singleClasses: "picker_2",
            locale: {
                format: 'DD/MM/YYYY'
            },
            startDate: firstDay
        });

        $('#datepickerto').daterangepicker({
            singleDatePicker: true,
            singleClasses: "picker_2",
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
        LoadTable('ItemList', '/Statistic/LoadUserList', 1, null, true);
        $('#btnSearch').click(function () {
            LoadTable('ItemList', '/Statistic/LoadUserList', 1, null, true);
        });
    });

</script>
