﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";

    int assign_state = ViewBag.State == null ? 0 : (int)ViewBag.State;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Phân công nhập trường dữ liệu</h3>

            <div id="div_btns_values" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                @*<a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>*@
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblview">

                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-control-label col-md-2">
                    <label class="at-right">Chọn Tất cả</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("EmpAll", ViewBag.EmployeeDropdownList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_btns_actions" class="col-md-12" style="padding-top: 5px;">
                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/AssignIndex">Trở về</a>
                @{if (assign_state == 2)
                    {
                        <a class="btn btn-success btn-c1" data-cmd="unlockcomplete">Mở lại</a>
                    }
                    else if (assign_state == 1)
                    {
                        <a class="btn btn-success btn-c1" data-cmd="savecomplete">Hoàn Thành phân công</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var editstate = 'free';

        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/AssignIndex"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        var tbl_list_assigned;
        var row_tables_hson = -1;
        var lst_emp_name = @Html.Raw(Json.Encode(@ViewBag.EmployeeNameList));
        var lst_emp_key = @Html.Raw(Json.Encode(@ViewBag.EmployeeKeyList));
        lst_emp_name.unshift('(chọn)');
        lst_emp_key.unshift("0");

        $.get("/@(ViewBag.ControllerName)/GetListValuesForAssign/?ReportHeaderKey=@(Model.dKey)", function (ajresult) {
            if (ajresult.Result_Status == 1) {
                tbl_list_assigned = new Handsontable($('#tblview')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                        row_tables_hson = row;
                    },
                    afterChange: (changes) => {
                        if (editstate == 'busy')
                            return;
                        editstate = 'busy'
                        if (changes != null) {
                            //changes.forEach(([row, prop, oldValue, newValue]) => {

                            //});

                            var itemIndex = lst_emp_name.indexOf(changes[0][3]);
                            if (itemIndex != -1) {
                                tbl_list_assigned.setDataAtCell(row_tables_hson, 4, lst_emp_key[itemIndex]);
                                tbl_list_assigned.setDataAtCell(row_tables_hson, 5, 'changed');
                            }

                        }
                        editstate = 'free'
                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                tbl_list_assigned.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        if (col == 3) {
                            cellProperties.type = 'dropdown';
                            cellProperties.source = lst_emp_name
                        }
                        else {
                            cellProperties.readOnly = true;
                        }
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        $("#EmpAll").change(function () {
            var id = parseInt($(this).val());
            var itemIndex = lst_emp_key.indexOf(id);
            if (itemIndex == -1)
                itemIndex = 0;
            editstate = 'busy';
            var tblrowcount = tbl_list_assigned.countRows();
            for (row = 0; row < tblrowcount; row++) {
                tbl_list_assigned.setDataAtCell(row, 3, lst_emp_name[itemIndex]);
                tbl_list_assigned.setDataAtCell(row, 4, lst_emp_key[itemIndex]);
                tbl_list_assigned.setDataAtCell(row, 5, 'changed');
            }
            editstate = 'free';
        });

        $('#div_btns_values').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    break;
                case "delete":
                    row_tables_hson == -1;
                    var tblrowcount = tbl_list_assigned.countRows();
                    for (row = 0; row < tblrowcount; row++) {
                        tbl_list_assigned.setDataAtCell(row, 3, '(chọn)');
                        tbl_list_assigned.setDataAtCell(row, 4, '0');
                        tbl_list_assigned.setDataAtCell(row, 5, 'changed');
                    }
                    break;
                default:
                    break;
            }
        });
        $('#div_btns_actions').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "savereturn":
                    showloading();
                    var tblData = tbl_list_assigned.getData();
                    var datasave = { ReportHeaderKey: @(Model.dKey), DataAssigned: tblData};
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/SaveValuesAssigned',
                        data: datasave,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect("Đã lưu", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                            }
                            else {
                                swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecomplete":
                    swal({
                        title: 'Xác nhận hoàn thành',
                        text: 'Bạn có muốn kết thúc phân công trường dữ liệu?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Kết thúc!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            showloading();
                            var datasave = { ReportHeaderKey: @(Model.dKey) };
                            $.ajax({
                                type: 'POST',
                                url: '/@(ViewBag.ControllerName)/SaveAssignValuesComplete',
                                data: datasave,
                                dataType: 'json',
                                success: function (ajresult) {
                                    hideloading();
                                    if (ajresult.Result_Status == 1) {
                                        swal_success_redirect("Đã hoàn thành", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                    }
                                    else {
                                        swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                    }
                                },
                                error: function () {
                                    hideloading();
                                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                                }
                            });
                        }
                    });
                    break;
                case "unlockcomplete":
                    swal({
                        title: 'Xác nhận mở lại',
                        text: 'Bạn có muốn mở khóa phân công phụ lục?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Mở khóa!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            showloading();
                            $.get('/@(ViewBag.ControllerName)/SaveAssignValuesUnlock/?ReportHeaderKey=@(Model.dKey)', function (ajresult) {
                                hideloading();
                                if (ajresult.Result_Status == 1) {
                                    swal_success_redirect("Đã mở khóa", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                }
                                else {
                                    swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }
        });

    });
</script>
