﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
    int assign_state = ViewBag.State == null ? 0 : (int)ViewBag.State;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Phân công nhập phụ lục</h3>

            <div id="div_btns_tables" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                <a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblview">

                    </div>
                </div>
            </div>
            <div id="div_btns_actions" class="clearfix" style="padding-top: 5px;">
                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/AssignIndex">Trở về</a>
                @{if (assign_state == 2)
                    {
                        <a class="btn btn-success btn-c1" data-cmd="unlockcomplete">Mở lại</a>
                    }
                    else if (assign_state == 1)
                    {
                        <a class="btn btn-success btn-c1" data-cmd="savecomplete">Hoàn Thành phân công</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                }
            </div>
        </div>

    </div>
</div>

<div id="modal_tables_selection" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn Nhân Sự</h5>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div id="div_person_selection" class="row clearfix">

                </div>

            </div>
            <div class="modal-footer">
                <a class="btn bg-primary" data-cmd="submit" data-dismiss="modal">Chọn</a>
                <a class="btn bg-warning" data-dismiss="modal">Đóng</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/AssignIndex"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        var tbl_list_assigned;
        var row_tables_hson = -1;
        $.get("/@(ViewBag.ControllerName)/GetListTablesForAssign/?ReportHeaderKey=@(Model.dKey)", function (ajresult) {
            if (ajresult.Result_Status == 1) {
                tbl_list_assigned = new Handsontable($('#tblview')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                        row_tables_hson = row;
                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                tbl_list_assigned.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        cellProperties.readOnly = true;
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        $('#div_btns_tables').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    if (row_tables_hson == -1)
                        break;

                    var tblData = tbl_list_assigned.getData();

                    var dataTree = { ReportHeaderKey: @(Model.dKey), TemplateHeaderKey: tblData[row_tables_hson][0], lst_person_checked: tblData[row_tables_hson][1] };
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/TreePersonAssign',
                        data: dataTree,
                        dataType: 'json',
                        success: function (ajresult) {
                            if (ajresult.Result_Status == 1) {
                                $('#div_person_selection').empty();
                                $('#div_person_selection').html(ajresult.Data);
                                $('#modal_tables_selection').modal('toggle');
                            }
                        },
                        error: function () {
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "delete":
                    if (row_tables_hson == -1)
                        break;

                    tbl_list_assigned.setDataAtCell(row_tables_hson, 1, '');
                    tbl_list_assigned.setDataAtCell(row_tables_hson, 3, '');
                    tbl_list_assigned.setDataAtCell(row_tables_hson, 4, 'changed');
                    break;
                default:
                    break;
            }
        });
        $('#div_btns_actions').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            switch (cmd) {
                case "savereturn":
                    showloading();
                    var tblData = tbl_list_assigned.getData();
                    var datasave = { ReportHeaderKey: @(Model.dKey), DataAssigned: tblData };
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/SaveTablesAssigned',
                        data: datasave,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect("Đã lưu", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                            }
                            else {
                                swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecomplete":
                    swal({
                        title: 'Xác nhận hoàn thành',
                        text: 'Bạn có muốn kết thúc phân công phụ lục? Bạn nên lưu lại dữ liệu trước khi thực hiện thao tác này.',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Kết thúc!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            showloading();
                            var datasave = { ReportHeaderKey: @(Model.dKey) };
                            $.ajax({
                                type: 'POST',
                                url: '/@(ViewBag.ControllerName)/SaveAssignTablesComplete',
                                data: datasave,
                                dataType: 'json',
                                success: function (ajresult) {
                                    hideloading();
                                    if (ajresult.Result_Status == 1) {
                                        swal_success_redirect("Đã hoàn thành", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                    }
                                    else {
                                        swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                    }
                                },
                                error: function () {
                                    hideloading();
                                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                                }
                            });
                        }
                    });
                    break;
                case "unlockcomplete":
                    swal({
                        title: 'Xác nhận mở lại',
                        text: 'Bạn có muốn mở khóa phân công phụ lục?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Mở khóa!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            showloading();
                            $.get('/@(ViewBag.ControllerName)/SaveAssignTablesUnlock/?ReportHeaderKey=@(Model.dKey)', function (ajresult) {
                                hideloading();
                                if (ajresult.Result_Status == 1) {
                                    swal_success_redirect("Đã mở khóa", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                }
                                else {
                                    swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }
        });

        $('#div_person_selection').on('change', 'input[type=checkbox]', function () {
            var chkstate = $(this).prop("checked");
            var parentnote = $(this).attr("data-parent");
            if (parentnote == null || parentnote == '') {
                //top-most parent
                var lst_children = $(this).closest('li').find('input[type=checkbox]').get();
                if (lst_children.length > 0) {
                    $.each(lst_children, function () {
                        $(this).prop('checked', chkstate);
                    });
                }
            }
            else {
                //this is child
                if (chkstate)
                    $("#" + parentnote).prop('checked', chkstate);
            }
        });

        $('#modal_tables_selection .modal-footer').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "submit":
                    var keyStr = '';
                    var nameStr = '';
                    $('#div_person_selection').find('input[type=checkbox]:checked').each(function () {
                        var p_id = $(this).attr('data-parent');
                        if (p_id != null && p_id != '') {
                            keyStr += (keyStr == '' ? '' : ', ') + $(this).attr('data-key');
                            nameStr += (nameStr == '' ? '' : ', ') + $(this).attr('data-desc');
                        }
                    });
                    tbl_list_assigned.setDataAtCell(row_tables_hson, 1, keyStr);
                    tbl_list_assigned.setDataAtCell(row_tables_hson, 3, nameStr);
                    tbl_list_assigned.setDataAtCell(row_tables_hson, 4, 'changed');
                    break;
                default:
                    break;
            }
        });
    });
</script>
