﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";

    DateTime _fromdate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime _todate = _fromdate.AddMonths(1).AddDays(-1);
}

<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Nhật ký phân công nhập liệu</h6>
        <a id="btnSearch" class="btn btn-default btn100-action at-right" data-cmd="search"><i class="mi-2x mi-search"></i></a>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="row clearfix">
                <div class="col-md-2">
                    <label class="at-right">Từ</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("FromDate", AutoReport.Utils.TextUtil.ToTextFormat(_fromdate, null), new { @class = "form-control pickadate-selectors" })
                </div>
                <div class="col-md-2">
                    <label class="at-right">Đến</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("ToDate", AutoReport.Utils.TextUtil.ToTextFormat(_todate, null), new { @class = "form-control pickadate-selectors" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="hot-container hot-scrollable">
                <div id="tblview">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index"],
            lstText: ["Trang Chủ"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $('.pickadate-selectors').pickadate({
            selectYears: true,
            selectMonths: true,
            format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToLower())'
        });

        var tbl_list_assigned;
        $('#btnSearch').click(function () {
            $.get("/@(ViewBag.ControllerName)/GetListAssignLog/?StrFromDate=" + $('#FromDate').val() + "&StrToDate=" + $('#ToDate').val(), function (ajresult) {
                if (ajresult.Result_Status == 1) {
                    tbl_list_assigned = new Handsontable($('#tblview')[0], {
                        data: ajresult.Data.Source,
                        stretchH: 'all',
                        rowHeaders: true,
                        colHeaders: ajresult.Data.HeadersCaption,
                        hiddenColumns: {
                            columns: ajresult.Data.ColumnsHidden
                        },
                        licenseKey: 'non-commercial-and-evaluation'
                    });

                    tbl_list_assigned.updateSettings({
                        cells: function (row, col) {
                            var cellProperties = {};
                            cellProperties.readOnly = true;
                            return cellProperties;
                        }
                    });
                }
                else {
                    show_pnotify('error', ajresult.Result_Message);
                }

            });
        });

        $('#btnSearch').click();
    });
</script>
