﻿@model AutoReport.Models.REPORTS_HEADERS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Tạo Báo Cáo</h6>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Chọn Mẫu <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.TemplateKey, ViewBag.TemplateList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mã Báo Cáo <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tên Báo Cáo <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tháng</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.RptMonth, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Năm</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.RptYear, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ngày Bắt Đầu</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DateStart", Model.DateStart == null ? "" : AutoReport.Utils.TextUtil.ToTextFormat(Model.DateStart, null), new { @class = "form-control pickadate-selectors" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ngày Kết Thúc</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DateEnd", Model.DateEnd == null ? "" : AutoReport.Utils.TextUtil.ToTextFormat(Model.DateEnd, null), new { @class = "form-control pickadate-selectors" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ghi Chú</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="model-footer">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Người tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">-----</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Người cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">-----</label>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Ngày tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">--/--/----</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Ngày cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">--/--/----</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div id="div_btns" class="clearfix">
                        <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="save_edit">Lưu</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="save_new">Lưu & Thêm Mới</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Danh Sách Phụ Lục</h3>

            @*<div id="div_btns_tables" class="at-right">
                    <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                    <a class="btn btn-default btn100-action at-right" data-cmd="add" data-toggle="modal" data-target="#modal_tables_selection"><i class="mi-2x mi-add"></i></a>
                </div>*@
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblTables"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Danh Sách Trường Dữ Liệu</h3>

            @*<div id="div_btns_values" class="at-right">
                    <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                    <a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>
                </div>*@
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblValues">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        $('.pickadate-selectors').pickadate({
            selectYears: true,
            selectMonths: true,
            format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToLower())'
        });
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/Index"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        var datatable_Tables;
        var datatable_Values;
        $("#TemplateKey").change(function () {
            showloading();
            $.get('/@(ViewBag.ControllerName)/TemplateEditValueChanged_Info/?TemplateHeaderKey=' + this.value, function (ajresult) {
                if (ajresult.Result_Status == 1) {
                    $("#ItemCode").val(ajresult.Data.ItemCode);
                    $("#ItemName").val(ajresult.Data.ItemName);
                }
                else {
                    show_pnotify('error', ajresult.Result_Message);
                }
            });

            //get tables list
            $.get('/@(ViewBag.ControllerName)/TemplateEditValueChanged_Tables/?TemplateHeaderKey=' + this.value, function (ajresult) {
                if (ajresult.Result_Status == 1) {
                    datatable_Tables = new Handsontable($('#tblTables')[0], {
                        data: ajresult.Data.Source,
                        stretchH: 'all',
                        rowHeaders: true,
                        colHeaders: ajresult.Data.HeadersCaption,
                        hiddenColumns: {
                            columns: ajresult.Data.ColumnsHidden,
                            indicators: true
                        },
                        afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                        },
                        licenseKey: 'non-commercial-and-evaluation'
                    });

                    datatable_Tables.updateSettings({
                        cells: function (row, col) {
                            var cellProperties = {};
                            cellProperties.readOnly = true;
                            return cellProperties;
                        }
                    });
                }
                else {
                    show_pnotify('error', ajresult.Result_Message);
                }
            });

            //get valuesconst list
            $.get('/@(ViewBag.ControllerName)/TemplateEditValueChanged_Values/?TemplateHeaderKey=' + this.value, function (ajresult) {
                if (ajresult.Result_Status == 1) {
                    datatable_Values = new Handsontable($('#tblValues')[0], {
                        data: ajresult.Data.Source,
                        stretchH: 'all',
                        rowHeaders: true,
                        colHeaders: ajresult.Data.HeadersCaption,
                        hiddenColumns: {
                            columns: ajresult.Data.ColumnsHidden,
                            indicators: true
                        },
                        afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                        },
                        licenseKey: 'non-commercial-and-evaluation'
                    });

                    datatable_Values.updateSettings({
                        cells: function (row, col) {
                            var cellProperties = {};
                            cellProperties.readOnly = true;
                            return cellProperties;
                        }
                    });
                }
                else {
                    show_pnotify('error', ajresult.Result_Message);
                }
                hideloading();
            });

        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;
            var datavalue_tables = datatable_Tables.getData();
            var datavalue_valuesconst = datatable_Values.getData();

            var data = $("#frmInfo").serializeObject();
            var dataPost = { ItemModel: data, TemplateTables: datavalue_tables, TemplateValues: datavalue_valuesconst, SaveType: cmd };

            showloading();
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                    }
                    else {
                        swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                    }
                },
                error: function () {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
        });

    });
</script>
