﻿@model AutoReport.Models.REPORTS_HEADERS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Sửa Báo Cáo</h6>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mẫu báo cáo</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.TemplateKey, ViewBag.TemplateList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mã Báo Cáo <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tên Báo Cáo <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tháng</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.RptMonth, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Năm</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.RptYear, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ngày Bắt Đầu</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DateStart", Model.DateStart == null ? "" : AutoReport.Utils.TextUtil.ToTextFormat(Model.DateStart, null), new { @class = "form-control pickadate-selectors" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ngày Kết Thúc</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DateEnd", Model.DateEnd == null ? "" : AutoReport.Utils.TextUtil.ToTextFormat(Model.DateEnd, null), new { @class = "form-control pickadate-selectors" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ghi Chú</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="model-footer">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Người tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.CreatedBy)</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Người cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.ModifiedBy)</label>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Ngày tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.CreatedOn == null ? "--/--/----" : Model.CreatedOn.Value.ToString(AutoReport.Utils.TextUtil.DateFormat_L))</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Ngày cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">@(Model.ModifiedOn == null ? "--/--/----" : Model.ModifiedOn.Value.ToString(AutoReport.Utils.TextUtil.DateFormat_L))</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div id="div_btns" class="clearfix">
                        <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                        @if (Model.ApproveStatus == 4)
                        {
                            <a class="btn btn-primary btn-c1 at-right" data-cmd="savecopy">Sao Chép</a>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Danh Sách Phụ Lục</h3>

            @*<div id="div_btns_tables" class="at-right">
                    <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                    <a class="btn btn-default btn100-action at-right" data-cmd="add" data-toggle="modal" data-target="#modal_tables_selection"><i class="mi-2x mi-add"></i></a>
                </div>*@
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblTables"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Danh Sách Trường Dữ Liệu</h3>

            @*<div id="div_btns_values" class="at-right">
                    <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                    <a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>
                </div>*@
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblValues">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modal_copy_options" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tùy chọn sao chép</h5>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div id="div_copy_options" class="row clearfix">
                    <ul class="ultree">
                        <li aria-expanded="true">
                            <input type="checkbox" class="fancytree-checkbox" id="chk_reportschema" checked disabled />
                            <label for="chk_reportschema" class="fancytree-title">Cấu trúc báo cáo <font color="red">(*)</font></label>
                        </li>
                        <li aria-expanded="true">
                            <input type="checkbox" class="fancytree-checkbox" id="chk_reportdata" checked />
                            <label for="chk_reportdata" class="fancytree-title">Dữ liệu hiện tại</label>
                        </li>

                        <li aria-expanded="true">
                            <input type="checkbox" class="fancytree-checkbox" id="chk_reportassign" checked disabled />
                            <label for="chk_reportassign" class="fancytree-title">Nhân sự đã phân công</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn bg-primary" data-cmd="submit" data-dismiss="modal">Thực hiện</a>
                <a class="btn bg-warning" data-dismiss="modal">Đóng</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        $('.pickadate-selectors').pickadate({
            selectYears: true,
            selectMonths: true,
            format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToLower())'
        });

        //get tables list
        var datatable_Tables;
        $.get('/@(ViewBag.ControllerName)/TemplateEditValueChanged_Tables/?TemplateHeaderKey=@(Model.TemplateKey)', function (ajresult) {
            if (ajresult.Result_Status == 1) {
                datatable_Tables = new Handsontable($('#tblTables')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden,
                        indicators: true
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                datatable_Tables.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        cellProperties.readOnly = true;
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        //get valuesconst list
        var datatable_Values;
        $.get('/@(ViewBag.ControllerName)/TemplateEditValueChanged_Values/?TemplateHeaderKey=@(Model.TemplateKey)', function (ajresult) {
            if (ajresult.Result_Status == 1) {
                datatable_Values = new Handsontable($('#tblValues')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden,
                        indicators: true
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                datatable_Values.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        cellProperties.readOnly = true;
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
            hideloading();
        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/Index"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            switch (cmd) {
                case "savereturn":
                    var data = $("#frmInfo").serializeObject();
                    var dataPost = { ItemModel: data };

                    showloading();
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/Edit',
                        data: dataPost,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                            }
                            else {
                                swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecopy":
                    $('#modal_copy_options').modal("toggle");
                    break;
                default:
                    break;
            }

        });

        $('#div_copy_options').on('change', 'input[type=checkbox]', function () {
            var id = this.id;
            var check = this.checked;

            if (id == 'chk_reportdata') {
                if (check) {
                    $('#chk_reportassign').prop('checked', check);
                }
                $('#chk_reportassign').prop('disabled', check);
            }

        });

        $('#modal_copy_options .modal-footer').on('click', 'a', function () {
            var cmd = $(this).attr('data-id');
            switch (cmd) {
                case "submit":
                    var chk_data = $('#chk_reportdata').prop('checked');
                    var chk_assign = $('#chk_reportassign').prop('checked');
                    showloading();
                    var dataPost = { ReportHeaderKey: @(Model.dKey), CopyData: chk_data, CopyAssign: chk_assign };
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/SaveCopyHeader',
                        data: dataPost,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                default:
                    break;
            }
        });
    });
</script>
