﻿@model AutoReport.Models.Items_String
@{
    Layout = null;

}
<style>
    .form-group {
        margin: -14px 0 0;
        margin-bottom: 20px;
    }
</style>
<div id="DLA_CreateDocument">
    @Html.HiddenFor(model => model.ItemID)
    <form id="form1" class="form-horizontal form-label-left" style="padding-top: 10px;">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên trường</label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
            </div>
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Giá trị</label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(model => model.ItemContent, new { @class = "form-control" })
            </div>
        </div>
    </form>
</div>