﻿@model AutoReport.Models.RPT_REPORTHEADER
@{
    ViewBag.Title = "Work Desk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span {
        font-size: 18px;
        vertical-align: top !important;
    }

    .chklocal {
        width: 20px;
        height: 20px;
    }
</style>

<!-- Wizard -->
<script src="/js/jquery.smartWizard.js"></script>
<link href="/css/smart_wizard.css" rel="stylesheet">
<link href="/css/smart_wizard_theme_arrows.css" rel="stylesheet">

<!-- Multi Select Dropdown -->
<!-- https://github.com/nobleclem/jQuery-MultiSelect -->
<script src="/Custom/multiselect/jquery.multiselect.js"></script>
<link href="/Custom/multiselect/jquery.multiselect.css" rel="stylesheet">

<div class="container">
    <!-- External toolbar sample -->
    <div class="row d-flex align-items-center p-3 my-3 text-white-50">
        <div class="col-12 col-lg-6 col-sm-12">
            <div class="btn-group col-lg-6 col-sm-12" role="group">
            </div>
        </div>
    </div>
    <!-- SmartWizard html -->
    <div class="x_title">
        <h2>Tạo Báo Cáo</h2>
        <div class="clearfix"></div>
    </div>
    <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Bước 1<br /><h2>Chọn mẫu báo cáo</h2></a></li>
                <li><a href="#step-2">Bước 2<br /><h2>Thông tin báo cáo</h2></a></li>
                <li><a href="#step-3">Bước 3<br /><h2>Phân công nhập dữ liệu</h2></a></li>
                <li><a href="#step-4">Bước 4<br /><h2>Phân công nhập phụ lục</h2></a></li>
                <li><a href="#step-5">Bước 5<br /><h2>Kết thúc</h2></a></li>
            </ul>

            <div style="margin-top: 8px;">
                <div id="step-1">

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Mẫu Báo Cáo</h2>
                            <a class="btn btnwz-next btn-success pull-right" data-id="1n">Tiếp @(">>") </a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row clearfix">
                                <div class="form-control-label col-sm-1 col-md-1 col-lg-1">
                                    <label>Chọn <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.Rpt_TemplatesKey, ViewBag.TemplatesList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div id="step-2" class="">

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thông tin báo cáo</h2>
                            <a class="btn btnwz-next btn-success pull-right" data-id="2n">Tiếp @(">>") </a>
                            <a class="btn btnwz-prev btn-default pull-right" data-id="2p"> @("<<") Quay Lại</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Mã Báo Cáo <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Rpt_ID, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Tên Báo Cáo <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Tháng <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Rpt_Month, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Năm <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Rpt_Year, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Ngày bắt đầu <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DLA_DateFor(model => model.DateStart)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Ngày kết thúc <font color="red">(*)</font></label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DLA_DateFor(model => model.DateEnd)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Ghi Chú</label>
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="step-3" class="">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Phân công nhập trường</h2>
                            <a class="btn btnwz-next btn-success pull-right" data-id="3n">Tiếp @(">>") </a>
                            <a class="btn btnwz-prev btn-default pull-right" data-id="3p"> @("<<") Quay Lại</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Chọn người nhập<font color="red"> (*)</font></label>
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownList("EmployeeSelected", ViewBag.EmployeeList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>

                                <a id="btn_add_user_value" class="btn btn-success pull-right">Phân Công</a>
                                <a id="btn_clear_user_value" class="btn btn-success pull-right">Nhập Lại</a>
                            </div>

                            <div class="row clearfix">
                                @Html.CheckBox("chkall", false, new { @class = "chklocal" })
                                <span>(Chọn tất cả)</span>
                            </div>
                            <div class="x_content">

                                @*value const enlist*@
                                <div id="value_enlist" class="row clearfix" style="overflow-y: scroll; max-height:400px;">

                                </div>
                                <div class="row clearfix">
                                </div>
                            </div>

                            <div class="x_title">
                                <h2>Danh sách đã phân công</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div id="value_listed" class="row clearfix">
                                    <table style="line-height: 1.4; width: 100%;" class="col-sm-12 table table-hover table-striped bulk_action">
                                        <thead>
                                            <tr>
                                                <th align="center" width="1%" style="display: none;">
                                                    Template Value Const Key
                                                </th>
                                                <th align="center" width="20%">
                                                    Mã Dữ Liệu
                                                </th>
                                                <th align="center" width="50%">
                                                    Mô Tả
                                                </th>
                                                <th align="center" width="28%">
                                                    Người Nhập
                                                </th>
                                                <th align="center" width="1%" style="display: none;">
                                                    EmployeeKey
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="row clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="step-4" class="">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Phân công nhập phụ lục</h2>
                            <a class="btn btnwz-next btn-success pull-right" data-id="4n">Tiếp @(">>") </a>
                            <a class="btn btnwz-prev btn-default pull-right" data-id="4p"> @("<<") Quay Lại</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div id="table_list" class="row clearfix">
                                <table style="line-height: 1.4; width: 100%;" class="col-sm-12 table table-hover table-striped bulk_action">
                                    <thead>
                                        <tr>
                                            <th align="center" width="1%" style="display: none;">
                                                Mã Phụ Lục
                                            </th>
                                            <th align="center" width="60%">
                                                Tên Phụ Lục
                                            </th>
                                            <th align="center" width="38%">
                                                Người Nhập
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="step-5" class="">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Hoàn Thành</h2>
                            <a class="btn btnwz-next btn-success pull-right" data-id="5n">Kết Thúc </a>
                            <a class="btn btnwz-prev btn-default pull-right" data-id="5p"> @("<<") Quay Lại</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h2>Thiết lập báo cáo hoàn tất! Nhấn Kết Thúc để lưu dữ liệu</h2>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </form>
</div>

<script>
    $(this).ready(function () {
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {

            $("#smartwizard .sw-btn-prev").addClass('disabled');
            if (stepPosition === 'final') {
                $("#smartwizard .sw-btn-next").addClass('disabled');
            }
            else {
                $("#smartwizard .sw-btn-next").removeClass('disabled');
            }

            if (stepPosition != 'first')
                $("#smartwizard .sw-btn-prev").removeClass('disabled');

            //if (stepPosition === 'first') {
            //    $("#prev-btn").addClass('disabled');
            //} else if (stepPosition === 'final') {
            //    $("#next-btn").addClass('disabled');
            //} else {
            //    $("#prev-btn").removeClass('disabled');
            //    $("#next-btn").removeClass('disabled');
            //}
        });

        // Toolbar extra buttons
        //var btnFinish = $('<button></button>').text('Finish')
        //    .addClass('btn btn-info')
        //    .on('click', function () { alert('Finish Clicked'); });
        //var btnCancel = $('<button></button>').text('Cancel')
        //    .addClass('btn btn-danger')
        //    .on('click', function () { $('#smartwizard').smartWizard("reset"); });

        // Smart Wizard
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'arrows',
            transitionEffect: 'fade',
            showStepURLhash: true,
            lang: { // Language variables for button
                next: 'Tiếp',
                previous: 'Quay Lại'
            },
            toolbarSettings: {
                toolbarPosition: 'none',
                toolbarButtonPosition: 'end',
                showNextButton: true, // show/hide a Next button
                showPreviousButton: true, // show/hide a Previous button
                //toolbarExtraButtons: [btnFinish, btnCancel]
            }
        });

        // External Button Events
        $("#reset-btn").on("click", function () {
            // Reset wizard
            $('#smartwizard').smartWizard("reset");
            return true;
        });

        $('#smartwizard').smartWizard("reset");

        $('#smartwizard').on('click', '.btnwz-next, .btnwz-prev', function () {
            var step = $(this).attr("data-id");

            var formdata = $("#frmInfo").serializeObject();
            //formdata["Rpt_TemplatesKey"] = $("#Rpt_TemplatesKey").val();

            var dataPost = { itemrpt: formdata, stepname: step };

            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Wizard_Step_Changed',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    if (data.status === 1) {
                        if (data.stepnext === '2n') {
                            $('#Rpt_ID').val(data.model.Rpt_ID);
                            $('#Rpt_Name').val(data.model.Rpt_Name);
                            $('#Rpt_Month').val(data.model.Rpt_Month);
                            $('#Rpt_Year').val(data.model.Rpt_Year);

                        } else if (data.stepnext === '3n') {
                            //work only if from prev to next
                            if (data.stepcurrent === '2n')
                                $("#value_enlist").html(data.codehtml);
                        } else if (data.stepnext === '4n') {
                            //work only if from prev to next
                            if (data.stepcurrent === '3n')

                                $("#table_list tbody").html(data.codehtml);

                            $('#table_list tbody select[multiple]').each(function () {
                                $(this).multiselect({
                                    columns: 4,
                                    search: true,
                                    selectAll: true,
                                    texts: {
                                        placeholder: 'Chọn người nhập',
                                        search: 'Tìm',
                                        selectAll: '(Tất cả)',
                                        unselectAll: '(Bỏ chọn)',
                                        selectedOptions: ' mục đã chọn'
                                    }
                                });
                            });
                        }
                        else if (data.stepnext === 'fn') {
                            showLoading();
                            //lưu trường dữ liệu
                            var arr_values = new Array();
                            $("#value_listed table tbody tr").each(function () {
                                var arr_td = [];
                                $(this).find('td').each(function () {
                                    arr_td[arr_td.length] = this.innerText;
                                });

                                arr_values.push(arr_td);
                            });

                            //lưu phụ lục
                            var arr_tbl = new Array();
                            $("#table_list table tbody tr").each(function () {
                                var col_index = 1;
                                var tblindex_key = '';
                                $(this).find('td').each(function () {
                                    if (col_index > 3)
                                        col_index = 1;

                                    if (col_index == 1)
                                        tblindex_key = this.innerText;
                                    else if (col_index == 3) {
                                        $(this).find('select[multiple] :selected').each(function () {
                                            arr_tbl.push(new Array(tblindex_key, this.value));
                                        });
                                    }
                                    col_index++;
                                });
                            });

                            var datafn = { ItemModel: formdata, enlisted_values: arr_values, enlisted_tbl: arr_tbl };
                            $.ajax({
                                type: 'POST',
                                url: '/@(ViewBag.ControllerName)/Wizard_Save_Data',
                                data: datafn,
                                dataType: 'json',
                                success: function (fnresult) {
                                    hideLoading();
                                    if (fnresult.intStatus == 1) {
                                        swal_success(fnresult.strMess, null, 1500);
                                        window.location = fnresult.redirectlink;
                                    }
                                    else {
                                        swal_error(fnresult.strMess, null, 1500);
                                    }
                                },
                                error: function (fnresult) {
                                    hideLoading();
                                    showError(fnresult.strMess);
                                }
                            });
                        }
                        $('#smartwizard').smartWizard(data.stepperform);
                    }
                    else {
                        swal_error(data.message, null, 1500);
                    }
                },
                error: function (data) {
                    showError(data.message);
                }
            });
        });

        $("#chkall").change(function () {
            var checked = this.checked;

            $('#value_enlist :checkbox').each(function () {
                if (!this.disabled)
                    this.checked = checked;
            });
        });

        $('#value_enlist').on('change', ':checkbox', function () {
            var checked = this.checked;
            if (checked == false)
                $("#chkall")[0].checked = false;
            else {
                var chkitem_all = $('#value_enlist :checkbox').length;
                var chkitem_checked = $('#value_enlist :checkbox:checked').length;
                $("#chkall")[0].checked = chkitem_all == chkitem_checked;
            }
        });

        $("#btn_add_user_value").click(function () {
            var empKey = $("#EmployeeSelected").val();
            var empName = $("#EmployeeSelected option:selected").text();

            if (empKey == '') {
                swal_error('Chưa chọn người nhập');
                return;
            }

            showLoading();
            $('#value_enlist :checkbox:checked').each(function () {
                var dataid = this.attributes["data-id"].nodeValue;//template detail value key
                var datacode = this.attributes["data-code"].nodeValue;//values const code
                var datadesc = this.attributes["data-desc"].nodeValue;//values const name

                var codehtml = '<tr>';
                codehtml += '<td width="1%" style="display: none;">' + dataid + '</td>';
                codehtml += '<td>' + datacode + '</td>';
                codehtml += '<td>' + datadesc + '</td>';
                codehtml += '<td>' + empName + '</td>';
                codehtml += '<td width="1%" style="display: none;">' + empKey + '</td>';

                $("#value_listed tbody").append(codehtml);

                this.disabled = true;
                this.checked = false;
            });
            hideLoading();

            $("#EmployeeSelected").val('');
            $("#chkall")[0].checked = false;
        });

        $("#btn_clear_user_value").click(function () {
            showLoading();
            $("#EmployeeSelected").val('');
            $("#chkall")[0].checked = false;
            $("#value_listed tbody").empty();
            $('#value_enlist :checkbox').each(function () {
                this.disabled = false;
                this.checked = false;
            });
            hideLoading();
        });
    });

</script>