﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="/build/css/"/>*@

@*https://www.jqueryscript.net/form/Autocomplete-Dropdown-List-Plugin-jQuery.html*@

@*<link href="/css/autocompleteDropdown.css" rel="stylesheet" type="text/css" />*@
@*<script src="/js/jquery.autocompleteDropdown.js"></script>*@

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo Báo Cáo</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*info*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Rpt_ReportHeaderKey)

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mẫu Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DropDownListFor(model => model.Rpt_TemplatesKey, ViewBag.TemplatesList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mã Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_ID, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tên Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tháng <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Month, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Năm <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Year, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ngày bắt đầu <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DLA_DateFor(model => model.DateStart)
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ngày kết thúc <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DLA_DateFor(model => model.DateEnd)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ghi Chú</label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = "5" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>



                            </div>

                            @*table trường dữ liệu*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường dữ liệu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList" class="row clearfix" style="overflow-y: scroll; min-height:50px; max-height: 500px;">

                                        </div>
                                    </div>


                                </div>

                            </div>

                            @*table danh sách bảng phụ lục*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng Phụ lục</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        var tbl_value_const;

        $("#Rpt_TemplatesKey").change(function () {
            $.get("/@(ViewBag.ControllerName)/LoadValueList_New?TemplatesKey=" + this.value, function (dataresult) {
                $("#ValueList").empty();
                tbl_value_const = $("#ValueList").editTable({
                    data: dataresult["datagrid"].Data,
                    headerCols: dataresult["datagrid"].Header,
                    action: dataresult["datagrid"].ShowAction,
                    delrow: function (row) {
                    },
                });

                $("#Rpt_ID").val(dataresult["templateid"]);
                $("#Rpt_Name").val(dataresult["templatename"]);

            });
            

            $("#ItemList").empty();
            LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadTableList_New?SearchKey=' + this.value, 1, null, true);
        });

        $("#btn_Save").click(function () {
            //for (instance in CKEDITOR.instances)
            //    CKEDITOR.instances[instance].updateElement();
            showLoading();
            var data = $("#frmInfo").serializeObject();

            var tbl_values = tbl_value_const.getData();
           
            var dataPost = { iteminfo: data, lst_item_const: tbl_values};
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal_success(data.strMess, false, 1500);
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_ReportHeaderKey;
                    }
                    else {
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });

        });

    });
</script>

