﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RPT_REPORTHEADER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rpt_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rpt_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rpt_Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rpt_Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rpt_TemplatesKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rpt_TemplatesKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
