﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="/build/css/"/>*@
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Xem Thông Tin</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*info*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Rpt_ReportHeaderKey)

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mẫu Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DropDownListFor(model => model.Rpt_TemplatesKey, ViewBag.TemplatesList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true", @disabled = "true" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @if (Model.FileReference != null)
                                                    {
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                                <a href="@Html.Raw(Model.FileReference)"><u>Tải File văn bản</u></a>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mã Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_ID, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tên Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tháng <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Month, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Năm <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Year, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ngày bắt đầu <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DLA_DateFor(model => model.DateStart)
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ngày kết thúc <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DLA_DateFor(model => model.DateEnd)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ghi Chú</label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = "5" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>



                            </div>

                            @*table trường dữ liệu*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường dữ liệu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList">

                                        </div>

                                    </div>

                                </div>

                            </div>

                            @*table danh sách bảng phụ lục*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng Phụ lục</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                <a id="btn_Copy" class="btn btn-primary pull-right" style="margin-bottom: 25px;">Sao Chép</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_Copy">
    <div class="modal fade" id="Modal_Copy" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">


                            <div id="DLA_Copy">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnReportCopy" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Đồng ý</a>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(this).ready(function () {


        $.get("/@(ViewBag.ControllerName)/LoadValueList_Edit?RptHeaderKey=" + $("#Rpt_ReportHeaderKey").val(), function (datahtml) {
            $("#ValueList").empty();
            $("#ValueList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                },
            });
        });

        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadTableList_View?SearchKey=' + $("#Rpt_ReportHeaderKey").val(), 1, null, true);

        $("#btn_Copy").click(function () {
            $("#DLA_Ajax_Modal_Copy #DLA_Copy").html("Đang tải dữ liệu....");
            $.get('/@(ViewBag.ControllerName)/RptReportCopyNew', function (data) {
                $("#DLA_Ajax_Modal_Copy #DLA_Copy").html(data);
            });

            $("#Modal_Copy").modal();
        });

        $("#btnReportCopy").on('click', function () {
            var chkall = $("#DLA_Ajax_Modal_Copy #DLA_Copy #chk_schemadata")[0].checked;

            $.get('/@(ViewBag.ControllerName)/CopyToNew?id=' + $("#Rpt_ReportHeaderKey").val() + '&copyall=' + chkall, function (data) {
                if (data.intStatus == "1") {
                    swal({
                        position: 'center',
                        type: 'success',
                        title: 'Đã sao chép!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    //showSuccess(data.strMess);
                    window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_ReportHeaderKey;
                }
                else {
                    showError(data.strMess);
                }
            });

            $("#Modal_Copy").modal('hide');
        });
    });

</script>

