﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="/build/css/"/>*@
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Điều Chỉnh Thông Tin</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*info*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Rpt_ReportHeaderKey)

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mẫu Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DropDownListFor(model => model.Rpt_TemplatesKey, ViewBag.TemplatesList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true", @disabled = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mã Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_ID, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tên Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tháng <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Month, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Năm <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Year, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ngày bắt đầu <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DLA_DateFor(model => model.DateStart)
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ngày kết thúc <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DLA_DateFor(model => model.DateEnd)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ghi Chú</label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = "5" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>

                            @*table trường dữ liệu*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường dữ liệu</h2>
                                        <a id="btn_EnlistValues" class="btn btn-success pull-right" href="/@(ViewBag.ControllerName)/EnlistUsersValueConst/@(Model.Rpt_ReportHeaderKey)">Phân công</a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList" class="row clearfix" style="overflow-y: scroll; min-height:50px; max-height: 500px;">

                                        </div>
                                    </div>

                                </div>

                            </div>

                            @*table danh sách bảng phụ lục*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng Phụ lục</h2>
                                        @*<a id="btn_addtableindex" class="btn btn-primary pull-right" style="margin-right: 5px;">Thêm PL</a>*@
                                        <a id="btn_EnlistTables" class="btn btn-success pull-right" href="/@(ViewBag.ControllerName)/EnlistUsersTableIndex/@(Model.Rpt_ReportHeaderKey)">Phân công</a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">

                                <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                                <a id="btn_Copy" class="btn btn-primary pull-right" style="margin-bottom: 25px;">Sao Chép</a>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_Copy">
    <div class="modal fade" id="Modal_Copy" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">

                            <div id="DLA_Copy">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnReportCopy" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Đồng ý</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_PLAdd">
    <div class="modal fade" id="Modal_PLAdd" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">


                            <div id="DLA_PLAdd">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnPLAdd" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Đồng ý</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        var tbl_value_const;
        var tbl_value_const_item_deleted = [];

        $.get("/@(ViewBag.ControllerName)/LoadValueList_Edit?RptHeaderKey=" + $("#Rpt_ReportHeaderKey").val(), function (datahtml) {
            $("#ValueList").empty();
            tbl_value_const = $("#ValueList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                    //value of row begins from 1
                    if (this.data[row - 1][0] != "")
                        tbl_value_const_item_deleted[tbl_value_const_item_deleted.length] = this.data[row - 1][0];
                },
            });
        });

        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadTableList_Edit?SearchKey=' + $("#Rpt_ReportHeaderKey").val(), 1, null, true);

        $("#btn_Save").click(function () {
            //for (instance in CKEDITOR.instances)
            //    CKEDITOR.instances[instance].updateElement();

            showLoading();
            var formserial = $("#frmInfo").serializeObject();

            var tbl_values = tbl_value_const.getData();

            var dataPost = { iteminfo: formserial, lst_item_const: tbl_values, lst_item_const_id_deleted: tbl_value_const_item_deleted };

            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Edit',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        var formData = new FormData($("#frmInfo")[0]);
                        $.ajax({
                            url: '/@(ViewBag.ControllerName)/UploadNewFile/?id=' + data.Data.Rpt_ReportHeaderKey,
                            type: 'POST',
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function (response) {
                                hideLoading();
                                if (response.intStatus > 0) {
                                    swal_success(data.strMess, false, 1500);
                                    window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_ReportHeaderKey;
                                }
                                else {
                                    swal_error(response.strMess);
                                }
                            },
                            error: function (response) {
                                showError(response.strMess);
                            }
                        });

                    }
                    else {
                        swal_error(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });
        });

        $("#btn_Copy").click(function () {
            $("#DLA_Ajax_Modal_Copy #DLA_Copy").html("Đang tải dữ liệu....");
            $.get('/@(ViewBag.ControllerName)/RptReportCopyNew', function (data) {
                $("#DLA_Ajax_Modal_Copy #DLA_Copy").html(data);
            });

            $("#Modal_Copy").modal();
        });

        $("#ItemList").on('click', '.btndeltbl', function () {
            var id = $(this).attr("data-id");
            swal({
                title: 'Xóa phụ lục đã chọn?',
                text: "Thao tác này không thể hoàn tác!",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Không! Giữ lại',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Vâng! Xóa nó',
            }, function (value) {
                if (value) {
                    $.get('/@(ViewBag.ControllerName)/Delete_PL_OnEdit?Report_TableIndex_Key=' + id, function (data) {
                        if (data.intStatus == "1") {
                            swal_success(data.strMess, false, 1500);
                            LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadTableList_Edit?SearchKey=' + $("#Rpt_ReportHeaderKey").val(), 1, null, true);
                        }
                        else {
                            showError(data.strMess);
                        }
                    });
                }
            });
        });

        $("#btn_addtableindex").click(function () {
            $("#DLA_Ajax_Modal_PLAdd #DLA_PLAdd").html("Đang tải dữ liệu....");
            $.get('/@(ViewBag.ControllerName)/RptAddTableIndex', function (data) {
                $("#DLA_Ajax_Modal_PLAdd #DLA_PLAdd").html(data);
                UpdateMask();
            });

            $("#Modal_PLAdd").modal();
        });

        $("#DLA_Ajax_Modal_PLAdd #DLA_PLAdd").on('change', '#Rpt_TemplatesKey', function () {
            //$("#DLA_Ajax_Modal_PLAdd #DLA_PLAdd #ItemList").empty();
            LoadTable('DLA_Ajax_Modal_PLAdd #DLA_PLAdd #ItemList', '/@(ViewBag.ControllerName)/LoadList_TableIndexToAdd_Edit?SearchKey=' + this.value, 1, null, true);
        });

        $("#btnReportCopy").on('click', function () {
            var chkall = $("#DLA_Ajax_Modal_Copy #DLA_Copy #chk_schemadata")[0].checked;

            $.get('/@(ViewBag.ControllerName)/CopyToNew?id=' + $("#Rpt_ReportHeaderKey").val() + '&copyall=' + chkall, function (data) {
                if (data.intStatus == "1") {

                    swal_success(data.strMess, false, 1500);
                    window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_ReportHeaderKey;
                }
                else {
                    showError(data.strMess);
                }
            });

            $("#Modal_Copy").modal('hide');
        });

        $("#btnPLAdd").on('click', function () {
            var arr_PL_new = [];
            $("#DLA_Ajax_Modal_PLAdd #DLA_PLAdd #ItemList table tbody input:checked").each(function () {
                arr_PL_new[arr_PL_new.length] = this.id;
            });

            if (arr_PL_new.length > 0) {

                var dataPost = { rpt_headerkey: $("#Rpt_ReportHeaderKey").val(), lst_tables_template: arr_PL_new };

                $.ajax({
                    type: 'POST',
                    url: '/@(ViewBag.ControllerName)/AddNew_PL_OnEdit',
                    data: dataPost,
                    dataType: 'json',
                    success: function (data) {
                        hideLoading();
                        if (data.intStatus == "1") {
                            swal_success(data.strMess, false, 1500);
                            LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadTableList_Edit?SearchKey=' + $("#Rpt_ReportHeaderKey").val(), 1, null, true);
                        }
                        else {
                            showError(data.strMess);
                        }
                    },
                    error: function (data) {
                        showError(data.strMess);
                    }
                });
            }

            $("#Modal_PLAdd").modal('hide');
        });


    });

</script>

