﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Phân công nhập phụ lục</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*table trường dữ liệu*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                            <label>Tên Báo Cáo</label>
                                        </div>
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách phân công nhập liệu phụ lục</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="tableindexlist">

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="@(ViewBag.BackLink)">Trở về</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_TblTemplate">
    <div class="modal fade" id="Modal_TblTemplate" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">

                            <div id="Popup_TblTemplate_List">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnSaveSelected" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Phân Công</a>
                    @Html.Hidden("index_detail_selected", "")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        LoadTable('tableindexlist', '/@(ViewBag.ControllerName)/LoadList_EnlistUsersTables?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);

        $("#tableindexlist").on('click', '.btnadduser', function () {
            var id = $(this).attr("data-id");
            $("#index_detail_selected").val(id);

            $("#Popup_TblTemplate_List").html("Đang tải dữ liệu....");
            $.get('/@(ViewBag.ControllerName)/RptTableIndex_EnlistUsers', function (data) {
                $("#Popup_TblTemplate_List").html(data);

                LoadTable('DLA_Ajax_Modal_TblTemplate #Popup_TblTemplate_List #ItemList', '/@(ViewBag.ControllerName)/LoadList_TblTemplate_EnlistUser?SearchKey=' + id, 1, null, true);
                UpdateMask();
            });
            $("#Modal_TblTemplate").modal();
        });

        $("#btnSaveSelected").click(function () {
            var emp_arr = [];
            $("#Popup_TblTemplate_List #ItemList table tbody input:checked").each(function () {
                emp_arr[emp_arr.length] = this.id;
            });
            $("#Modal_TblTemplate").modal('hide');

            var dataPost = { tblindexkey: $("#index_detail_selected").val(), arr_employees: emp_arr };
                $.ajax({
                    type: 'POST',
                    url: '/@(ViewBag.ControllerName)/SaveList_TblTemplate_EnlistUser',
                    data: dataPost,
                    dataType: 'json',
                    success: function (data) {
                        if (data.intStatus == "1") {
                            swal_success(data.strMess, false, 1500);
                            LoadTable('tableindexlist', '/@(ViewBag.ControllerName)/LoadList_EnlistUsersTables?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);
                        }
                        else {
                            showError(data.strMess);
                        }
                    },
                    error: function (data) {
                        showError(data.strMess);
                    }
            });
        });
    });

</script>

