﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span {
        font-size: 18px;
        vertical-align: top !important;
    }

    .chklocal {
        width: 20px;
        height: 20px;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Phân công nhập trường dữ liệu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*table trường dữ liệu*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                            <label>Tên Báo Cáo</label>
                                        </div>
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường dữ liệu chưa phân công</h2>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                            <label>Chọn người nhập<font color="red"> (*)</font></label>
                                        </div>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("EmployeeSelect", ViewBag.EmployeeList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>

                                        <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="@(ViewBag.BackLink)">Trở về</a>
                                        <a id="btnSave" class="btn btn-success pull-right" style="margin-bottom: 25px;">Phân công</a>

                                    </div>

                                    <div id="divchkall" class="row clearfix">
                                        @Html.CheckBox("chkall", false, new { @class = "chklocal" })
                                        <span>(Chọn tất cả)</span>
                                    </div>
                                    <div class="x_content">

                                        @*value const list*@
                                        <div id="valueconst_till" class="row clearfix" style="overflow-y: scroll; max-height:400px;">

                                        </div>

                                        <div class="row clearfix">
                                        </div>
                                    </div>

                                </div>

                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách các trường dữ liệu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="valueconst_enlist">

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        LoadTable('valueconst_enlist', '/@(ViewBag.ControllerName)/LoadList_EnlistUsersValues_View?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);

        $.get('/@(ViewBag.ControllerName)/LoadList_EnlistUsersValues_Till/?rptkey=@(Model.Rpt_ReportHeaderKey)', function (data) {
            $("#valueconst_till").empty();
            if (data.intStatus == 1) {
                $("#valueconst_till").html(data.Data);
            }
            else {
                showError(data.strMess);
            }
        });

        $("#chkall").change(function () {
            var checked = this.checked;

            $('#valueconst_till :checkbox').each(function () {
                if (!this.disabled)
                    this.checked = checked;
            });
        });

        $('#valueconst_till').on('change', ':checkbox', function () {
            var checked = this.checked;
            if (checked == false)
                $("#chkall")[0].checked = false;

            else {
                var chkitem_all = $('#valueconst_till :checkbox').length;
                var chkitem_checked = $('#valueconst_till :checkbox:checked').length;
                $("#chkall")[0].checked = chkitem_all == chkitem_checked;
            }
        });

        $("#EmployeeSelect").change(function () {
            $.get('/@(ViewBag.ControllerName)/LoadList_EnlistUsersValues_Till/?rptkey=@(Model.Rpt_ReportHeaderKey)&empkeyselected=' + $(this).val(), function (data) {
                $("#valueconst_till").empty();
                if (data.intStatus == 1) {
                    $("#valueconst_till").html(data.Data);
                    $("#chkall")[0].checked = data.refstate == "all"
                }
                else {
                    showError(data.strMess);
                }
            });
        });

        $("#btnSave").click(function () {
            var fieldschked = [];

            $("#valueconst_till :checkbox:checked").each(function () {
                if (!this.disabled)
                    fieldschked[fieldschked.length] = this.id;
            });

            var dataPost = { rptkey: '@(Model.Rpt_ReportHeaderKey)', employeekey: $("#EmployeeSelect").val(), lstvalues: fieldschked };
                $.ajax({
                    type: 'POST',
                    url: '/@(ViewBag.ControllerName)/SaveList_ValuesConst_EnlistUser',
                    data: dataPost,
                    dataType: 'json',
                    success: function (data) {
                        if (data.intStatus == "1") {
                            swal_success(data.strMess, false, 1500);
                            $("#EmployeeSelect")[0][0].selected = true;
                            LoadTable('valueconst_enlist', '/@(ViewBag.ControllerName)/LoadList_EnlistUsersValues_View?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);

                            $.get('/@(ViewBag.ControllerName)/LoadList_EnlistUsersValues_Till/?rptkey=@(Model.Rpt_ReportHeaderKey)', function (data) {
                                $("#valueconst_till").empty();
                                if (data.intStatus == 1) {
                                    $("#valueconst_till").html(data.Data);
                                }
                                else {
                                    showError(data.strMess);
                                }
                            });                        }
                        else {
                            showError(data.strMess);
                        }
                    },
                    error: function (data) {
                        showError(data.strMess);
                    }
            });
        })
    });

</script>

