﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">

    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh Sách Báo Cáo</h2>
                    <a class="btn btn-success pull-right" href="/@(ViewBag.ControllerName)/Create">Thêm mới</a>
                    <a class="btn btn-success pull-right" href="/@(ViewBag.ControllerName)/CreateWizard">Thiết Lập Tuần Tự</a>

                    @*<ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>*@
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="ItemList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList', 1, null, true);

        $("#ItemList").on('click', '.btn_xoa', function () {
            var id = $(this).attr("data-id");
            swal({
                title: 'Xóa báo cáo đã chọn?',
                text: "Thao tác này không thể hoàn tác!",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Không! Tôi không muốn',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Vâng! Xóa nó',
            }, function (value) {
                if (value) {
                    $.get('/@(ViewBag.ControllerName)/Delete/' + id, function (data) {
                        if (data.intStatus == "1") {
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Báo cáo của bạn đã bị xóa!',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            window.location = "/@(ViewBag.ControllerName)/Index/"
                        }
                        else {
                            showError(data.strMess);
                        }
                    });
                }
            });

        });

        $("#ItemList").on('click', '.btn_xuat', function () {
            var id = $(this).attr("data-id");
            var dataPost = { rpt_headerkey: id };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/ExportWord',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        hideLoading();
                        $.get("/@(ViewBag.ControllerName)/DownloadFileExport?filepathfull=" + data.Data["folderpath"] + "&downloadfilename=" + data.Data["filename"], function () {

                        });

                    }
                    else {
                        hideLoading();
                        showError(data.strMess);
                    }

                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });
        });
    });

</script>
