﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><b>Danh sách bảng phụ lục mẫu</b></h2>

                    <div class="row clearfix">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.DropDownList("Rpt_TemplatesKey", ViewBag.TemplatesList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div id="ItemList">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

    });
</script>

