﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Trường</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="ConstList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
   $(this).ready(function () {
    
       var ItemList;
        $.ajax({
            type: 'POST',
            url: '/RPT_REPORTHEADER/LoadValueList_BT?ReportHeaderKey=@Request["ReportHeaderKey"]',
            dataType: 'json',
            success: function (datahtml) {
                hideLoading();
                ItemList = $("#ConstList").editTable({
                    data: datahtml.Data,
                    headerCols: datahtml.Header,
                    action: datahtml.ShowAction,
                    delrow: function (row) {
                    },
                });
                UpdateMask();
            },
            error: function (data) {
                hideLoading();
                // if error occured
                showError("Error");
            }
        });
    });

</script>
