﻿@model AutoReport.Models.RPT_REPORTHEADER
@{
    /**/

    ViewBag.Title = "Danh Sách File đính kèm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="file"] {
        height: 32px;
    }

        input[type="file"]::-webkit-file-upload-button {
            height: 32px;
        }
</style>


<div class="card">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Quản lý file đính kèm</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;" enctype="multipart/form-data">
                    @Html.HiddenFor(model => model.Rpt_ReportHeaderKey)

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@(Model.Rpt_Name)</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Thêm đính kèm</label>
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <input type="file" class="col-md-5 col-sm-5 col-xs-12" name="FileUpload" multiple style="position: static; opacity: inherit;" />
                                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/RptFileAttachedIndex">Trở về</a>
                                    <a id="btnSaveFile" class="btn btn-success pull-right" href="#">Thêm</a>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                    <label>Ghi Chú</label>
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextArea("Note", new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Danh sách file đính kèm</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="ItemList">

                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList_FileAttached/?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);

        $("#btnSaveFile").click(function () {
            var formData = new FormData($("#frmInfo")[0]);
            $.ajax({
                url: '/@(ViewBag.ControllerName)/FileAttached_SaveFile',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (response) {
                    hideLoading();
                    if (response.intStatus == 1) {
                        swal_success(response.strMess, false, 1500);
                        window.location = response.redirectlink;
                    }
                    else {
                        swal_error(response.strMess, false, 1500);
                    }
                },
                error: function (response) {
                    showError(response.strMess);
                }
            });
        });

        $("#ItemList").on('click', '.btndel', function () {
            var id = $(this).attr("data-id");

            swal({
                title: 'Xóa tập tin đính kèm này?',
                text: "Thao tác này không thể hoàn tác!",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Không! Tôi không muốn',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Vâng! Xóa nó',
            }, function (value) {
                if (value) {
                    $.get("/@(ViewBag.ControllerName)/FileAttached_DeleteFile/" + id, function (response) {
                        if (response.intStatus == 1) {
                            LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList_FileAttached/?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);
                        }
                        else {
                            swal_error(response.strMess);
                        }
                    });
                }
            });

            
        });
    });

</script>
