﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

@(Html.Hidden("UsersString", ViewBag.ListUsersStr == null ? "" : (string)ViewBag.ListUsersStr));
@(Html.Hidden("RefKey", ViewBag.RefKey == null ? "" : (string)ViewBag.RefKey));

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Sao chép báo cáo</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row clearfix">
                        <input type="checkbox" id="chk_schemaonly" checked style="width: 20px; height: 20px;" disabled />  Sao chép cấu trúc báo cáo<br />
                        <input type="checkbox" id="chk_schemadata" checked style="width: 20px; height: 20px;" />  Sao chép toàn bộ dữ liệu<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

