﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

<style>
    span {
        font-size: 18px;
        vertical-align: top !important;
    }

    .chklocal {
        width: 20px;
        height: 20px;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách người dùng nhập dữ liệu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row clearfix">
                        <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                            <label>Người Nhập</label>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.DropDownList("EmployeeKey", ViewBag.EmployeeList_ValueConstEnlist as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix"><input class="chklocal" type="checkbox" id="chkall" /> &nbsp; &nbsp;<span>(Tất cả)</span></div>

                    <div id="ItemList" class="row clearfix" style="overflow-y: scroll; height: 350px;">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

