﻿@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách người dùng nhập dữ liệu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="ItemList" style="overflow-y: scroll; height: 350px;">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

