﻿@{
    ViewBag.Title = "Work Desk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/js/jquery.smartWizard.js"></script>
<link href="/css/smart_wizard.css" rel="stylesheet">
<link href="/css/smart_wizard_theme_arrows.css" rel="stylesheet">

<div class="container">
    <!-- External toolbar sample -->
    <div class="row d-flex align-items-center p-3 my-3 text-white-50">
        <div class="col-12 col-lg-6 col-sm-12">
            <div class="btn-group col-lg-6 col-sm-12" role="group">
            </div>
        </div>
    </div>
    <!-- SmartWizard html -->
    <div id="smartwizard">
        <ul>
            <li><a href="#step-1">Bước 1<br /><small>Chọn mẫu báo cáo</small></a></li>
            <li><a href="#step-2">Bước 2<br /><small>Thông tin báo cáo</small></a></li>
            <li><a href="#step-3">Bước 3<br /><small>Phân công nhập dữ liệu</small></a></li>
            <li><a href="#step-4">Bước 4<br /><small>Phân công nhập phụ lục</small></a></li>
            <li><a href="#step-5">Bước 5<br /><small>Kết thúc</small></a></li>
        </ul>
        <div>
            <div id="step-1" class="">
                <h3 class="border-bottom border-gray pb-2">Step 1 Content</h3>
                this is step 1 content
            </div>
            <div id="step-2" class="">
                <h3 class="border-bottom border-gray pb-2">Step 2 Content</h3>
                this is step 2 content
            </div>
            <div id="step-3" class="">
                <h3 class="border-bottom border-gray pb-2">Step 3 Content</h3>
                this is step 3 content
            </div>
            <div id="step-4" class="">
                <h3 class="border-bottom border-gray pb-2">Step 4 Content</h3>
                this is step 4 content
            </div>
            <div id="step-5" class="">
                <h3 class="border-bottom border-gray pb-2">Step 4 Content</h3>
                this is step 5 content
            </div>
        </div>
    </div>

</div>

<script>
    $(this).ready(function () {
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {

            $("#smartwizard .sw-btn-prev").addClass('disabled');
            if (stepPosition === 'final') {
                $("#smartwizard .sw-btn-next").addClass('disabled');
            }
            else {
                $("#smartwizard .sw-btn-next").removeClass('disabled');
            }

            //if (stepPosition === 'first') {
            //    $("#prev-btn").addClass('disabled');
            //} else if (stepPosition === 'final') {
            //    $("#next-btn").addClass('disabled');
            //} else {
            //    $("#prev-btn").removeClass('disabled');
            //    $("#next-btn").removeClass('disabled');
            //}
        });

        // Toolbar extra buttons
        var btnFinish = $('<button></button>').text('Finish')
            .addClass('btn btn-info')
            .on('click', function () { alert('Finish Clicked'); });
        var btnCancel = $('<button></button>').text('Cancel')
            .addClass('btn btn-danger')
            .on('click', function () { $('#smartwizard').smartWizard("reset"); });

        // Smart Wizard
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'arrows',
            transitionEffect: 'fade',
            showStepURLhash: true,
            toolbarSettings: {
                toolbarPosition: 'top',
                toolbarButtonPosition: 'end',
                toolbarExtraButtons: [btnFinish, btnCancel]
            }
        });

        $("#smartwizard .sw-btn-prev").attr("style", "margin-right: 3px");
        // External Button Events
        $("#reset-btn").on("click", function () {
            // Reset wizard
            $('#smartwizard').smartWizard("reset");
            return true;
        });

        $("#prev-btn").on("click", function () {
            // Navigate previous
            $('#smartwizard').smartWizard("prev");
            return true;
        });

        $("#next-btn").on("click", function () {
            // Navigate next
            $('#smartwizard').smartWizard("next");
            return true;
        });
    });
</script>
