﻿@model AutoReport.Models.TEMPLATES_HEADERS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Sửa Mẫu Báo Cáo</h6>
            <a class="btn btn-default at-right" data-toggle="modal" data-target="#modal_help_file_upload"><i class="mi-help-outline" style="font-size: 24px;" aria-hidden="true"></i></a>
        </div>
        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mã Mẫu <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tên Mẫu <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">File văn bản</label>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.RevisionFile))
                                {
                                    <div class="col-md-1">
                                        <a id="linkfile" class="btn btn-primary" href="#">Tải Về</a>
                                    </div>
                                }

                                @*accept docx only: https://stackoverflow.com/questions/4212861/what-is-a-correct-mime-type-for-docx-pptx-etc*@
                                <input type="file" class="col-md-6" name="file" id="file" style="position: static; opacity: inherit;" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                            </div>
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ghi Chú</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="div_btns" class="col-md-12">
                                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                                <a class="btn btn-primary btn-c1 at-right" data-cmd="savecopy">Sao Chép</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Danh Sách Phụ Lục</h3>

            <div id="div_btns_tables" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                <a class="btn btn-default btn100-action at-right" data-cmd="add" data-toggle="modal" data-target="#modal_tables_selection"><i class="mi-2x mi-add"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblTables"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Danh Sách Trường Dữ Liệu</h3>

            <div id="div_btns_values" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                <a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblValues">

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="modal_tables_selection" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn Phụ Lục</h5>
                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div id="div_tables_selection" class="row clearfix">

                </div>
            </div>
            <div class="modal-footer">
                <a class="btn bg-primary" data-cmd="submit" data-dismiss="modal">Chọn</a>
                <a class="btn bg-warning" data-dismiss="modal">Đóng</a>
            </div>
        </div>
    </div>
</div>

<div id="modal_help_file_upload" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><font color="red">Quy định nhận dạng dữ liệu từ file mẫu word.docx</font></h2>
                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div class="row clearfix">
                    <h3>
                        Việc nhận dạng dữ liệu sẽ thực hiện tự động khi người dùng tải lên file mẫu (áp dụng 1 lần)
                        <br />
                        Người dùng cần quy ước các trường dữ liệu theo định dạng như sau:
                        <br />
                        - Mở đầu bằng: <b>@("<#")</b>
                        <br />
                        - <b>Nội dung nhận dạng</b>, được quy định theo cấu trúc: <b>Mã nhận dạng @("|") Nội dung ghi chú</b>
                        <br />
                        - Kết thúc bằng:<b> @("#>")</b>
                        <br />
                        <br />
                        VD: trong file mẫu báo cáo có đoạn văn bản cần điền dữ liệu như sau: (Các phần <b>IN ĐẬM</b> sẽ là nội dung cần nhận dạng)
                        <br />
                        'Thực hiện Chỉ thị số <b>23/CT-UBND</b> ngày <b>05/12/2016</b> của UBND tỉnh về việc đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh Ngày 25/01/2017'
                        <br />
                        <br />
                        - Người dùng cần thay thế nội dung theo quy ước như sau:
                        <br />
                        'Thực hiện Chỉ thị số <b>@("<#")SO_CHI_THI@("|")Số Chỉ Thị@("#>")</b> ngày <b>@("<#")NGAY_CHI_THI@("|")Ngày ra Chỉ Thị@("#>")</b> của UBND tỉnh về việc đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh Ngày 25/01/2017'
                        <br />
                        <br />
                        Một số lưu ý:
                        <br />
                        - Có thể sử dụng lặp lại các mã quy định nếu xuất hiện nhiều lần trong báo cáo.
                        <br />
                        - Các mã quy định nếu đã có sẽ không lưu trùng. (Mỗi mã quy định chỉ được tính 1 lần, không trùng lặp).
                        <br />
                        - Mã Nhận Dạng bao gồm <b>Chữ/Số/Dấu gạch chân '_'</b>, không chứa các ký tự đặc biệt.
                    </h3>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn bg-primary" data-dismiss="modal">Đã hiểu</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var row_tables_hson = -1;
        var tblTables;
        var row_tables_delkey = [];
        var state = 'none';

        $.get('/@(ViewBag.ControllerName)/GetTablesTemplate/?headertemplatekey=@(Model.dKey)', function (ajresult) {
            //var hot_scroll_data = Handsontable.helper.createSpreadsheetData(10, 5);
            // Initialize with options
            tblTables = new Handsontable($('#tblTables')[0], {
                data: ajresult.Data.Source,
                stretchH: 'all',
                rowHeaders: true,
                colHeaders: ajresult.Data.HeadersCaption,
                hiddenColumns: {
                    columns: ajresult.Data.ColumnsHidden,
                    indicators: true
                },
                afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                    row_tables_hson = row;
                },
                licenseKey: 'non-commercial-and-evaluation'
            });

        });

        var row_values_hson = -1;
        var tblValues;
        var row_values_delkey = [];

        $.get('/@(ViewBag.ControllerName)/GetValuesConst/?headertemplatekey=@(Model.dKey)', function (ajresult) {
            //var hot_scroll_data = Handsontable.helper.createSpreadsheetData(10, 5);
            // Initialize with options
            tblValues = new Handsontable($('#tblValues')[0], {
                data: ajresult.Data.Source,
                stretchH: 'all',
                rowHeaders: true,
                colHeaders: ajresult.Data.HeadersCaption,
                hiddenColumns: {
                    columns: ajresult.Data.ColumnsHidden,
                    indicators: true
                },
                afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                    row_values_hson = row;
                },
                afterChange: (changes) => {
                    if (changes != null) {
                        if (state == 'none') {
                            state = 'busy';
                            var data = tblValues.getData();
                            if (data[row_values_hson][0] == '' || data[row_values_hson][0] == '0')
                                tblValues.setDataAtCell(row_values_hson, 0, '0');
                            else
                                tblValues.setDataAtCell(row_values_hson, 1, 'E');
                            state = 'none';
                        }
                    }
                },
            });

        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/@(ViewBag.ControllerName)/Index"],
            lstText: ["Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw( AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            switch (cmd) {
                case "savereturn":
                    var data = $("#frmInfo").serializeObject();
                    var dataPost = {
                        ItemModel: data,
                        data_tables: tblTables.getData(),
                        data_values: tblValues.getData(),
                        tables_del: row_tables_delkey,
                        values_del: row_values_delkey
                    };

                    showloading();
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/Edit',
                        data: dataPost,
                        dataType: 'json',
                        success: function (ajresult) {
                            if (ajresult.Result_Status == 1) {
                                var formData = new FormData($("#frmInfo")[0]);
                                $.ajax({
                                    url: '/@(ViewBag.ControllerName)/UploadFileTemplate/?id=' + ajresult.Data.dKey,
                                    type: 'POST',
                                    data: formData,
                                    async: false,
                                    cache: false,
                                    contentType: false,
                                    enctype: 'multipart/form-data',
                                    processData: false,
                                    success: function (response) {
                                        if (response.Result_Status == 1) {
                                            hideloading();
                                            swal_success_redirect(response.Result_Caption, response.Result_Message, false, 1500, ajresult.RedirectTo);
                                        }
                                        else {
                                            hideloading();
                                            swal_error('Lỗi', response.Result_Message, false, 1500);
                                        }
                                    },
                                    error: function () {
                                        hideloading();
                                        show_pnotify('error', '@(Html.Raw( AutoReport.Utils.TextUtil.Notify_Error))');
                                    }
                                });
                            } else if (ajresult.Result_Status == -1) {
                                hideloading();
                                swal_success(ajresult.Result_Caption, ajresult.Result_Message, false, 1000);
                                show_pnotify('warning', ajresult.Result_Message);
                            }
                            else {
                                hideloading();
                                swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw( AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecopy":
                    swal({
                        title: 'Sao chép báo cáo mẫu',
                        text: 'Bạn có muốn sao chép mẫu báo cáo này',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Sao chép!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value == true) {
                            $.get('/@(ViewBag.ControllerName)/CopyToNew/@(Model.dKey)', function (ajresult) {
                                if (ajresult.Result_Status == 1) {
                                    swal_success_redirect(ajresult.Result_Caption, ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                                }
                                else {
                                    show_pnotify('error', ajresult.Result_Message);
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }

        });

        $('#div_btns_tables').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    $.get('/@(ViewBag.ControllerName)/LoadListTablesTemplateSelection/?headertemplatekey=@(Model.dKey)', function (ajresult) {
                        if (ajresult.Result_Status == 1) {
                            $('#div_tables_selection').empty();
                            $('#div_tables_selection').html(ajresult.Data);
                        }
                    });
                    break;
                case "delete":
                    if (row_tables_hson == -1)
                        break;
                    var data = tblTables.getData();
                    if (data[row_tables_hson][0] != '' && data[row_tables_hson][0] != '0') {
                        row_tables_delkey[row_tables_delkey.length] = data[row_tables_hson][0];
                    }

                    if (data == 1) {
                        var cols_count = tblTables.getColHeader().length;
                        for (i = 0; i < cols_count; i++) {
                            tblTables.setDataAtCell(0, i, '');
                        }
                    }
                    else {
                        tblTables.alter('remove_row', row_tables_hson);
                    }
                    break;
                default:
                    break;
            }
        });

        $('#div_btns_values').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    if (row_values_hson == -1)
                        row_values_hson = tblValues.countRows();
                    else
                        row_values_hson = row_values_hson + 1;
                    tblValues.alter('insert_row', row_values_hson, 1);
                    tblValues.setDataAtCell(row_values_hson, 0, '0');
                    tblValues.setDataAtCell(row_values_hson, 1, 'N');

                    break;
                case "delete":
                    if (row_values_hson == -1)
                        break;
                    var data = tblValues.getData();
                    if (data[row_values_hson][0] != '' && data[row_values_hson][0] != '0') {
                        row_values_delkey[row_values_delkey.length] = data[row_values_hson][0];
                    }

                    if (data.length == 1) {
                        var cols_count = tblValues.getColHeader().length;
                        for (i = 0; i < cols_count; i++) {
                            tblValues.setDataAtCell(0, i, '');
                        }
                    }
                    else {
                        tblValues.alter('remove_row', row_values_hson);
                    }
                    break;
                default:
                    break;
            }
        });

        $('#modal_tables_selection').on('click', '.modal-footer a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            switch (cmd) {
                case "submit":
                    var lstchked = $('#div_tables_selection').find('input[type=checkbox]:checked');
                    if (lstchked.length > 0) {
                        var tblsource = tblTables.getData();
                        $.each(lstchked, function () {
                            var datakey = $(this).attr('data-key');
                            var dataid = $(this).attr('data-id');
                            var dataname = $(this).attr('data-name');

                            if (datakey != null) {
                                var existed = false;
                                $.each(tblsource, function () {
                                    if (this[2] == datakey) {
                                        existed = true;
                                        return;
                                    }
                                });
                                if (!existed) {
                                    tblsource = tblTables.getData();
                                    var rowcount = tblTables.countRows();
                                    var row_last = rowcount - 1;
                                    if (tblsource[rowcount - 1][0] == '') {
                                        tblsource[rowcount - 1][0] = '0';
                                        row_last = rowcount - 1;
                                    }
                                    else {
                                        row_last = rowcount;
                                        tblTables.alter('insert_row', row_last, 1);
                                    }

                                    tblTables.setDataAtCell(row_last, 0, '0');
                                    tblTables.setDataAtCell(row_last, 1, 'N');
                                    tblTables.setDataAtCell(row_last, 2, datakey);
                                    tblTables.setDataAtCell(row_last, 3, dataid + ' - ' + dataname);
                                }
                            }
                        });
                    }
                    break;
                default:
                    break;
            }
        });

        $('#div_tables_selection').on('change', 'input[type=checkbox]', function () {
            var chkstate = $(this).prop("checked");
            var parentnote = $(this).attr("data-parent");
            if (parentnote == null) {
                //top-most parent
                var lst_children = $(this).closest('li').find('input[type=checkbox]').get();
                if (lst_children.length > 0) {
                    $.each(lst_children, function () {
                        $(this).prop('checked', chkstate);
                    });
                }
            }
            else {
                //this is child
                if (chkstate)
                    $("#" + parentnote).prop('checked', chkstate);
            }
        });

        $('#linkfile').click(function () {
            window.location = '/@(ViewBag.ControllerName)/GetFileDownload/@(Model.dKey)';
        });
    });
</script>
