﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Style tab links */
    .tablink {
        background-color: #cccccc;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 12px;
        font-size: 16px;
        font-weight: bold;
        width: 6%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        /*background-color: #cccccc;*/
        color: black;
        display: none;
        /*padding: 100px 20px;*/
        height: 100%;
    }
</style>

@Html.HiddenFor(model => model.Rpt_ReportHeaderKey)
@Html.Hidden("InputCompleted", ViewBag.InputCompleted == null ? "no" : (string)ViewBag.InputCompleted)

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nhập liệu phụ lục</h2>
                    <div class="row clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row clearfix">
                        <div class="x_title">
                            <h2>Danh sách Phụ lục: @(Model.Rpt_Name)</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div id="item_pl_show">

                        </div>

                        <div id="section_rpt_tables_btn">

                        </div>

                        <div id="section_rpt_tables_tabpage">

                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <br />
                            <a id="btn_InputComplete" class="btn btn-primary" style="margin-bottom: 25px;">Nhập xong</a>
                            <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="@(ViewBag.BackToIndexLink)">Trở về</a>
                            <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_Input">
    <div class="modal fade" id="Modal_Input" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="body">
                            <div id="DLA_Input">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Nhập Giá Trị</h2>
                                        <div class="row clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <textarea id="popup_value_input" class="form-control" rows="15"></textarea>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Hủy</a>
                    <a id="btnInputValueOK" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openPage(pageName, elmnt, color, classlink, classcontent) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName(classcontent);
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName(classlink);
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    $(this).ready(function () {

        if ($("#InputCompleted").val() == "yes") {
            $("#btn_InputComplete").attr("style", "visibility: hidden");
            $("#btn_Save").attr("style", "visibility: hidden");
        }
        else {
            $("#btn_InputComplete").attr("style", "visibility: visible");
            $("#btn_Save").attr("style", "visibility: visible");
        }

        var lst_tbl_mark = [];
        var lst_tbl_rows_deleted = [];

        $("#section_rpt_tables_btn").empty();
        $("#section_rpt_tables_tabpage").empty();
        $("#item_pl_show").empty();

        var current_textarea = null;
        $("#section_rpt_tables_tabpage").on('keypress', 'table tbody input[type="text"]', function (e) {
            if (e.keyCode != 13)
                return;
            $(this).attr('readonly', $("#InputCompleted").val() == "yes" ? "readonly" : "");

            current_textarea = this;
            $("#popup_value_input").val(this.value);
            $("#Modal_Input").modal();
        });

        $("#section_rpt_tables_tabpage").on('dblclick', 'table tbody input[type="text"]', function (e) {
            current_textarea = this;
            $("#popup_value_input").val(this.value);
            $("#Modal_Input").modal();

        });

        $("#btnInputValueOK").click(function () {
            if (current_textarea != null) {
                current_textarea.value = $("#popup_value_input").val();
            }
            $("#Modal_Input").modal('hide');
        });

        $("#Modal_Input").on('shown.bs.modal', function () {
            $("#popup_value_input").focus();
        });

        $.get("/@(ViewBag.ControllerName)/RptDataInput_OnRptHeaderKeyChanged?RptHeaderKey=" + $("#Rpt_ReportHeaderKey").val() + "&inputcompleted=" + $("#InputCompleted").val(), function (data) {
            if (data["TablesList"].length == 0) {
                $("#item_pl_show").html("<h2>Không có phụ lục</h2>")
                $("#btn_Save").attr("style", "visibility: hidden")
                return;
            }

            showLoading();
            var rpt_btn_section_id = "";
            var rpt_tbl_section_id = "";
            for (i = 0; i < data["TablesList"].length; i++) {
                rpt_btn_section_id = "btn_section_tbl_" + data["TablesList"][i].TableID;
                rpt_tbl_section_id = "div_section_tbl_" + data["TablesList"][i].TableID;

                $("#section_rpt_tables_btn").append("<button id=\"" + rpt_btn_section_id + "\" class=\"tablink btn_tablink1\" onclick=\"openPage('" + rpt_tbl_section_id + "', this, 'orange', 'btn_tablink1', 'content_page1'); \" title=\"" + data["TablesList"][i].TableID + "\">" + (i + 1) + "</button>");
                $("#section_rpt_tables_tabpage").append("<div id=\"" + rpt_tbl_section_id + "\" class=\"tabcontent content_page1\"><h3>" + data["TablesList"][i].TableName + "</h3></div>");

                var item_tbl_div = "#" + rpt_tbl_section_id;
                if (data.TablesData[i].Data.result == "") {
                    var tbl = $(item_tbl_div).editTable({
                        data: data["TablesData"][i].Data.gridlayout.Data,
                        headerCols: data["TablesData"][i].Data.gridlayout.Header,
                        action: data["TablesData"][i].Data.gridlayout.ShowAction,
                        delrow: function (row) {
                            lst_tbl_rows_deleted[lst_tbl_rows_deleted.length] = { tableindex: this.headerCols[0].Caption, rowindex: row - 1 };
                        },
                    });

                    var arr = { tblkey: data["TablesData"][i].Data.div_tbl_key, tblname: item_tbl_div, tbldata: tbl };
                    lst_tbl_mark[lst_tbl_mark.length] = arr;
                }
                else {
                    $(item_tbl_div).append("<h3>" + data["TablesData"][i].Data.result + "</h3>");
                    $(item_tbl_div).append("<p>" + data["TablesData"][i].Data.msg + "</p>");
                }

                if (i == 0) {
                    var item_btn_div = "#" + rpt_btn_section_id;
                    $(item_btn_div).click();
                }

                hideLoading();
            }

        });

        $("#btn_Save").click(function () {
            showLoading();

            var tbl_keys = [];
            var tbl_names = [];
            var tbl_header_fields = [];
            var tbl_data_items = [];

            for (i = 0; i < lst_tbl_mark.length; i++) {
                //get table key
                tbl_keys[tbl_keys.length] = lst_tbl_mark[i].tblkey;

                //get table name
                tbl_names[tbl_names.length] = lst_tbl_mark[i].tblname;

                //get header field name
                var hdr_field = [];
                $(lst_tbl_mark[i].tblname + ' table thead tr th').each(function () {
                    hdr_field[hdr_field.length] = $(this).text();
                });
                tbl_header_fields[tbl_header_fields.length] = hdr_field;

                //get data in table
                tbl_data_items[tbl_data_items.length] = lst_tbl_mark[i].tbldata.getData();
            }

            var rows_del = new Array();
            for (i = 0; i < lst_tbl_rows_deleted.length; i++) {
                var tbl_index_key = lst_tbl_rows_deleted[i].tableindex;
                var row_index = lst_tbl_rows_deleted[i].rowindex;
                rows_del.push(new Array(tbl_index_key, row_index));
            }

            var dataPost = { RptHeaderKey: $("#Rpt_ReportHeaderKey").val(), lst_tblkey: tbl_keys, lst_tblname: tbl_names, lst_tbls_hdr: tbl_header_fields, lst_data: tbl_data_items, lst_rows_deleted: rows_del };

            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/SaveData_Input',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        hideLoading();
                        swal({
                            position: 'center',
                            type: 'success',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        window.location = "/@(ViewBag.ControllerName)/RptDataInput_Edit/" + data.Data;
                    }
                    else {
                        hideLoading();
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });

        });

        $("#btn_InputComplete").click(function () {
            swal({
                title: 'Kết thúc nhập liệu?',
                text: "Bạn có muốn hoàn thành việc nhập liệu!",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Tôi chưa nhập xong',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Hoàn thành',
            }, function (value) {
                if (value) {
                    $.get('/@(ViewBag.ControllerName)/Update_InputTableIndex_Complete?Report_TableIndex_Key=' + $("#Rpt_ReportHeaderKey").val(), function (data) {
                        if (data.intStatus == "1") {
                            swal({
                                position: 'center',
                                type: 'success',
                                title: data.strMess,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            window.location = "/@(ViewBag.ControllerName)/RptDataInput_Edit/" + data.Data;
                        }
                        else {
                            showError(data.strMess);
                        }
                    });
                }
            });
        });

    });

</script>
