﻿@model AutoReport.Models.RPT_TEMPLATES
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo biểu mẫu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin cơ bản</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            @Html.HiddenFor(model => model.Rpt_TemplatesKey)

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Mã biểu mẫu <font color="red">(*)</font></label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.Templates_ID, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên biểu mẫu <font color="red">(*)</font></label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.Templates_Name, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">File văn bản</label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @readonly = "true" })
                                                </div>
                                                @*accept docx only: https://stackoverflow.com/questions/4212861/what-is-a-correct-mime-type-for-docx-pptx-etc*@
                                                <input type="file" class="col-md-5 col-sm-5 col-xs-12" name="file" id="file" style="position: static; opacity: inherit;" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var ItemList;
        $.get('/@(ViewBag.ControllerName)/LoadTableList?TemplatesKey=' + $("#Rpt_TemplatesKey").val(), function (datahtml) {
            ItemList = $("#ItemList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                },
            });
        });

        var valueList;
        $.get('/@(ViewBag.ControllerName)/LoadValueList?TemplatesKey=' + $("#Rpt_TemplatesKey").val(), function (datahtml) {
            valueList = $("#ValueList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                },
            });
        });

        $("#ItemList").on("change", ".TableName", function () {
            var Index = $(this).attr("data-row");
            //var tbl = $("#ItemList table")[0];

            //4 columns: 3 data & 1 action
            //tbl.rows[Index].cells[0]//key
            //tbl.rows[Index].cells[1].innerText = $(this).val();

            $(".Rpt_Templates_TableNameKey_" + Index).val($(this).val());
        });

        $("#btn_Save").on("click", function () {
            showLoading();
            var tblListItem = ItemList.getData();
            var tblListvalueList = valueList.getData();
            var objJson_Item = $("#frmInfo *").serializeObject();
            var dataPost = { iteminfo: objJson_Item, lst_tables: tblListItem, lst_values: tblListvalueList };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Edit',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == 1) {
                        swal({
                            position: 'center',
                            type: 'success',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });

                        var formData = new FormData($("#frmInfo")[0]);
                        $.ajax({
                            url: '/@(ViewBag.ControllerName)/UploadFile/?id=' + data.Data.Rpt_TemplatesKey,
                            type: 'POST',
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function (response) {
                                hideLoading();
                                showSuccess(data.strMess);
                                window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_TemplatesKey;
                            },
                            error: function (datafile) {
                                showSuccess("Không thể upload file");
                            }
                        });
                    }
                    else {
                        hideLoading();
                        swal({
                            position: 'center',
                            type: 'error',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (data) {
                    hideLoading();
                    swal({
                        position: 'center',
                        type: 'error',
                        title: data.strMess,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        });

    })
</script>
