﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách Mẫu Báo Cáo </h2>
                    <a id="btn_Create" class="btn btn-success pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Create">Thêm mới</a>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="ItemList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList', 1, null, true);
    });
    $("#ItemList").on('click', '.btn_xoa', function () {
        var id = $(this).attr("data-id");
        Delete('/@(ViewBag.ControllerName)/Delete', id, 'ItemList', '/@(ViewBag.ControllerName)/LoadList', null);
    });
</script>