﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_content">
        <div class="card">
            <div class=" x_panel">
                <div class="x_title">
                    <h2><label id="lbReport_ReportInYear"></label></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div id="chart_ReportInYear" class="col-md-12" style="height: 350px; width: 100%; margin: 0px auto;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="x_content">
        <div class="card">
            <div class=" x_panel">
                <div class="x_title">
                    <h2><label id="lbReport_Department_Employee"></label></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div id="chart_Department_Employee" class="col-md-6" style="height: 350px; width: 100%; margin: 0px auto;">

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    $(this).ready(function () {

        $.get("/@(ViewBag.ControllerName)/LoadChart_Doughnut_ReportInYear", function (item) {
            $("#lbReport_ReportInYear")[0].innerHTML = item.ChartTitle;
            if (item.DataList.length == 0) {
                return;
            }
            var chartdata = [];

            for (i = 0; i < item.DataList.length; i++) {
                chartdata[chartdata.length] = { y: item.DataList[i].YValue, label: item.DataList[i].LabelCaption };
            }
            var chart = new CanvasJS.Chart("chart_ReportInYear", {
                animationEnabled: true,
                title: {
                    //text: item.ChartTitle,
                    horizontalAlign: "center"
                },
                data: [{
                    type: item.ChartType,
                    startAngle: 60,
                    //innerRadius: 60,
                    indexLabelFontSize: 17,
                    indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: chartdata
                }]
            });
            chart.render();
        });

        $.get("/@(ViewBag.ControllerName)/LoadChart_Department_Employee", function (item) {
            $("#lbReport_Department_Employee")[0].innerHTML = item.ChartTitle;
            if (item.DataList.length == 0) {
                return;
            }
            var chartdata = [];

            for (i = 0; i < item.DataList.length; i++) {
                chartdata[chartdata.length] = { y: item.DataList[i].YValue, label: item.DataList[i].LabelCaption };
            }
            var chart = new CanvasJS.Chart("chart_Department_Employee", {
                animationEnabled: true,
                title: {
                    //text: item.ChartTitle,
                    horizontalAlign: "center"
                },
                data: [{
                    type: item.ChartType,
                    startAngle: 60,
                    //innerRadius: 60,
                    indexLabelFontSize: 17,
                    indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: chartdata
                }]
            });
            chart.render();
        });
    });
</script>
