﻿
@{
    ViewBag.Title = "In Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_content">
    <div class="card">
        <div class=" x_panel">
            <div class="x_title">
                <h2>Hệ thống đang được nâng cấp</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Chức năng này đang được xây dựng. Vui lòng trở lại sau</h4>
                </div>
            </div>
        </div>
    </div>
</div>

