﻿
@{
    ViewBag.Title = "NotPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-4 col-xs-6 tile_stats_count">
    <h2>Bạn không có quyền truy cập chức năng này</h2>
</div>

