﻿@{
    ViewBag.Title = "Work Desk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">

    <div class="x_content">
        <div class="card">
            <div class=" x_panel">
                <div class="x_title">
                    <h2>Tải về hướng dẫn sử dụng</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    @if (ViewBag.FileDoc != null)
                    {
                        <h2><u><a href="@(ViewBag.FileDoc)">Nhấn để tải</a></u></h2>
                    }
                    else
                    {
                        <h2>File chưa cập nhật! Vui lòng trở lại sau</h2>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(this).ready(function () {

    });
</script>
