﻿@{
    ViewBag.Title = "Work Desk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">

    <div class="x_content">
        <div class="card">
            <div class=" x_panel">
                <div class="x_title">
                    <h2>Các báo cáo cần nhập liệu</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div id="lst_rpt_input_onwork">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="x_content">
        <div class="card">
            <div class=" x_panel">
                <div class="x_title">
                    <h2>Các báo cáo đang thực hiện</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div id="lst_rpt_hdr_onwork">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(this).ready(function () {
        LoadTable('lst_rpt_input_onwork', '/@(ViewBag.ControllerName)/LoadList_RptInput_OnWork', 1, null, true);

        LoadTable('lst_rpt_hdr_onwork', '/@(ViewBag.ControllerName)/LoadList_RptHdr_OnWork', 1, null, true);

    });
</script>
