﻿@model AutoReport.Models.SYS_Users

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo người dùng</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="card">
                        @*info*@
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Thông tin người dùng</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.UserID)

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Tên đăng nhập <font color="red">(*)</font></label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Mật khẩu <font color="red">(*)</font></label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <a id="btn_ViewPassword" class="btn btn-default">Xem</a>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Nhân viên </label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.DropDownListFor(model => model.EmployeeKey, ViewBag.EmployessList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.DLA_CheckBoxFor(model => model.Active)
                                                            <label> &nbsp;&nbsp;Kích hoạt </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Ghi Chú</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                </div>

                                <div class="row clearfix">
                                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        $("#btn_Save").click(function () {
            var data = $("#frmInfo").serializeObject();

            var dataPost = { iteminfo: data };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal({
                            position: 'center',
                            type: 'success',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.UserID;
                    }
                    else {
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    showError(data.strMess);
                }
            });
        });

        $("#btn_ViewPassword").click(function () {
            if ($("#UserPassword")[0].type == "password")//see debug
                $("#UserPassword")[0].type = "text";
            else
                $("#UserPassword")[0].type = "password";
        });
    });
</script>
