﻿@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chọn dữ liệu từ phụ lục</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_title">
                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                        <label>Chọn Báo cáo <font color="red">(*)</font></label>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.DropDownList("RptHeaderSelected", ViewBag.ReportList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                        <label>Chọn Phụ Lục <font color="red">(*)</font></label>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" data-live-search="true" id="RptTableSelected" name="RptTableSelected">
                                    
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div id="ItemList" style="overflow-y: scroll; height: 350px;">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

