﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(model => model.Rpt_ReportHeaderKey)
@Html.Hidden("InputCompleted", ViewBag.InputCompleted == null ? "no" : (string)ViewBag.InputCompleted)

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách Trường dữ liệu: @(Model.Rpt_Name)</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div id="ValueList">

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <a id="btn_InputComplete" class="btn btn-primary">Nhập xong</a>
                        <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="@(ViewBag.BackToIndexLink)">Trở về</a>
                        <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_Input">
    <div class="modal fade" id="Modal_Input" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="body">
                            <div id="DLA_Input">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Nhập Giá Trị</h2>
                                        <div class="row clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <textarea id="popup_value_input" class="form-control" rows="15"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Hủy</a>
                    <a id="btnInputValueOK" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        if ($("#InputCompleted").val() == "yes") {
            $("#btn_InputComplete").attr("style", "visibility: hidden");
            $("#btn_Save").attr("style", "visibility: hidden");
        }
        else {
            $("#btn_InputComplete").attr("style", "visibility: visible");
            $("#btn_Save").attr("style", "visibility: visible");
        }
        var tbl_value_const;
        var tbl_value_const_item_deleted = [];

        var current_textarea = null;
        $("#ValueList").on('keypress', 'table tbody input[type="text"]', function (e) {
            if (e.keyCode != 13)
                return;
            $(this).attr('readonly', $("#InputCompleted").val() == "yes" ? "readonly" : "");

            current_textarea = this;
            $("#popup_value_input").val(this.value);
            $("#Modal_Input").modal();
        });

        $("#ValueList").on('dblclick', 'table tbody input[type="text"]', function (e) {
            current_textarea = this;
            $("#popup_value_input").val(this.value);
            $("#Modal_Input").modal();
        });

        $("#btnInputValueOK").click(function () {
            if (current_textarea != null) {
                current_textarea.value = $("#popup_value_input").val();
            }
            $("#Modal_Input").modal('hide');
        });

        $("#Modal_Input").on('shown.bs.modal', function () {
            $("#popup_value_input").focus();
        });

        $.get("/@(ViewBag.ControllerName)/LoadValueList_Input?RptHeaderKey=" + $("#Rpt_ReportHeaderKey").val() + "&inputcompleted=" + $("#InputCompleted").val(), function (datahtml) {
            $("#ValueList").empty();
            tbl_value_const = $("#ValueList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                    //value of row begins from 1
                    if (this.data[row - 1] == null)
                        return;
                    if (this.data[row - 1][0] != "")
                        tbl_value_const_item_deleted[tbl_value_const_item_deleted.length] = this.data[row - 1][0];
                },
            });

            if ($("#InputCompleted").val() == "no") {
                if (datahtml.Data.length == 0)
                    $("#btn_InputComplete").attr("style", "visibility: hidden");
            }
        });

        $("#btn_Save").click(function () {
            //for (instance in CKEDITOR.instances)
            //    CKEDITOR.instances[instance].updateElement();
            showLoading();
            var tbl_values = tbl_value_const.getData();
            var dataPost = { RptHeaderKey: $("#Rpt_ReportHeaderKey").val(), lst_item_const: tbl_values, lst_item_const_id_deleted: tbl_value_const_item_deleted };

            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/SaveValues_Input',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal({
                            position: 'center',
                            type: 'success',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        window.location = "/@(ViewBag.ControllerName)/RptValuesInput_Edit/" + data.Data.Rpt_ReportHeaderKey;
                    }
                    else {
                        hideLoading();
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });

        });

        $("#btn_InputComplete").click(function () {
            swal({
                title: 'Kết thúc nhập liệu?',
                text: "Bạn có muốn hoàn thành việc nhập liệu!",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Tôi chưa nhập xong',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Hoàn thành',
            }, function (value) {
                if (value) {
                    $.get('/@(ViewBag.ControllerName)/Update_InputValue_Complete?Report_TableIndex_Key=' + $("#Rpt_ReportHeaderKey").val(), function (data) {
                        if (data.intStatus == "1") {
                            swal({
                                position: 'center',
                                type: 'success',
                                title: data.strMess,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            window.location = "/@(ViewBag.ControllerName)/RptValuesInput_Edit/" + data.Data;
                        }
                        else {
                            showError(data.strMess);
                        }
                    });
                }
            });
        });
    });
</script>
