﻿@model IEnumerable<AutoReport.Models.RPT_REPORTHEADER>

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách báo cáo cần nhập liệu trường dữ liệu</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="ItemList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList_ValuesInput_Index', 1, null, true);
    });
</script>
