﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="/build/css/"/>*@
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Điều Chỉnh Thông Tin</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*info*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Rpt_ReportHeaderKey)

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mẫu Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DropDownListFor(model => model.Rpt_TemplatesKey, ViewBag.TemplatesList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true", @disabled = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Mã Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_ID, new { @class = "form-control", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tên Báo Cáo <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Name, new { @class = "form-control", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Tháng <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Month, new { @class = "form-control", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Năm <font color="red">(*)</font></label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextBoxFor(model => model.Rpt_Year, new { @class = "form-control", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Ghi Chú</label>
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = "5", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/IndexViewSearch">Trở về</a>
                                </div>

                            </div>

                            @*table trường dữ liệu*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường dữ liệu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                            @*table danh sách bảng phụ lục*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng Phụ lục</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        $.get("/@(ViewBag.ControllerName)/LoadValueList_Details?RptHeaderKey=" + $("#Rpt_ReportHeaderKey").val(), function (datahtml) {
            $("#ValueList").empty();
            $("#ValueList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                },
            });
        });

        $.get("/@(ViewBag.ControllerName)/LoadTableList_Details?RptHeaderKey=" + $("#Rpt_ReportHeaderKey").val(), function (datahtml) {
            $("#ItemList").empty();
            $("#ItemList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                },
            });
        });


    });

    

</script>

