﻿@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách báo cáo đã hoàn tất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="ItemList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList_ViewSearch', 1, null, true);
    });

    $("#ItemList").on('click', '.btn_xuat', function () {
        var id = $(this).attr("data-id");
        var dataPost = { rpt_headerkey: id };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/ExportWord_OpenXml',
            data: JSON.stringify(dataPost),
            contentType: "application/json",
            enctype: 'multipart/form-data',
            success: function (data) {
                if (data.intStatus == 1) {
                    hideLoading();
                    window.location = "/@(ViewBag.ControllerName)/DownloadFileExport?filepathfull=" + data.Data["folderpath"] + "&downloadfilename=" + data.Data["filename"];
                }
                else {
                    hideLoading();
                    showError(data.strMess);
                }

            },
            error: function (data) {
                hideLoading();
                showError(data.strMess);
            }
        });
    });
</script>
