﻿@model AutoReport.Models.RPT_REPORTHEADER
@{
    /**/

    ViewBag.Title = "Danh Sách File đính kèm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách file đính kèm: @(Model.Rpt_Name)</h2>
                <a class="btn btn-danger pull-right" href="/@(ViewBag.ControllerName)/IndexViewSearch">Trở về</a>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="x_content">
                    <div id="ItemList">

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadFileAttached_ListReview/?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);
    });

</script>
