﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Style tab links */
    .tablink {
        background-color: #cccccc;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 100%;
    }

        .tablink:hover {
            background-color: #eaeae1;
        }

    .tablink_btn {
        background-color: #cccccc;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 12px;
        font-size: 16px;
        font-weight: bold;
        width: 6%;
    }

        .tablink_btn:hover {
            background-color: #eaeae1;
        }
    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        /*background-color: #cccccc;*/
        color: black;
        display: none;
        /*padding: 100px 20px;*/
        height: 100%;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@(Model.Rpt_Name)</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row clearfix">
                        <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/RptReviewInput_Index">Trở về</a>
                        @if (ViewBag.AllowApprove != null && (bool)ViewBag.AllowApprove)
                        {
                            <a id="btn_approve" class="btn btn-primary pull-right" style="margin-bottom: 25px;">Duyệt báo cáo</a>
                        }
                        <a id="btn_decline" class="btn btn-default pull-right" style="margin-bottom: 25px; background-color:orange; color:white;" href="/@(ViewBag.ControllerName)/RptReviewInput_Decline/@(Model.Rpt_ReportHeaderKey)">Trả nhập lại</a>

                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px; padding-right: 0px;">
                        <a id="tab_values" class="tablink btn_tablink_master">Trường dữ liệu</a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px; padding-right: 0px;">
                        <a id="tab_tbls" class="tablink btn_tablink_master">Bảng Phụ Lục</a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px; padding-right: 0px;">
                        <a id="tab_attached" class="tablink btn_tablink_master">Danh sách đính kèm</a>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div id="data_values" class="tabcontent content_page_master">

                        </div>

                        <div id="data_tables" class="tabcontent content_page_master">
                            <div id="data_pl_show">Không có phụ lục</div>
                            <div class="x_title">
                                <h2>Danh sách Phụ lục</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div id="section_rpt_tables_btn" class="col-sm-12 col-md-12 col-lg-12">

                            </div>

                            <div id="section_rpt_tables_tabpage" class="col-sm-12 col-md-12 col-lg-12">

                            </div>
                        </div>

                        <div id="data_attached" class="tabcontent content_page_master">

                        </div>
                    </div>
                </div>

                <div class="x_content">
                    <h2>DANH SÁCH NGƯỜI DÙNG NHẬP LIỆU</h2>

                    <div id="PersonInputList">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="DLA_Ajax_Modal_Input">
    <div class="modal fade" id="Modal_Input" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="body">
                            <div id="DLA_Input">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Nhập Giá Trị</h2>
                                        <div class="row clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <textarea id="popup_value_input" class="form-control" rows="15" readonly></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Trở Về</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openPage(pageName, elmnt, color, classlink, classcontent) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName(classcontent);
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName(classlink);
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    function show_table_data(tbl_index_key, divid) {
        var item_tbl_div = "#" + divid;
        if ($(item_tbl_div).find('table').length > 0)
            return;

        $.get("/@(ViewBag.ControllerName)/LoadTableData_Review/?Rpt_ReportDetail_TableIndexKey=" + tbl_index_key + "&editible=false", function (data) {
            showLoading();
            if (data["result"] == "") {

                $(item_tbl_div).editTable({
                    data: data["gridlayout"].Data,
                    headerCols: data["gridlayout"].Header,
                    action: data["gridlayout"].ShowAction,
                    delrow: function (row) {
                    },
                });
            }
            else {
                $(item_tbl_div).append("<h3>" + data["result"] + "</h3>");
                $(item_tbl_div).append("<p>" + data["msg"] + "</p>");
            }
            hideLoading();
        });
    }

    $(this).ready(function () {
        $("#tab_values").click(function () {
            openPage('data_values', this, '#00b3b3', 'btn_tablink_master', 'content_page_master');
        });

        $("#tab_tbls").click(function () {
            openPage('data_tables', this, '#00b3b3', 'btn_tablink_master', 'content_page_master');
        });
        $("#tab_attached").click(function () {
            openPage('data_attached', this, '#00b3b3', 'btn_tablink_master', 'content_page_master');
        });

        $("#data_pl_show").attr("style", "visibility: hidden");
        $("#section_rpt_tables_btn").empty();
        $("#section_rpt_tables_tabpage").empty();
        $("#tab_values").click();

        //get values
        $.get("/@(ViewBag.ControllerName)/LoadValueList_Input?RptHeaderKey=@(Model.Rpt_ReportHeaderKey)&inputcompleted=yes", function (datahtml) {
            $("#data_values").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                    //value of row begins from 1
                    if (this.data[row - 1][0] != "")
                        tbl_value_const_item_deleted[tbl_value_const_item_deleted.length] = this.data[row - 1][0];
                },
            });
        });

        $("#section_rpt_tables_tabpage").on("click", 'table tbody input[type="text"]', function () {

            $("#popup_value_input").val(this.value);
            $("#Modal_Input").modal();
        });

        //get tables
        $.get("/@(ViewBag.ControllerName)/LoadTableList_Review?RptHeaderKey=@(Model.Rpt_ReportHeaderKey)", function (data) {
            if (data["TablesList"].length == 0) {
                //$("#data_pl_show").attr("style", "visibility: visible");
                return;
            }
            showLoading();
            var rpt_btn_section_id = "";
            var rpt_tbl_section_id = "";
            for (i = 0; i < data["TablesList"].length; i++) {
                rpt_btn_section_id = "btn_section_tbl_" + data["TablesList"][i].TableID;
                rpt_tbl_section_id = "div_section_tbl_" + data["TablesList"][i].TableID;

                $("#section_rpt_tables_btn").append("<button id=\"" + rpt_btn_section_id + "\" class=\"tablink_btn btn_tabpagepl\" onclick=\"openPage('" + rpt_tbl_section_id + "', this, '#00b3b3', 'btn_tabpagepl', 'content_tabpagepl'); show_table_data('" + data["TablesList"][i].Rpt_ReportDetail_TableIndexKey + "', '" + rpt_tbl_section_id + "');\">" + (i + 1) + "</button>");
                $("#section_rpt_tables_tabpage").append("<div id=\"" + rpt_tbl_section_id + "\" class=\"tabcontent content_tabpagepl\"><h3>" + data["TablesList"][i].TableName + "</h3></div>");
            }
            hideLoading();
        });

        //get file attached
        LoadTable('data_attached', '/@(ViewBag.ControllerName)/LoadFileAttached_ListReview/?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);
        //

        $.get("/@(ViewBag.ControllerName)/LoadList_PersonInput_Status/@(Model.Rpt_ReportHeaderKey)", function (datahtml) {
            $("#PersonInputList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                },
            });
        });

        $("#btn_approve").click(function () {

            swal({
                title: 'Duyệt Báo Cáo!!!',
                text: "Bạn có muốn duyệt báo cáo này",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Bỏ qua',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Duyệt',
            }, function (value) {
                if (value) {
                    $.get('/@(ViewBag.ControllerName)/Rpt_ReportApproved/@(Model.Rpt_ReportHeaderKey)', function (data) {
                        if (data.intStatus == "1") {
                            swal({
                                position: 'center',
                                type: 'success',
                                title: data.strMess,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            window.location = "/@(ViewBag.ControllerName)/RptReviewInput_Index/"
                        }
                        else {
                            swal({
                                position: 'center',
                                type: 'error',
                                title: data.strMess,
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
                });

        });//end of btn_approve

    });//end of ready
</script>
