﻿@model AutoReport.Models.RPT_REPORTHEADER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Trả về báo cáo</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">

                            @*info*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin nhập liệu</h2>
                                        <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/RptReviewInput_Index">Quay Lại</a>
                                        <a id="btn_decline" class="btn btn-success pull-right" style="margin-bottom: 25px;">Trả về</a>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <h2>Lý do trả về</h2>
                                    </div>

                                    <div class="row clearfix">
                                        @Html.TextArea("Reason", new { @class = "form-control", @rows = "5" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadList_PersonList_Decline?SearchKey=@(Model.Rpt_ReportHeaderKey)', 1, null, true);

        $("#btn_decline").click(function () {

            swal({
                title: 'Trả lại báo cáo',
                text: "Bạn có muốn trả lại báo cáo cho người dùng nhập liệu?",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Không! Tôi không muốn',
                cancelButtonColor: '#ff3333',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Vâng! Trả lại',
            }, function (value) {
                if (value) {

                    var lst_sent_approved = new Array();

                    $("#ItemList table tbody tr").each(function (row) {
                        var chkbx_checked = $("#ItemList table tbody")[0].rows[row].cells[0].childNodes[0].checked;

                        if (chkbx_checked) {
                            var chkbox_key = $("#ItemList table tbody")[0].rows[row].cells[0].childNodes[0].id;
                            lst_sent_approved[lst_sent_approved.length] = chkbox_key;
                        }
                    });


                    var dataPost = { lst_decline: lst_sent_approved, decline_reason: $("#Reason").val() };
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/Rpt_ReportDeclined',
                        data: dataPost,
                        dataType: 'json',
                        success: function (data) {
                            hideLoading();
                            if (data.intStatus == 1) {
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: data.strMess,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                window.location = "/@(ViewBag.ControllerName)/RptReviewInput_Index";
                            }
                            else {
                                swal({
                                    position: 'center',
                                    type: 'error',
                                    title: data.strMess,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        },
                        error: function (data) {
                            swal({
                                position: 'center',
                                type: 'error',
                                title: data.strMess,
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
            });

        });

    });

</script>

