﻿@{
    ViewBag.Title = "Thống kê Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_content">
        <div class="card">
            <div class=" x_panel">
                <div class="x_title">
                    <h2><label id="lbReport_ReportInYear"></label></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row clearfix">
                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                        <label>Chọn Năm</label>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.DropDownList("RptSelectedYear", ViewBag.ListRptYear as List<SelectListItem>, new { @class = "form-control", data_live_search = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                        <label>Chọn Tháng</label>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.DropDownList("RptSelectedMonth", ViewBag.ListRptMonth as List<SelectListItem>, new { @class = "form-control", data_live_search = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="form-control-label col-sm-4 col-md-4 col-lg-4" style="display: none;">
                        <a id="btnView" class="btn btn-success" style="margin-bottom: 25px;">Xem</a>
                    </div>

                </div>

                <div class="x_content">
                    <div id="chart_ReportInYear" class="col-md-12" style="height: 350px; width: 100%; margin: 0px auto;">

                    </div>
                </div>

                <div class="x_content">
                    <div id="chart_stackedcolumns" class="col-md-12" style="height: 350px; width: 100%; margin: 0px auto;">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(this).ready(function () {

        $("#btnView").click(function (item) {
            $.get("/@(ViewBag.ControllerName)/LoadChart_Doughnut_ReportInYear/?pYear=" + $("#RptSelectedYear").val() + "&pMonth=" + $("#RptSelectedMonth").val(), function (item) {
                $("#lbReport_ReportInYear")[0].innerHTML = item.ChartTitle;
                //if (item.DataList.length == 0) {
                //    return;
                //}
                var chartdata = [];

                for (i = 0; i < item.DataList.length; i++) {
                    chartdata[chartdata.length] = { y: item.DataList[i].YValue, label: item.DataList[i].LabelCaption };
                }
                var chart = new CanvasJS.Chart("chart_ReportInYear", {
                    animationEnabled: true,
                    title: {
                        //text: item.ChartTitle,
                        horizontalAlign: "center"
                    },
                    data: [{
                        type: item.ChartType,
                        startAngle: 60,
                        //innerRadius: 60,
                        indexLabelFontSize: 17,
                        indexLabel: "{label} - #percent%",
                        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                        dataPoints: chartdata
                    }]
                });
                chart.render();
            });
        });

        //$("#btnView").click();

        $("#RptSelectedYear").change(function () {
            $("#btnView").trigger('click');
        });

        $("#RptSelectedMonth").change(function () {
            $("#btnView").trigger('click');
        });

        var ch_stackcolumn = new CanvasJS.Chart("chart_stackedcolumns", {
            animationEnabled: true,
            title: {
                text: "Google - Consolidated Quarterly Revenue",
                fontFamily: "arial black",
                fontColor: "#695A42"
            },
            axisX: {
                title: "axisX Title",
                titleFontSize: 35,
                labelFontSize: 20,
            },
            axisY: {
                valueFormatString: "#",
                gridColor: "#B6B1A8",
                tickColor: "#B6B1A8"
            },
            toolTip: {
                shared: true,
                content: toolTipContent
            },
            data: [{
                type: "stackedColumn",
                showInLegend: true,
                color: "#008ae6",
                name: "Hoàn Thành",
                dataPoints: [
                    { y: 6.75, label: "P1" },
                    { y: 8.57, label: "P2" },
                    { y: 10.64, label: "P3" },
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "Đang Làm",
                color: "#ff8c1a",
                dataPoints: [
                    { y: 6.82, label: "P1" },
                    { y: 9.02, label: "P2" },
                    { y: 11.80, label: "P3" },
                ]
            },
            ]
        });
        ch_stackcolumn.render();

        function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> "
                    + e.entries[i].dataSeries.name + "</span>: <strong>"
                    + e.entries[i].dataPoint.y + "</strong><br/>";

                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:#800080;\"><strong>" + e.entries[0].dataPoint.label + "</strong></span><br/>";
            str3 = "<span style = \"color:red\">Tổng: </span><strong>" + total + "</strong><br/>";
            return (str2.concat(str)).concat(str3);
        }
    });
</script>
