﻿@{
    ViewBag.Title = "Thống kê Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_content">
        <div class="card">
            <div class="x_panel">

                <div>
                    <div class="form-control-label col-sm-1 col-md-1 col-lg-1">
                        <label>Chọn Năm</label>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.DropDownList("RptSelectedYear", ViewBag.ListRptYear as List<SelectListItem>, new { @class = "form-control", data_live_search = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="form-control-label col-sm-4 col-md-4 col-lg-4" style="display: none;">
                        <a id="btnView" class="btn btn-success" style="margin-bottom: 25px;">Xem</a>
                    </div>

                </div>

                <div class="x_content">
                    <div id="chart_stackedcolumns" class="col-md-12" style="height: 350px; width: 100%; margin: 0px auto;">

                    </div>
                </div>
                <div class="x_content">
                    <div id="chart_pie" class="col-md-12" style="height: 350px; width: 100%; margin: 0px auto;">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(this).ready(function () {

        $("#btnView").click(function (item) {
            $.get("/@(ViewBag.ControllerName)/LoadChart_BarV_ReportInYear/?pYear=" + $("#RptSelectedYear").val(), function (item) {

                var data_c = [];
                var data_s = [];
                var data_o = [];

                for (i = 0; i < item.DataList_StackBarVM.length; i++) {
                    if (item.DataList_StackBarVM[i].DataGroup == "c")
                        data_c[data_c.length] = { y: item.DataList_StackBarVM[i].YValue, label: item.DataList_StackBarVM[i].LabelCaption };
                    else if (item.DataList_StackBarVM[i].DataGroup == "s")
                        data_s[data_s.length] = { y: item.DataList_StackBarVM[i].YValue, label: item.DataList_StackBarVM[i].LabelCaption };
                    else
                        data_o[data_o.length] = { y: item.DataList_StackBarVM[i].YValue, label: item.DataList_StackBarVM[i].LabelCaption };
                }

                var chart = new CanvasJS.Chart("chart_stackedcolumns", {
                    animationEnabled: true,
                    title: {
                        text: item.ChartTitle,
                        fontFamily: "Times New Roman",
                        fontWeight: "bold",
                        fontColor: "#695A42"
                    },
                    axisX: {
                        title: item.AxisX_Title,
                        interval: 1,
                        titleFontSize: 25,
                        labelFontSize: 13,
                    },
                    axisY: {
                        title: item.AxisY_Title,
                        valueFormatString: "#",
                        gridColor: "#B6B1A8",
                        tickColor: "#B6B1A8",
                        titleFontSize: 25,
                        labelFontSize: 13,
                    },
                    toolTip: {
                        shared: true,
                        content: toolTipContent
                    },
                    data: [{
                        type: item.ChartType,
                        showInLegend: true,
                        color: "#008ae6",
                        name: "Hoàn Thành",
                        dataPoints: data_c
                    },
                    {
                        type: item.ChartType,
                        showInLegend: true,
                        name: "Đang Làm",
                        color: "#ff8c1a",
                        dataPoints: data_s
                    },
                    {
                        type: item.ChartType,
                        showInLegend: true,
                        name: "Quá Hạn",
                        color: "#996633",
                        dataPoints: data_o

                    },
                    ]
                });
                chart.render();
            });

            $.get("/@(ViewBag.ControllerName)/LoadChart_Doughnut_ReportInYear/?pYear=" + $("#RptSelectedYear").val(), function (item) {

                var chartdata = [];

                for (i = 0; i < item.DataList_Donut.length; i++) {
                    chartdata[chartdata.length] = { y: item.DataList_Donut[i].YValue, label: item.DataList_Donut[i].LabelCaption };
                }
                var chart = new CanvasJS.Chart("chart_pie", {
                    animationEnabled: true,
                    title: {
                        text: item.ChartTitle,
                        horizontalAlign: "center"
                    },
                    data: [{
                        type: item.ChartType,
                        startAngle: 60,
                        //innerRadius: 60,
                        indexLabelFontSize: 17,
                        indexLabel: "{label} - #percent%",
                        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                        dataPoints: chartdata
                    }]
                });
                chart.render();
            });
        });

        $("#btnView").click();

        $("#RptSelectedYear").change(function () {
            $("#btnView").trigger('click');
        });

        function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> "
                    + e.entries[i].dataSeries.name + "</span>: <strong>"
                    + e.entries[i].dataPoint.y + "</strong><br/>";

                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:#800080;\"><strong>" + e.entries[0].dataPoint.label + "</strong></span><br/>";
            str3 = "<span style = \"color:red\">Tổng: </span><strong>" + total + "</strong><br/>";
            return (str2.concat(str)).concat(str3);
        }
    });
</script>
