﻿@{
    ViewBag.Title = "Thống kê Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custh {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .custd {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_content">
        <div class="card">
            <div class="x_panel">
                <div class="x_title">
                    <h2><label>BÁO CÁO TRONG NĂM</label></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row clearfix">
                    <table>
                        <tr>
                            <th class="custh" style="width: 5%;">
                                Năm
                            </th>
                            <td class="custd" style="width: 10%;">
                                @Html.DropDownList("RptSelectedYear", ViewBag.ListRptYear as List<SelectListItem>, new { @class = "form-control", data_live_search = "true" })
                            </td>

                            <th class="custh" style="width: 5%;">
                                Tháng
                            </th>
                            <td class="custd" style="width: 12%;">
                                @Html.DropDownList("RptSelectedMonth", ViewBag.ListRptMonth as List<SelectListItem>, new { @class = "form-control", data_live_search = "true" })
                            </td>

                            <th class="custh" style="width: 9%;">
                                Tình Trạng
                            </th>
                            <td class="custd" style="width: 15%;">
                                @Html.DropDownList("RptStatus", ViewBag.ListStatus as List<SelectListItem>, new { @class = "form-control", data_live_search = "true" })
                            </td>
                            <th class="custh" style="width: 11%;">
                                Mẫu Báo Cáo
                            </th>
                            <td class="custd">
                                @Html.DropDownList("RptTemplate", ViewBag.ListTemplates as SelectList, "(Tất Cả)", new { @class = "form-control", data_live_search = "true" })
                            </td>
                        </tr>

                    </table>

                    @*<div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                            <label></label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <div class="form-line">
                                </div>
                            </div>
                        </div>*@

                    <div class="form-control-label col-sm-4 col-md-4 col-lg-4" style="display: none;">
                        <a id="btnView" class="btn btn-success" style="margin-bottom: 25px;">Xem</a>
                    </div>

                </div>


            </div>
        </div>

        <div class="card">
            <div class="x_panel">
                <div class="x_content">
                    <div id="ItemList">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(this).ready(function () {

        $("#btnView").click(function (item) {
            LoadTable('ItemList', '/@(ViewBag.ControllerName)/LoadGridSummary_ByYear/?RptSelectedYear=' + $("#RptSelectedYear").val() + "&RptSelectedMonth=" + $("#RptSelectedMonth").val() + "&RptStatus=" + $("#RptStatus").val() + "&RptTemplate=" + $("#RptTemplate").val(), 1, null, true);
        });

        $("#btnView").click();

        $("#RptSelectedYear").change(function () {
            $("#btnView").trigger('click');
        });
        $("#RptSelectedMonth").change(function () {
            $("#btnView").trigger('click');
        });
        $("#RptStatus").change(function () {
            $("#btnView").trigger('click');
        });
        $("#RptTemplate").change(function () {
            $("#btnView").trigger('click');
        });
    });
</script>
