﻿/*default controls*/
body {
    font-size: 1rem;
}

label {
    font-size: 15px;
}

.ultree {
    list-style-type: none;
}
.li-leaf{
    float: left;
    width: 100%;
}

/*defined/default class*/
.at-right {
    float: right;
}

.at-left {
    float: left;
}

.btn-c1 {
    margin-right: .325rem;
}

.btn {
    font-size: 15px;
}

.model-footer {
    width: 100%;
    margin: .5rem;
    padding: .25rem;
    border-top: 1px dashed #ddd;
}

    .model-footer label {
        color: #a6a6a6;
    }

.ctrl-hide {
    display: none;
}
