﻿
/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
    position: relative;
    overflow: auto;
}

.li-table-100-paginationw3-hide {
    display: none !important;
}

.li-table-100-paginationw3-show {
    display: inline !important;
}

table {
    width: 100%;
}

    table thead, tbody {
        width: 100%;
    }

.row100 {
    border: initial;
}

.cell100 {
    border: initial;
}

.cell100-show {
    display: initial;
}

.cell100-hide {
    display: none;
}

.tr-selected {
    background-color: #418AEE !important;
    color: white !important;
}

.btn100-action {
    padding: 0;
    margin-right: 7px;
    border: 1px solid #ddd;
}

.header-box-filter100 {
    width: 100%;
}

.table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
}

    .table100 .ps__rail-y::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #ebebeb;
        border-radius: 5px;
        width: 100%;
        height: calc(100% - 30px);
        left: 0;
        top: 15px;
    }

    .table100 .ps__rail-y .ps__thumb-y {
        width: 100%;
        right: 0;
        background-color: transparent;
        opacity: 1 !important;
    }

        .table100 .ps__rail-y .ps__thumb-y::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #cccccc;
            border-radius: 5px;
            width: 100%;
            height: calc(100% - 30px);
            left: 0;
            top: 15px;
        }


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 1366px;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
    background-color: #fff;
    width: 100%;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
    position: relative;
}

.table100-head {
    /*position: absolute;*/
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    /*max-height: 485px;*/
}

.table100-footer {
    padding-right: 30px;
    max-height: 50px;
}

.table100-fixheader {
    padding-right: 1rem;
}
/*==================================================================
[ Ver5 ]*/
.table100.ver5 {
    /*margin-right: -30px;*/
}

    .table100.ver5 .table100-head {
        padding-top: 5px;
        padding-bottom: 5px;
        /*padding-right: 17px;*/
    }

    .table100.ver5 th {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold !important;
        font-size: 14px;
        color: #555555;
        line-height: 1.4;
        text-transform: uppercase;
        background-color: transparent;
    }

    .table100.ver5 td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #808080;
        line-height: 1.4;
        background-color: #f7f7f7;
    }

    .table100.ver5 .table100-body tr {
        overflow: hidden;
        border-bottom: 10px solid #fff;
        border-radius: 10px;
    }

    .table100.ver5 .table100-body table {
        border-collapse: separate;
        border-spacing: 0 2px;
    }

    .table100.ver5 .table100-body td {
        border: solid 1px transparent;
        border-style: solid none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .table100.ver5 .table100-body td:first-child {
            border-left-style: solid;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .table100.ver5 .table100-body td:last-child {
            border-right-style: solid;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }

    .table100.ver5 tr:hover td {
        background-color: #ebebeb;
        cursor: pointer;
    }

    .table100.ver5 .table100-head th {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        vertical-align: middle !important;
    }

/*---------------------------------------------*/

.table100.ver5 {
    overflow: hidden;
}

    .table100.ver5 .table100-body {
        padding-right: 0px;
    }

    .table100.ver5 .ps__rail-y {
        right: 0px;
    }

        .table100.ver5 .ps__rail-y::before {
            background-color: #ebebeb;
        }

        .table100.ver5 .ps__rail-y .ps__thumb-y::before {
            background-color: #cccccc;
        }
