﻿/*body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
    line-height: 1.618em;
}*/

.wrapper {
    /*max-width: 50rem;*/
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    /*margin: 3rem 0;*/
    background: #1abc9c;
    height: 100%;
}

    .tabs::before,
    .tabs::after {
        content: "";
        display: table;
    }

    .tabs::after {
        clear: both;
    }

.tab {
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

    .tab-label:hover {
        top: -0.25rem;
        transition: top 0.25s;
    }

.tab-content {
    width:100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 0.5rem;
    background: #fff;
    color: #2c3e50;
    opacity: 0;
    transition: all 0.35s;
}

.tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}
