.paginationw3 {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 8px;
    border-radius: 4px
}

    .paginationw3 > li {
        display: inline
    }

        .paginationw3 > li > a, .paginationw3 > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd
        }

            .paginationw3 > li > a:focus, .paginationw3 > li > a:hover, .paginationw3 > li > span:focus, .paginationw3 > li > span:hover {
                z-index: 2;
                color: #23527c;
                background-color: #eee;
                border-color: #ddd
            }

        .paginationw3 > li:first-child > a, .paginationw3 > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }

        .paginationw3 > li:last-child > a, .paginationw3 > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px
        }

    .paginationw3 > .active > a, .paginationw3 > .active > a:focus, .paginationw3 > .active > a:hover, .paginationw3 > .active > span, .paginationw3 > .active > span:focus, .paginationw3 > .active > span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7
    }

    .paginationw3 > .disabled > a, .paginationw3 > .disabled > a:focus, .paginationw3 > .disabled > a:hover, .paginationw3 > .disabled > span, .paginationw3 > .disabled > span:focus, .paginationw3 > .disabled > span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd
    }

.paginationw3-lg > li > a, .paginationw3-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.paginationw3-lg > li:first-child > a, .paginationw3-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.paginationw3-lg > li:last-child > a, .paginationw3-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.paginationw3-sm > li > a, .paginationw3-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.paginationw3-sm > li:first-child > a, .paginationw3-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.paginationw3-sm > li:last-child > a, .paginationw3-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
