﻿@model AutoReport.Models.Report
@{
    Layout = null;

}
<style>
    .form-group {
        margin: -14px 0 0;
        margin-bottom: 20px;
    }
</style>
<div id="DLA_EditDocument">
    @Html.HiddenFor(model=>model.ReportKey)
    <form id="form1" class="form-horizontal form-label-left " style="padding-top: 10px;">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên văn bản</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.ReportName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Hiệu lực</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                @Html.DLA_DateFor(model => model.ReportDate)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Kích hoạt</label>
            <div class="col-md-10 col-sm-10 col-xs-12" style="margin-top: 5px;">
                @Html.DLA_CheckBoxFor(model => model.ReportStatus)
            </div>
        </div>

    </form>

</div>