﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <button id="btn_Create" type="button" class="btn btn-success pull-right" style="margin-bottom: 25px;">Thêm mới báo cáo</button>
    <div class="card">

        @*<div class="card-header card-header-primary">
            <h4 class="card-title ">Danh sách báo cáo của văn bản</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body" id="DLA_ReportsList">

        </div>*@
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách báo cáo</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="DLA_ReportsList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="DLA_Ajax_Modal_Create">
    <div class="modal fade" id="Modal_Create" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #798f9a;color: white;">
                    <div class="DLA_dash"><h4>Thêm báo cáo mới</h4></div>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">


                            <div id="DLA_Create">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnSaveCreate" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Đồng ý</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="DLA_Ajax_Modal_Edit">
    <div class="modal fade" id="Modal_Edit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #798f9a;color: white;">
                    <div class="DLA_dash"><h4>Sửa báo cáo</h4></div>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">


                            <div id="DLA_Edit">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnSaveEdit" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Đồng ý</a>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        LoadTable('DLA_ReportsList', '/Reports/LoadList', 1, null, true);
        $("#btn_Create").on("click", function () {
            $("#DLA_Ajax_Modal_Create #DLA_Create").html("Đang tải dữ liệu....");
            $.get('/Reports/Create/', function (data) {
                $("#DLA_Ajax_Modal_Create #DLA_Create").html(data);
                UpdateMask();
            });
            $("#Modal_Create").modal();
        });
        $("#DLA_ReportsList").on('click', '.btn_thanhcong', function () {
            $("#DLA_Ajax_Modal_Edit #DLA_Edit").html("Đang tải dữ liệu....");
            var id = $(this).attr("data-id");
            $.get('/Reports/Edit/' + id, function (data) {
                $("#DLA_Ajax_Modal_Edit #DLA_Edit").html(data);
                UpdateMask();
            });
            $("#Modal_Edit").modal();
        });
        $("#DLA_ReportsList").on('click', '.btn_xoa', function () {
            var id = $(this).attr("data-id");
            Delete('/Reports/Delete', id, 'DLA_ReportsList', '/Reports/LoadList', null);
        });
        $("#btnSaveCreate").on("click", function () {
            objJson_Reports = $("#DLA_Ajax_Modal_Create #DLA_Create *").serializeObject();
            var dataPost = { _Item: objJson_Reports };
            $.ajax({
                type: 'POST',
                url: '/Reports/Create/',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataPost),
                dataType: 'json',
                success: function (data) {
                    if (data.intStatus == "1") {
                        //Lưu thành công
                        $("#Modal_Create").modal('hide');
                        LoadTable('DLA_ReportsList', '/Reports/LoadList', 1, null, true);
                    } else {
                        showError(data.strMess)
                    }
                },
                error: function (data) {
                    // if error occured
                    showError("Error");
                }
            });
        })

        $("#btnSaveEdit").on("click", function () {
            objJson_Reports = $("#DLA_Ajax_Modal_Edit #DLA_Edit *").serializeObject();
            var dataPost = { _item: objJson_Reports};
            $.ajax({
                type: 'POST',
                url: '/Reports/Edit',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataPost),
                dataType: 'json',
                success: function (data) {
                    if (data.intStatus == "1") {
                        //Lưu thành công
                        $("#Modal_Edit").modal('hide');
                        LoadTable('DLA_ReportsList', '/Reports/LoadList', 1, null, true);

                    } else {
                        showError(data.strMess)
                    }
                },
                error: function (data) {
                    // if error occured
                    showError("Error");
                }
            });
        })
    });

</script>