﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";

    DateTime _fromdate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime _todate = _fromdate.AddMonths(1).AddDays(-1);
}

<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Thống kê báo cáo theo phòng ban</h6>
        <a id="btnSearch" class="btn btn-default btn100-action at-right" data-cmd="search"><i class="mi-2x mi-search"></i></a>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="row clearfix">
                <div class="col-md-2">
                    <label class="at-right">Từ</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("FromDate", AutoReport.Utils.TextUtil.ToTextFormat(_fromdate, null), new { @class = "form-control pickadate-selectors" })
                </div>
                <div class="col-md-2">
                    <label class="at-right">Đến</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("ToDate", AutoReport.Utils.TextUtil.ToTextFormat(_todate, null), new { @class = "form-control pickadate-selectors" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div id="tblview">

            </div>
        </div>
    </div>
</div>

<div id="modal_report_summary" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Danh sách Báo Cáo</h5>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div id="div_report_summary" class="row clearfix">

                </div>

            </div>
            <div class="modal-footer">
                <a class="btn bg-warning" data-dismiss="modal">Đóng</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        $('.pickadate-selectors').pickadate({
            selectYears: true,
            selectMonths: true,
            format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToLower())'
        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index"],
            lstText: ["Trang Chủ"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $('#btnSearch').click(function () {
            LoadTableCustom("tblview", "/@(ViewBag.ControllerName)/GetSummaryGrid/?StrFromDate=" + $('#FromDate').val() + "&StrToDate=" + $('#ToDate').val(), 1);
        });
        $('#btnSearch').click();

        $('#tblview').on('click', 'a.btn-detail-view', function () {
            var id = $(this).attr('data-id');
            LoadTableCustom("div_report_summary", "/@(ViewBag.ControllerName)/GetSummaryDetailByDepartmentKey/?StrDepKey=" + id + "&StrFromDate=" + $('#FromDate').val() + "&StrToDate=" + $('#ToDate').val(), 1);
            $('#modal_report_summary').modal('toggle');
        });
    });
</script>
