﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";

    DateTime _fromdate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime _todate = _fromdate.AddMonths(1).AddDays(-1);
}
<script src="/Layout/limitless/custom/js/jquery.canvasjs.min.js"></script>

<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Thống kê báo cáo theo phòng ban</h6>
        <a id="btnSearch" class="btn btn-default btn100-action at-right" data-cmd="search"><i class="mi-2x mi-search"></i></a>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="row clearfix">
                <div class="col-md-2">
                    <label class="at-right">Từ</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("FromDate", AutoReport.Utils.TextUtil.ToTextFormat(_fromdate, null), new { @class = "form-control pickadate-selectors" })
                </div>
                <div class="col-md-2">
                    <label class="at-right">Đến</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("ToDate", AutoReport.Utils.TextUtil.ToTextFormat(_todate, null), new { @class = "form-control pickadate-selectors" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div id="chartpie" style="height: 300px; width: 100%;">

            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        $('.pickadate-selectors').pickadate({
            selectYears: true,
            selectMonths: true,
            format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToLower())'
        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index"],
            lstText: ["Trang Chủ"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $('#btnSearch').click(function () {
            $.get("/@(ViewBag.ControllerName)/GetSummaryChartPie/?StrFromDate=" + $('#FromDate').val() + "&StrToDate=" + $('#ToDate').val(), function (ajresult) {
                if (ajresult.Result_Status == 1) {
                    var chart = new CanvasJS.Chart("chartpie", {
                        animationEnabled: true,
                        title: {
                            text: "Thống kê số lượng báo cáo theo thời gian",
                            horizontalAlign: "center"
                        },
                        legend: {
                            cursor: "pointer",
                            itemclick: explodePie
                        },
                        data: [{
                            type: 'pie',
                            startAngle: 60,
                            //innerRadius: 60,
                            showInLegend: true,
                            indexLabelFontSize: 17,
                            indexLabel: "{label} - #percent%",
                            toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                            dataPoints: ajresult.Data
                        }]
                    });
                    chart.render();
                }
                else {
                    show_pnotify('error', ajresult.Result_Message);
                }

            });
        });
        $('#btnSearch').click();

        function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();

        }
    });

</script>
