﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
    var department = ViewBag.ItemDepartment == null ? new AutoReport.Models.CAT_DEPARTMENTS() : ViewBag.ItemDepartment as AutoReport.Models.CAT_DEPARTMENTS;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Phân nhóm báo cáo cho: @(department.ItemName)</h3>
            @(Html.Hidden("DepartmentKey", department.dKey))

            <div id="div_btns_templates" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                <a class="btn btn-default btn100-action at-right" data-cmd="add" data-toggle="modal" data-target="#modal_tables_selection"><i class="mi-2x mi-add"></i></a>
            </div>

        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="hot-container hot-scrollable">
                        <div id="tblTemplates"></div>
                    </div>

                    <div id="div_btns" class="col-md-12">
                        <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="modal_tables_selection" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn Mẫu báo cáo</h5>
                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div id="div_tables_selection" class="row clearfix">

                </div>
            </div>
            <div class="modal-footer">
                <a class="btn bg-primary" data-cmd="submit" data-dismiss="modal">Chọn</a>
                <a class="btn bg-warning" data-dismiss="modal">Đóng</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/@(ViewBag.ControllerName)/Index"],
            lstText: ["Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        var row_templates = -1;
        var tblTemplates;
        var row_del_keys = [];
        $.get('/@(ViewBag.ControllerName)/GetTemplates/?DepartmentKey=' + $('#DepartmentKey').val(), function (ajresult) {
            //var hot_scroll_data = Handsontable.helper.createSpreadsheetData(10, 5);
            // Initialize with options
            tblTemplates = new Handsontable($('#tblTemplates')[0], {
                data: ajresult.Data.Source,
                stretchH: 'all',
                rowHeaders: true,
                colHeaders: ajresult.Data.HeadersCaption,
                hiddenColumns: {
                    columns: ajresult.Data.ColumnsHidden,
                    indicators: true
                },
                afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                    row_templates = row;
                },
                licenseKey: 'non-commercial-and-evaluation'
            });

        });

        $('#div_btns_templates').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    $.get('/@(ViewBag.ControllerName)/LoadListHeaderTemplateSelection/?DepartmentKey=' + $('#DepartmentKey').val(), function (ajresult) {
                        if (ajresult.Result_Status == 1) {
                            $('#div_tables_selection').empty();
                            $('#div_tables_selection').html(ajresult.Data);
                        }
                    });
                    break;
                case "delete":
                    if (row_templates == -1)
                        break;
                    var data = tblTemplates.getData();
                    if (data[row_templates][0] != '' && data[row_templates][0] != '0') {
                        row_del_keys[row_del_keys.length] = data[row_templates][0];
                    }
                    if (tblTemplates.countRows() == 1) {
                        var cols_count = tblTemplates.getColHeader().length;
                        for (i = 0; i < cols_count; i++) {
                            tblTemplates.setDataAtCell(0, i, '');
                        }
                    }
                    else {
                        tblTemplates.alter('remove_row', row_tables_hson);
                    }
                    break;
                default:
                    break;
            }
        });

        $('#div_tables_selection').on('click', 'span', function () {
            var chkbox = $(this.parentElement).find('input[type=checkbox]');
            var chkstate = chkbox.prop("checked");
            chkbox.prop("checked", !chkstate);
        });

        $('#modal_tables_selection').on('click', '.modal-footer a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            switch (cmd) {
                case "submit":
                    var lstchked = $('#div_tables_selection').find('input[type=checkbox]:checked');
                    if (lstchked.length > 0) {
                        var tblsource = tblTemplates.getData();
                        $.each(lstchked, function () {
                            var datakey = $(this).attr('data-key');
                            //var dataid = $(this).attr('data-id');
                            var dataname = $(this).attr('data-name');

                            var existed = false;
                            $.each(tblsource, function () {
                                if (this[2] == datakey) {
                                    existed = true;
                                    return;
                                }
                            });
                            if (!existed) {
                                tblsource = tblTemplates.getData();
                                var row_last = tblTemplates.countRows();
                                if (tblsource[row_last - 1][0] == '') {
                                    row_last = row_last - 1;
                                }
                                else {
                                    tblTemplates.alter('insert_row', row_last, 1);
                                }
                                tblTemplates.setDataAtCell(row_last, 0, '0');
                                tblTemplates.setDataAtCell(row_last, 1, 'N');
                                tblTemplates.setDataAtCell(row_last, 2, datakey);
                                tblTemplates.setDataAtCell(row_last, 4, dataname);
                            }
                        });
                    }
                    break;
                default:
                    break;
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            var dataPost = { DepartmentKey: $('#DepartmentKey').val(), lstTemplates: tblTemplates.getData(), lstDelKeys: row_del_keys, SaveType: cmd };

            showloading();
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Edit',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                    }
                    else {
                        swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                    }
                },
                error: function () {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
        });


    });
</script>
