﻿@model AutoReport.Models.CAT_EMPLOYEES

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Tạo Nhân Viên</h6>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mã nhân viên <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tình Trạng <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.WorkStatus, ViewBag.WorkStatusList as SelectList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Họ Tên <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Chức vụ</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.PosistionKey, ViewBag.PositionList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Phòng Ban</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.DepartmentKey, ViewBag.DepartmentList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Giới Tính </label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.Gender, ViewBag.GenderList as SelectList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ngày sinh </label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.BirthDay, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Địa chỉ</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = "3" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Điện thoại</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Email</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Liên hệ Online</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.OnlineContact, new { @class = "form-control", @rows = "3" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ghi Chú</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "5" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="model-footer">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Người tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">-----</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Người cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">-----</label>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label class="at-right">Ngày tạo:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">--/--/----</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="at-right">Ngày cập nhật:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="at-left">--/--/----</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div id="div_btns" class="clearfix">
                        <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savenew">Lưu & Thêm Mới</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(this).ready(function () {

        //back to master page
        var dataPost =
        {
            lstLinks: ["/@(ViewBag.ControllerName)/Index"],
            lstText: ["Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;

            var data = $("#frmInfo").serializeObject();
            var dataPost = { ItemModel: data, SaveType: cmd };

            showloading();
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                    }
                    else {
                        swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                    }
                },
                error: function (ajresult) {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
        });

    });
</script>
