﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/js/sweetalert/sweetalert.css" rel="stylesheet" />
    <title>Phần mềm lập báo cáo tự động</title>
</head>
<body>
    @Html.Hidden("AccountSaved", ViewBag.AccountSaved == null ? "0" : (string)ViewBag.AccountSaved)
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>LẬP BÁO CÁO TỰ ĐỘNG</h1>
        </div>
        <div class="login-box">
            <form class="login-form" id="frmlogin" method="post" autocomplete="on">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>ĐĂNG NHẬP</h3>
                <div class="form-group">
                    <label class="control-label">Tài khoản</label>
                    <input class="form-control" type="text" id="user" name="user" placeholder="Nhập tài khoản" autofocus value="@(ViewBag.UserSaved == null ? "": (string)ViewBag.UserSaved)">
                </div>
                <div class="form-group">
                    <label class="control-label">Mật khẩu</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Nhập mật khẩu" value="@(ViewBag.PasswordSaved == null ? "" : (string)ViewBag.PasswordSaved)">
                </div>
                <div class="form-group">
                    <div class="utility">
                        <div class="animated-checkbox">
                            <label>
                                <input type="checkbox" id="chkremember"><span class="label-text">Ghi nhớ</span>
                            </label>
                        </div>
                        <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Quên mật khẩu ?</a></p>
                    </div>
                </div>
                <div class="form-group btn-container">
                    <a class="btn btn-primary btn-block text-white" id="btnOK"><i class="fa fa-sign-in fa-lg fa-fw"></i>Đăng nhập</a>
                </div>
            </form>
            <form class="forget-form" id="frmForgotPassword" method="post" autocomplete="on">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>QUÊN MẬT KHẨU ?</h3>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="text" name="email" placeholder="Email">
                </div>
                <div class="form-group btn-container">
                    <a class="btn btn-primary btn-block text-white" id="btnSubmit"><i class="fa fa-unlock fa-lg fa-fw"></i>Gửi yêu cầu</a>
                </div>
                <div class="form-group mt-3">
                    <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Quay lại đăng nhập</a></p>
                </div>
            </form>
        </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <script src="/js/sweetalert/sweetalert.min.js"></script>
    <script src="/js/sweetalert/sweetalert-dev.js"></script>
    <script type="text/javascript">
        $(this).ready(function () {
            if ($("#AccountSaved").val() == "1")
                $("#chkremember").attr("checked", "true");
            else
                $("#chkremember").removeAttr("checked");
        });

        // Login Page Flipbox control
        $('.login-content [data-toggle="flip"]').click(function () {
            $('.login-box').toggleClass('flipped');
            return false;
        });

        $("#btnOK").on("click", function () {
            Login();
        });
        $("#btnSubmit").on("click", function () {
            ForgotPassword();
        });
        $(document).keypress(function (e) {
            if (e.which == 13) {
                Login();
            }
        });
        function ForgotPassword() {
            var objJson_LoginInfo = $("#frmForgotPassword *").serialize();
            $.ajax({
                type: 'POST',
                url: '/System/ForgotPassword?' + $("#frmForgotPassword *").serialize(),
                success: function (data) {
                    if (data.intStatus == 1) {
                        swal({
                            position: 'center',
                            type: 'success',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 2500
                        });
                        setTimeout(function () {
                            window.location = data.Data;
                        }, 2500);
                    }
                    else {
                        swal({
                            position: 'center',
                            type: 'error',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }

                },
                error: function (data) {
                    swal({
                        position: 'center',
                        type: 'error',
                        title: data.strMess,
                        showConfirmButton: false,
                        timer: 2500
                    });
                }
            });
        };
        function Login() {
            var dataPost = { user: $("#user").val(), password: $("#password").val(), rememberlogin: $("#chkremember").prop("checked") };
            $.ajax({
                type: 'POST',
                url: '/System/LoginCheck',
                data: dataPost,
                success: function (data) {
                    if (data.intStatus == 1) {
                        window.location = data.Data;
                    }
                    else {
                        $.LoadingOverlay("hide");
                        swal({
                            position: 'center',
                            type: 'error',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }

                },
                error: function (data) {
                    swal({
                        position: 'center',
                        type: 'error',
                        title: data.strMess,
                        showConfirmButton: false,
                        timer: 2500
                    });
                }
            });
        };
    </script>
</body>

</html>

