﻿@model AutoReport.Models.RPT_TEMPLATES_TABLENAME
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa bảng phụ lục</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin bảng phụ lục</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            @Html.HiddenFor(model => model.Rpt_Templates_TableNameKey)
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mã phụ lục <font color="red">(*)</font></label>
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                        @Html.TextBoxFor(model => model.TableID, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên phụ lục <font color="red">(*)</font></label>
                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        @Html.TextBoxFor(model => model.TableName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thuộc báo cáo</label>
                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        @Html.TextBoxFor(model => model.ReportReferenceName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix" style="display: none;">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Số TT Tự động</label>
                                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                                        @Html.DLA_CheckBoxFor(model => model.AutoIndex)
                                                    </div>
                                                    <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align:left;"> <font color="red">(*)</font>Tự động đánh số thứ tự (cột đầu tiên) khi kết xuất bảng dữ liệu ra file</label>

                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thứ tự</label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                        @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Ghi Chú</label>
                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách cột</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var ItemList;
        var item_row_del = [];

        //$("#ItemList").on('click', 'table tbody input[type="text"]', function () {
        //    var ctrl = this;
        //    var val_prev = this.value;
        //    swal({
        //        title: "Nhập giá trị",
        //        text: "<div class=\"col-md-12 col-sm-12 col-xs-12\"><textarea id='popuptext' class=\"form-control\" rows=\"5\" " + ($("#InputCompleted").val() == "yes" ? "readonly" : "") + " autofocus>" + val_prev + "</textarea></div>",
        //        html: true,
        //        showCancelButton: true,
        //        closeOnConfirm: true,
        //    }, function (inputValue) {
        //        if (inputValue === false) return false;
        //        var val_popup = document.getElementById('popuptext').value;
        //        ctrl.value = val_popup;
        //        return true;
        //    });
        //});

        $("#ItemList").on('keypress', 'table tbody input[type="text"]', function (e) {
            if (e.keyCode != 13)
                return;
            var ctrl = this;
            var val_prev = this.value;
            swal({
                title: "Nhập giá trị",
                text: "<div class=\"col-md-12 col-sm-12 col-xs-12\"><textarea id='popuptext' class=\"form-control\" rows=\"5\" " + ($("#InputCompleted").val() == "yes" ? "readonly" : "") + " autofocus>" + val_prev + "</textarea></div>",
                html: true,
                showCancelButton: true,
                closeOnConfirm: true,
            }, function (inputValue) {
                if (inputValue === false) return false;
                var val_popup = document.getElementById('popuptext').value;
                ctrl.value = val_popup;
                return true;
            });
        });

        $.get('/@(ViewBag.ControllerName)/LoadColumnList?Templates_TableNameKey=' + $("#Rpt_Templates_TableNameKey").val(), function (datahtml) {
            ItemList = $("#ItemList").editTable({
                data: datahtml.Data,
                headerCols: datahtml.Header,
                action: datahtml.ShowAction,
                delrow: function (row) {
                    //value of row begins from 1
                    if (this.data[row - 1][0] != "")
                        item_row_del[item_row_del.length] = this.data[row - 1][0];
                },
            });
        });
        
        $("#btn_Save").on("click", function () {
            var tblcolumns = ItemList.getData();
            var item = $("#frmInfo *").serializeObject();
            var dataPost = { iteminfo: item, lst_columns: tblcolumns };
            showLoading();
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Edit',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        hideLoading();
                        swal({
                            position: 'center',
                            type: 'success',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_Templates_TableNameKey;
                    }
                    else {
                        hideLoading();
                        swal({
                            position: 'center',
                            type: 'error',
                            title: data.strMess,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError(data.strMess);
                }
            });
        });

    })
</script>
