﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span {
        font-size: 18px;
        vertical-align: top !important;
    }

    .chklocal {
        width: 20px;
        height: 20px;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa Phân Nhóm</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="card">
                        @*info*@
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Phân Nhóm báo cáo cho phòng ban</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row clearfix">
                                        <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                            <label>Chọn phòng ban <font color="red">(*)</font></label>
                                        </div>
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("DepartmentKey", ViewBag.DepartmentList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true", disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="x_content">
                                    <div class="x_title">
                                        <h2>Danh sách báo cáo</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div><input class="chklocal" type="checkbox" id="chkall" /> &nbsp; &nbsp;<span>(Tất cả)</span></div>
                                    <div id="rpttemplatelist" style="overflow-y: scroll; height: 300px;">

                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        $.get('/@(ViewBag.ControllerName)/LoadTemplatesList/?departmentkey=' + $("#DepartmentKey").val(), function (data) {
            $("#rpttemplatelist").empty();
            $("#rpttemplatelist").html(data["codehtml"]);
            $("#chkall")[0].checked = data["checkall"];
        });

        $("#chkall").change(function () {
            var checked = this.checked;

            $('#rpttemplatelist :checkbox').each(function () {
                this.checked = checked;
            });
        });

        $('#rpttemplatelist').on('change', ':checkbox', function () {
            var checked = this.checked;
            if (checked == false)
                $("#chkall")[0].checked = false;

            else {
                var chkitem_all = $('#rpttemplatelist :checkbox').length;
                var chkitem_checked = $('#rpttemplatelist :checkbox:checked').length;
                $("#chkall")[0].checked = chkitem_all == chkitem_checked;
            }
        });

        $("#btn_Save").click(function () {

            var lst_templates = new Array();

            $('#rpttemplatelist :checkbox').each(function () {
                if (this.checked)
                    lst_templates.push(new Array(this.id, this.checked));
            });

            var dataPost = { departmentkey: $("#DepartmentKey").val(), templatesselected: lst_templates, action: "@(ViewBag.Title)" };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/SaveTemplateSelected',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal_success(data.strMess, false, 1500);
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.DepartmentKey;
                    }
                    else {
                        swal_error(data.strMess, true, 0);
                    }
                },
                error: function (data) {
                    showError(data.strMess);
                }
            });
        });

        $("#btn_SaveNew").click(function () {
            var lst_templates = new Array();

            $('#rpttemplatelist :checkbox').each(function () {
                if (this.checked)
                    lst_templates.push(new Array(this.id, this.checked));
            });
            var dataPost = { departmentkey: $("#DepartmentKey").val(), templatesselected: lst_templates, action: "@(ViewBag.Title)" };

            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/SaveTemplateSelected',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal_success(data.strMess, false, 1500);
                        window.location = "/@(ViewBag.ControllerName)/Create";
                    }
                    else {
                        swal_error(data.strMess, true, 0);
                    }
                },
                error: function (data) {
                    showError(data.strMess);
                }
            });
        });
    });
</script>
