﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="card-header header-elements-inline">
    <h6 class="card-title">@Model.ItemName</h6>

    <div id="hdr_btns" class="at-right">
        <a class="btn btn-primary btn-c1" data-cmd="decline">Lưu</a>
        <a class="btn btn-danger btn-c1" href="/@(ViewBag.ControllerName)/ReviewData/@(Model.dKey)">Trở về</a>
    </div>
</div>

<div class="col-md-12">
    <div class="wrapper">
        <div id="tabpages" class="tabs">
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Trường Dữ liệu</label>
                <div class="tab-content">
                    <div class="hot-container hot-scrollable">
                        <div id="tbl_valuesconst"></div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                <label for="tab-2" class="tab-label">Danh sách phụ lục</label>
                <div class="tab-content">
                    <div class="hot-container hot-scrollable">
                        <div id="tbl_tables"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        var hson_table_valuesconst;
        $.get("/@(ViewBag.ControllerName)/GetListPersonInputValues_Decline/?ReportHeaderKey=@(Model.dKey)", function (ajresult) {
            if (ajresult.Result_Status == 1) {
                hson_table_valuesconst = new Handsontable($('#tbl_valuesconst')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {

                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                hson_table_valuesconst.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        if (col == 0) {
                            cellProperties.type = 'checkbox';
                            cellProperties.className = 'htCenter';
                        }
                        else {
                            cellProperties.readOnly = true;
                        }
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        var hson_table_tables;
        $.get("/@(ViewBag.ControllerName)/GetListPersonInputTables_Decline/?ReportHeaderKey=@(Model.dKey)", function (ajresult) {
            if (ajresult.Result_Status == 1) {
                hson_table_tables = new Handsontable($('#tbl_tables')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {

                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                hson_table_tables.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        if (col == 1) {
                            cellProperties.type = 'checkbox';
                            cellProperties.className = 'htCenter';
                        }
                        else {
                            cellProperties.readOnly = true;
                        }
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        $('#hdr_btns').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            switch (cmd) {
                case "decline":
                    var lst_tables_decline = hson_table_tables.getData();
                    var lst_values_decline = hson_table_valuesconst.getData();
                    showloading();
                    var datasave = { ReportHeaderKey: @(Model.dKey), lstTables: lst_tables_decline, lstValues: lst_values_decline};
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/DeclineReport',
                        data: datasave,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect("Đã Lưu", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                            }
                            else {
                                swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                default:
                    break;
            }
        });

    });
</script>
