﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
    DateTime _fromdate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime _todate = _fromdate.AddMonths(1).AddDays(-1);
}

<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Danh sách báo cáo</h6>
        <div class="at-right">
            <a id="btnSearch" class="btn btn-default btn100-action at-right" data-cmd="search"><i class="mi-2x mi-search"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="row clearfix">
                <div class="col-md-2">
                    <label class="at-right">Từ</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("FromDate", AutoReport.Utils.TextUtil.ToTextFormat(_fromdate, null), new { @class = "form-control pickadate-selectors" })
                </div>
                <div class="col-md-2">
                    <label class="at-right">Đến</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBox("ToDate", AutoReport.Utils.TextUtil.ToTextFormat(_todate, null), new { @class = "form-control pickadate-selectors" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div id="tblview">

            </div>
        </div>
    </div>
</div>

<div id="modal_fileattach_selection" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Danh sách file đính kèm</h5>
                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="max-height: 400px; min-height: 150px; overflow-y: scroll;">
                <div id="div_fileattach_selection" class="row clearfix">

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <a id="btn_get_all_files" class="btn bg-primary at-left">Tải Tất Cả</a>
                    <a class="btn bg-warning at-right" data-dismiss="modal">Đóng</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        $('.pickadate-selectors').pickadate({
            selectYears: true,
            selectMonths: true,
            format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToLower())'
        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index"],
            lstText: ["Trang Chủ"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $('#btnSearch').click(function () {
            LoadTableCustom("tblview", "/@(ViewBag.ControllerName)/GetListApproved/?StrFromDate=" + $('#FromDate').val() + "&StrToDate=" + $('#ToDate').val(), 1);
        });
        $('#btnSearch').click();

        $('#tblview').on('click', 'a.btn100-action', function () {
            var cmd = $(this).attr('data-cmd');
            var id = $(this).attr('data-id');

            switch (cmd) {
                case "download":
                    showloading();
                    $.get('/@(ViewBag.ControllerName)/ExportWord_OpenXml/?ReportHeaderKey=' + id, function (ajresult) {
                        hideloading();
                        if (ajresult.Result_Status == 1) {
                            window.location = "/@(ViewBag.ControllerName)/DownloadFileExport?&downloadfilename=" + ajresult.Data;
                        }
                        else
                            show_pnotify('error', ajresult.Result_Message);
                    });
                    break;
                case "filesattach":
                    LoadTableCustom("div_fileattach_selection", "/@(ViewBag.ControllerName)/GetListAttachFileDetail/?ReportHeaderKey=" + id, 1);
                    $('#modal_fileattach_selection').modal("toggle");
                    break;
                default:
                    break;
            }

        });

        $('#div_fileattach_selection').on('click', '.table100-body a', function () {
            var arrkey = [];
            arrkey[arrkey.length] = $(this).attr('data-key');
            DownloadSelectedFiles(arrkey);
        });

        $('#btn_get_all_files').click(function () {
            var arr_keys = [];

            var lst_items = $('#div_fileattach_selection').find('.table100-body a').get();
            $.each(lst_items, function (index, value) {
                arr_keys[arr_keys.length] = $(value).attr('data-key');
            });

            DownloadSelectedFiles(lst_items)
        });
    });
    //end of page_load


    function DownloadSelectedFiles(arr_file_keys) {
        var dataPost = { lstfiles: arr_file_keys };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/GetFilesAttach',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        $.each(ajresult.Data, function (index, value) {
                            window.location = "/@(ViewBag.ControllerName)/DownloadFile?filepath=" + value["FileReference"] + "&&downloadfilename=" + value["FileName"];
                        });
                    }
                },
                error: function () {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
    }
</script>
