﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<div class="card-header header-elements-inline">
    <h6 class="card-title">@Model.ItemName</h6>

    <div id="hdr_btns" class="at-right">
        @if (Model.ApproveStatus == 3)
        {
            <a class="btn btn-primary btn-c1" href="/@(ViewBag.ControllerName)/Decline/@(Model.dKey)">Trả Nhập Lại</a>
        }
        @if (Model.ApproveStatus == 4)
        {
            <a class="btn btn-primary btn-c1" href="/@(ViewBag.ControllerName)/Decline/@(Model.dKey)">Trả Nhập Lại</a>
            <a class="btn btn-success btn-c1" data-cmd="approve">Duyệt</a>
        }
        <a class="btn btn-danger btn-c1" href="/@(ViewBag.ControllerName)/Index/@(Model.dKey)">Trở về</a>
    </div>
</div>

<div class="col-md-12">
    <div class="wrapper">
        <div id="tabpages" class="tabs">
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Tab One</label>
                <div class="tab-content">
                    this is tab content 1
                    <a class="btn btn-danger btn-c1 at-right" href="#">Trở về</a>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                <label for="tab-2" class="tab-label">Tab Two</label>
                <div class="tab-content">
                    this is tab content 2
                    <a class="btn btn-danger btn-c1 at-right" href="#">Trở về</a>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/Index"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $.get('/@(ViewBag.ControllerName)/CreateTabPages/?ReportHeaderKey=@(Model.dKey)', function (ajresult) {
            if (ajresult.Result_Status == 1) {
                $('#tabpages').empty();
                $('#tabpages').append(ajresult.Data);
                var ctrl_active = $('#tabpages').find('input[type=radio]:checked');
                ctrl_active.trigger('change');
            }
            else {
                swal_error("Lỗi", ajresult.Result_Message, false, 1500);
            }
        });

        $('#hdr_btns').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            switch (cmd) {
                case "approve":
                    swal({
                        title: 'Xác nhận hoàn thành',
                        text: 'Bạn có muốn duyệt báo cáo này?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Duyệt!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            $.get('/@(ViewBag.ControllerName)/ApproveReport/@(Model.dKey)', function (ajresult) {
                                if (ajresult.Result_Status == 1) {
                                    swal_success_redirect("Đã duyệt", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                }
                                else {
                                    swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }
        });

        $('#tabpages').on('change', 'input[type=radio]', function () {
            var ctrl_active = $(this);
            var id = ctrl_active.attr('data-id');

            if (id == "0") {
                var tabcontent = $('#CntPL_valuesconst');
                if (!tabcontent.hasClass('content-loaded')) {
                    tabcontent.addClass('content-loaded');
                    $.get('/@(ViewBag.ControllerName)/GetListValuesReview/?ReportHeaderKey=@(Model.dKey)', function (result) {
                        Handsontable(tabcontent[0], {
                            data: result.Data.Source,
                            stretchH: 'all',
                            rowHeaders: true,
                            colHeaders: result.Data.HeadersCaption,
                            hiddenColumns: {
                                columns: result.Data.ColumnsHidden
                            },
                            licenseKey: 'non-commercial-and-evaluation'
                        });
                    });
                }
            }
            else {
                var element = '#CntPL_' + id;
                var tabcontent = $(element);
                if (!tabcontent.hasClass('content-loaded')) {
                    tabcontent.addClass('content-loaded');
                    $.get('/@(ViewBag.ControllerName)/GetListTableValuesReview/?ReportHeaderKey=@(Model.dKey)&TableTemplateKey=' + id, function (result) {
                        Handsontable(tabcontent[0], {
                            data: result.Data.Source,
                            stretchH: 'all',
                            rowHeaders: true,
                            colHeaders: result.Data.HeadersCaption,
                            hiddenColumns: {
                                columns: result.Data.ColumnsHidden
                            },
                            licenseKey: 'non-commercial-and-evaluation'
                        });
                    });
                }
            }
        });

    });
</script>
