﻿@model AutoReport.Models.RPT_TEMPLATES
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo mới template</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin cơ bản</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            <div class="form-group">
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Tên mẫu</label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Mã</label>
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách trường</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ValueList">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách bảng</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <button id="btn_CreateTable" type="button" class="btn btn-success pull-right">Thêm bảng mới</button>
                                        <div id="TableList">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    @*@Html.HiddenFor(model => model.Key)*@
                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/Template/Index">Trở về</a>
                    <a id="btn_Create" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DLA_Ajax_Modal_CreateTable">
    <div class="modal fade" id="Modal_CreateTable" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #798f9a;color: white;">
                    <div class="DLA_dash"><h4>Thêm mới</h4></div>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-sm-12">
                        <div class="body">

                            <div id="CreateTable">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnCreateTableBack" class="btn bg-danger pull-right" style="margin-right: 20px; width: 100px;">Trở lại</a>
                    <a id="btnSaveCreateTable" class="btn btn-success pull-right" style="margin-right: 20px; width: 100px;">Đồng ý</a>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        LoadTable('TableList', '/Template/LoadTableList', 1, null, true);
        var valueList;
        $.ajax({
            type: 'POST',
            url: '/Template/LoadValueList_E',
            dataType: 'json',
            success: function (datahtml) {
                hideLoading();
                valueList = $("#ValueList").editTable({
                    data: datahtml.Data,
                    headerCols: datahtml.Header,
                    action: datahtml.ShowAction,
                    delrow: function (row) {
                    },
                });
                UpdateMask();
            },
            error: function (data) {
                hideLoading();
                // if error occured
                showError("Error");
            }
        });
        $("#btn_Create").on("click", function () {
            showLoading();
            var tblDataDetail = tableList.getData();
            var objJson_Item = $("#frmInfo *").serializeObject();
            var dataPost = { ValueList: valueList, Item: objJson_Item};
            $.ajax({
                type: 'POST',
                url: '/Template/SaveTemplate',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        hideLoading();
                        showSuccess("Thành công");
                    }
                    else {
                        hideLoading();
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError("Error");
                }
            });
        });



        //Table
        var tableList;
        $("#btn_CreateTable").on("click", function () {
            $("#DLA_Ajax_Modal_CreateTable #CreateTable").html("Đang tải dữ liệu....");
            $.get('/Template/CreateTable/', function (data) {
                $("#DLA_Ajax_Modal_CreateTable #CreateTable").html(data);
                UpdateMask();
            });
            $("#Modal_CreateTable").modal();

            
            $.ajax({
                type: 'POST',
                url: '/Template/LoadTableList_E',
                dataType: 'json',
                success: function (datahtml) {
                    hideLoading();
                    tableList = $("#DLA_CreateTable #TableList").editTable({
                        data: datahtml.Data,
                        headerCols: datahtml.Header,
                        action: datahtml.ShowAction,
                        delrow: function (row) {
                        },
                    });
                    UpdateMask();
                },
                error: function (data) {
                    hideLoading();
                    // if error occured
                    showError("Error");
                }
            });
        });

        $("#btnCreateTableBack").on("click", function () {
            $("#Modal_CreateTable").modal('hide');
        });
        $("#btnSaveCreateTable").on("click", function () {
            showLoading();
            var tblDataDetail = tableList.getData();
            var dataPost = { ListItemString: tblDataDetail, TableName: $("#DLA_Ajax_Modal_CreateTable #TableName").val(), TableID: $("#DLA_Ajax_Modal_CreateTable #TableID").val()};
            $.ajax({
                type: 'POST',
                url: '/Template/SaveTableDetailList',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        hideLoading();
                        $("#Modal_CreateTable").modal('hide');
                        showSuccess("Thành công");
                        LoadTable('TableList', '/Template/LoadTableList', 1, null, true);
                    }
                    else {
                        hideLoading();
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError("Error");
                }
            });
        });
    })
</script>
