﻿@model AutoReport.Models.RPT_TEMPLATES_DETAIL_TABLEINDEX
@{
    Layout = null;

}
<style>
    .form-group {
        margin: -14px 0 0;
        margin-bottom: 20px;
    }
</style>
<div id="DLA_CreateTable">
    @Html.HiddenFor(model=>model.Rpt_Templates_Detail_TableKey)
    <form id="form1" class="form-horizontal form-label-left" style="padding-top: 10px;">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Thông tin bảng</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div id="form1" class="form-horizontal form-label-left " style="padding-top: 10px;">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên bảng</label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @Html.TextBoxFor(model => model.TableName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Mã bảng</label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @Html.TextBoxFor(model => model.TableID, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách cột</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div id="TableList">

                    </div>
                </div>
            </div>
        </div>
    </form>

</div>