﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <a id="btn_Create" class="btn btn-success pull-right" style="margin-bottom: 25px;" href="/Template/Create">Thêm mới</a>
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách Template</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="DLA_TemplateList">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
      //  LoadTable('DLA_TemplateList', '/Template/LoadTemplateList', 1, null, true);

        $("#btn_Create").on("click", function () {
            $("#DLA_Ajax_Modal_Create #DLA_Create").html("Đang tải dữ liệu....");
            $.get('/Template/Create/', function (data) {
                $("#DLA_Ajax_Modal_Create #DLA_Create").html(data);
                UpdateMask();
            });
            $("#Modal_Create").modal();
        });
        $("#DLA_TemplateList").on('click', '.btn_thanhcong', function () {
            $("#DLA_Ajax_Modal_Edit #DLA_Edit").html("Đang tải dữ liệu....");
            var id = $(this).attr("data-id");
            $.get('/Template/Edit/' + id, function (data) {
                $("#DLA_Ajax_Modal_Edit #DLA_Edit").html(data);
                UpdateMask();
            });
            $("#Modal_Edit").modal();
        });
        $("#DLA_TemplateList").on('click', '.btn_xoa', function () {
            var id = $(this).attr("data-id");
            Delete('/Template/Delete', id, 'DLA_TemplateList', '/Template/LoadTemplateList', null);
        });
        $("#btnSaveCreate").on("click", function () {
            objJson_Template = $("#DLA_Ajax_Modal_Create #DLA_Create *").serializeObject();
            var dataPost = { _Item: objJson_Template };
            $.ajax({
                type: 'POST',
                url: '/Template/Create/',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataPost),
                dataType: 'json',
                success: function (data) {
                    if (data.intStatus == "1") {
                        //Lưu thành công
                        $("#Modal_Create").modal('hide');
                        LoadTable('DLA_TemplateList', '/Template/LoadTemplateList', 1, null, true);
                    } else {
                        showError(data.strMess)
                    }
                },
                error: function (data) {
                    // if error occured
                    showError("Error");
                }
            });
        })

        $("#btnSaveEdit").on("click", function () {
            objJson_Template = $("#DLA_Ajax_Modal_Edit #DLA_Edit *").serializeObject();
            var dataPost = { _item: objJson_Template};
            $.ajax({
                type: 'POST',
                url: '/Template/Edit',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataPost),
                dataType: 'json',
                success: function (data) {
                    if (data.intStatus == "1") {
                        //Lưu thành công
                        $("#Modal_Edit").modal('hide');
                        LoadTable('DLA_TemplateList', '/Template/LoadTemplateList', 1, null, true);

                    } else {
                        showError(data.strMess)
                    }
                },
                error: function (data) {
                    // if error occured
                    showError("Error");
                }
            });
        })
    });

</script>