﻿@model AutoReport.Models.RPT_TEMPLATES_TABLENAME
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo bảng</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin cơ bản</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                            @Html.HiddenFor(model => model.Rpt_Templates_TableNameKey)
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mã bảng</label>
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                        @Html.TextBoxFor(model => model.TableID, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên bảng</label>
                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        @Html.TextBoxFor(model => model.TableName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Số TT Tự động</label>
                                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                                        @Html.DLA_CheckBoxFor(model => model.AutoIndex)
                                                    </div>
                                                    <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align:left;"> <font color="red">(*)</font>Tự động đánh số thứ tự (cột đầu tiên) khi kết xuất bảng dữ liệu ra file</label>

                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Danh sách cột</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div id="ItemList">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        var ItemList;
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/LoadColumnList?Templates_TableNameKey=@Model.Rpt_Templates_TableNameKey',
            dataType: 'json',
            success: function (datahtml) {
                hideLoading();
                ItemList = $("#ItemList").editTable({
                    data: datahtml.Data,
                    headerCols: datahtml.Header,
                    action: datahtml.ShowAction,
                    delrow: function (row) {
                    },
                });
                UpdateMask();
            },
            error: function (data) {
                hideLoading();
                // if error occured
                showError("Error");
            }
        });
        $("#ItemList").on("change", ".ColumnDataTypeName", function () {
            var Index = $(this).attr("data-row");
            var DLID = $(".ColumnDataTypeName_" + Index)[1].value;
            $(".ColumnDataType_" + Index).val(DLID);
        });
        $("#btn_Save").on("click", function () {
            showLoading();
            var tblListItem = ItemList.getData();
            var objJson_Item = $("#frmInfo *").serializeObject();
            var dataPost = { tblListItem: tblListItem, Item: objJson_Item};
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/SaveTable',
                data: JSON.stringify(dataPost),
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.intStatus == 1) {
                        hideLoading();
                        showSuccess(data.strMess);
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.Rpt_Templates_TableNameKey;
                    }
                    else {
                        hideLoading();
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError("Error");
                }
            });
        });

    })
</script>
