﻿@model AutoReport.Models.SYS_USERS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Tạo Người Dùng</h6>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form id="frmInfo" class="form-horizontal form-label-left">
                        @Html.HiddenFor(model => model.dKey)

                        <div class="form-group">
                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Tên Đăng Nhập <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Ký hiệu </label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Abbr, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Mật Khẩu <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Nhập lại mật khẩu <font color="red">(*)</font></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.PasswordFor(model => model.PasswordRetype, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Nhân Viên</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownListFor(model => model.EmployeeKey, ViewBag.EmployeeList as SelectList, AutoReport.Utils.TextUtil.ComboBox_NullText, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Kích Hoạt</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.CheckBoxFor(model => model.IsActivated, new { @class = "form-control fancytree-checkbox" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thứ Tự</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.Sorted, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Hết hạn</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.CheckBoxFor(model => model.IsExpired, new { @class = "form-control fancytree-checkbox" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-label col-md-2">
                                    <label class="at-right">Thời Hạn</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.ExpiredDate, new { @class = "form-control daterange-single" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div id="div_btns" class="clearfix">
                        <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savenew">Lưu & Thêm Mới</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h3 class="card-title">Quyền Truy Cập</h3>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div id="tree_auth">

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        $('.daterange-single').daterangepicker({
            singleDatePicker: true,
            locale: {
                format: '@(AutoReport.Utils.TextUtil.DateLocalFormat.ToUpper())'
            }
        });

        $('#IsExpired').change(function () {
            var chk = this.checked;
            if (chk) {
                $('#ExpiredDate').removeAttr('disabled');
               
            }
            else {
                $('#ExpiredDate').attr('disabled', true);
            }
        });

        //back to master page
        var dataPost =
        {
            lstLinks: ["/@(ViewBag.ControllerName)/Index"],
            lstText: ["Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        $.get('/@(ViewBag.ControllerName)/LoadTree/?userkey=@(Model.dKey)', function (ajresult) {
            $('#tree_auth').empty();
            $('#tree_auth').html(ajresult.Data);
        });

        $('#tree_auth').on('change', 'input[type=checkbox]', function () {
            var chkstate = this.checked;

            var parentid = $(this).attr('data-parent');
            if (chkstate) {
                while (parentid != '') {
                    $('#' + parentid).prop('checked', chkstate)
                    parentid = $('#' + parentid).attr('data-parent');
                }
            }
            if (!$(this.parentElement).hasClass('li-leaf')) {
                //this is NOT leaf-node, check all children
                var children = $(this).closest('li').find('input[type=checkbox]').get();
                if (children.length > 0) {
                    $.each(children, function () {
                        this.checked = chkstate;
                    });
                }
            }
        });

        $("#div_btns").on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            if (cmd == null)
                return;
            var data = $("#frmInfo").serializeObject();

            var arr_chk = [];
            var chk_list = $('#tree_auth').find('input[type=checkbox]:checked').get();
            if (chk_list.length > 0) {
                $.each(chk_list, function () {
                    arr_chk[arr_chk.length] = this.id;
                });
            }
            var dataPost = { ItemModel: data, lstAuthChecked: arr_chk, SaveType: cmd };

            showloading();
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        swal_success_redirect('Thành công', ajresult.Result_Message, false, 1500, ajresult.RedirectTo);
                    }
                    else {
                        swal_error('Lỗi', ajresult.Result_Message, false, 1500);
                    }
                },
                error: function (ajresult) {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
        });

    });
</script>
