﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Page content -->
<div class="page-content login-cover">
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">
            <div class="login-form wmin-sm-400">
                <div class="card mb-0">
                    <ul class="nav nav-tabs nav-justified alpha-grey mb-0">
                        <li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active" data-toggle="tab"><h6 class="my-1">PHẦN MỀM BÁO CÁO TỰ ĐỘNG</h6></a></li>
                    </ul>
                    <div class="tab-content card-body">
                        <div class="tab-pane fade show active" id="login-tab1">
                            <div class="text-center mb-3">
                                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Đăng nhập</h5>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.TextBox("UserName", "", new { @class = "form-control", @placeholder = "Tên Đăng Nhập" })
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.Password("UserPassword", "", new { @class = "form-control", @placeholder = "Mật Khẩu" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="form-check mb-0">
                                    <label class="form-check-label">
                                        <input id="chkremember" type="checkbox" style="width: 1rem; height: 1rem;" />
                                        Ghi nhớ
                                    </label>
                                </div>
                                @*<a href="#" class="ml-auto">Quên Mật Khẩu?</a>*@
                            </div>
                            <div class="form-group">
                                <a id="btnLogin" class="btn btn-primary btn-block">Đăng nhập hệ thống</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /login form -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->

<script>
    $(this).ready(function () {
        $("#UserName").val('@(ViewBag.UserSaved)');
        $("#UserPassword").val('@(ViewBag.PasswordSaved)');

        var setchecked = '@(ViewBag.AccountSaved)';
        if (setchecked == '1')
            $("#chkremember").attr('checked', true);
        else
            $("#chkremember").removeAttr('checked')

        $("#btnLogin").click(function () {
            showloading();
            var dataPost = { UserName: $("#UserName").val(), Password: $("#UserPassword").val(), SaveAccount: $("#chkremember").prop('checked'), UrlAction: "@(ViewBag.CurrentSession)" };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/DoLogin',
                data: dataPost,
                dataType: 'json',
                success: function (ajresult) {
                    hideloading();
                    if (ajresult.Result_Status == 1) {
                        window.location.href = ajresult.RedirectTo;
                    }
                    else {
                        swal_error("Lỗi", ajresult.Result_Message, false, 1500);
                    }
                },
                error: function () {
                    hideloading();
                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                }
            });
        });
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            $("#btnLogin").trigger('click');
        }
    });
</script>