﻿@model HHT.Module.MySystem.Models.Output.OutputGroupDetail
@{
    ViewBag.Title = HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Tạo mới nhóm tài khoản");
    Layout = "~/Views/Shared/_main.cshtml";
}




@using (Html.BeginForm("Create", "Group", FormMethod.Post, new { id = "form1", @class = "form-horizontal" }))
{
<ol class="breadcrumb breadcrumb-bg-light-blue">
    <li>
        <a href="/System/UserAccount/Home"><i class="material-icons">home</i>&nbsp;@Lang.GetText(Cons.zMyAuth.LangCode, "Trang chủ")</a>
    </li>
    <li>
        <a href="/System/Group/Index">&nbsp;@Lang.GetText(Cons.zMyAuth.LangCode, "Danh sách nhóm tài khoản")</a>
    </li>
    <li class=""> <i class="material-icons"></i>@Lang.GetText(Cons.zMyAuth.LangCode, "Tạo mới nhóm tài khoản")</li>
    @*<li class=""> <i class="material-icons"></i><a href="/Task/Project/Home/@Model.CurrentProject.ProjectID">@Model.CurrentProject.Name</a></li>
        <li class="active"> <i class="material-icons"></i>@Lang.GetText(Cons.zMyAuth.LangCode, "Tài liệu")</li>*@


</ol>
    <style>
        .nthoaul .nthoali {
            list-style-type: none;
            float: left;
            width: 100%;
        }

        .dk-li01 {
            font-weight: bold;
            float: left;
            width: 250px;
        }

        .dk-li02 {
            float: left;
            width: 150px;
        }
    </style>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        @HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Tạo mới nhóm tài khoản")
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        @Html.HiddenFor(model => model.Data.GroupID)


                        <div class="form-control-label col-sm-2 col-xs-5 col-md-2 col-lg-2">
                            <label>@HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Tên") (<font color="red">*</font>)</label>
                        </div>
                        <div class="col-sm-4 col-xs-7 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Data.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                        <div class="form-control-label col-sm-2 col-xs-5 col-md-2 col-lg-2">
                            <label>@HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Mô tả")</label>
                        </div>
                        <div class="col-sm-4 col-xs-7 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Data.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-control-label col-sm-2 col-xs-5 col-md-2 col-lg-2">
                            <label>@HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Đường dẫn mặc định")</label>
                        </div>
                        <div class="col-sm-4 col-xs-7 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Data.DefaultURL, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix"></div>
                        <div class="form-control-label col-sm-2 col-xs-5 col-md-2 col-lg-2">
                            <label>@HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Ghi chú")</label>
                        </div>
                        <div class="col-sm-4 col-xs-7 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Data.Remarks, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Raw((string)ViewBag.JsTree)
                        </div>
                        @*<div class="form-control-label col-sm-2 col-xs-5 col-md-2 col-lg-2">
            <label>Tình trạng</label>
        </div>
        <div class="col-sm-4 col-xs-7 col-md-4 col-lg-4">
            <div class="form-group">
                <div class="form-line">
                    @Html.CheckBoxFor(model => model.Data.Status, new { @class = "form-control" })
                </div>
            </div>
        </div>*@
                    </div>
                    <div class="row clearfix">
                        <a href="/@(ViewBag.Controllername)/Index" class="btn bg-orange btn-lg waves-effect pull-right" style="margin-right: 20px; width: 100px;"><i class="material-icons">arrow_back</i> @HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Trở lại")</a>
                        @if (Model.Permissions.Contains("SYS14100"))
                        {
                            <a id="btnSave" class="btn bg-green btn-lg waves-effect pull-right" style="margin-right: 20px; width: 100px;"><i class="material-icons">save</i> @HHT.Module.MySystem.Helper.Lang.GetText(HHT.Core.Library.Helpers.Cons.zMyAuth.LangCode, "Lưu")</a>
                        }
                      
                    </div>
                </div>
            </div>


        </div>
    </div>





    <script>
        $(this).ready(function () {

            $(".ckex").change(function () {
                var value = $(this).is(":checked");
                var parent = $(this).attr("parentID");
                var id = $(this).attr("id");
                if (value == true) {
                    while ($("#" + parent).attr("parentID") != null) {
                        $("#" + parent).prop('checked', true);
                        parent = $("#" + parent).attr("parentID");
                    }
                    $("input[parentID='" + id + "']").prop('checked', false);
                    $("input[parentID='" + id + "']").click();

                } else {
                    if ($("input[parentID='" + parent + "']").length == 0) {
                        if ($("#" + parent).prop('checked') == true) {
                            $("#" + parent).click();
                        }
                    }
                    $("input[parentID='" + id + "']").prop('checked', true);
                    $("input[parentID='" + id + "']").click();
                }
            });
            //Bấm nút lưu
            $("#btnSave").click(function () {
                showLoading();
                for (instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();

                var data = $("#form1").serializeArray();

                //Đổi url cho đúng Controller và Action
                $.ajax({
                    type: 'POST',
                    url: '/System/Group/Create',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        hideLoading();
                        if (data.Code == "1") {
                            showSuccess(data.Messeger);
                            window.location = "/System/Group/Edit/" + data.Data.GroupID;
                        } else {
                            showError(data.Messeger);
                        }
                    },
                    error: function (data) {
                        hideLoading();
                        showError("Error");
                    }
                });

            })
        });
    </script>


}









