﻿@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dlaul .dlali {
        list-style-type: none;
        float: left;
        width: 100%;
    }

    .dk-li01 {
        font-weight: bold;
        float: left;
        width: 250px;
        margin-bottom: 8px;
    }

    .dk-li02 {
        float: left;
        width: 150px;
        margin-bottom: 8px;
    }

    .dot {
        border-bottom: dotted 2px gray;
        float: left;
        position: relative;
        display: block;
        height: 12px;
        margin: 0 5px 0 5px;
    }
</style>
<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Phân quyền tài khoản:  @(ViewBag.EmployeeTitle)</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                        @Html.Raw((string)ViewBag.JsTree)
                    </form>

                </div>
                <div class="row clearfix">
                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/Users/Index">Trở về</a>
                    <a id="btnSave" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        $(".ckex").change(function () {
            var value = $(this).is(":checked");
            var parent = $(this).attr("parentID");
            var id = $(this).attr("id");
            if (value == true) {
                while ($("#" + parent).attr("parentID") != null) {
                    $("#" + parent).prop('checked', true);
                    parent = $("#" + parent).attr("parentID");
                }
                $("input[parentID='" + id + "']").prop('checked', false);
                $("input[parentID='" + id + "']").click();

            } else {
                if ($("input[parentID='" + parent + "']").length == 0) {
                    if ($("#" + parent).prop('checked') == true) {
                        $("#" + parent).click();
                    }
                }
                $("input[parentID='" + id + "']").prop('checked', true);
                $("input[parentID='" + id + "']").click();
            }
        });

        //Bấm nút lưu
        $("#btnSave").click(function () {
            showLoading();

            var data = $("#frmInfo").serializeArray();

            //Đổi url cho đúng Controller và Action
            $.ajax({
                type: 'POST',
                url: '/Group/Edit?UserID=@Request["UserID"]',
                data: data,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        showSuccess(data.strMess);
                        window.location.reload();
                    } else {
                        showError(data.strMess);
                    }
                },
                error: function (data) {
                    hideLoading();
                    showError("Error");
                }
            });

        })
    });
</script>









