﻿@model AutoReport.Models.CAT_EMPLOYEES

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa thông tin nhân viên</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="card">
                        @*info*@
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Thông tin nhân viên</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.EmployeeKey)

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Mã nhân viên <font color="red">(*)</font></label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.EmployeeID, new { @class = "form-control", @readonly = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Họ tên <font color="red">(*)</font></label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Giới tính </label>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.DropDownListFor(model => model.Gender, ViewBag.GenderList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Ngày sinh </label>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.BirthDay, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Địa chỉ </label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = "3" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Số điện thoại</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Liên lạc trực tuyến</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.OnlineContact, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="clearfix">
                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Phòng ban </label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DropDownListFor(model => model.DepartmentKey, ViewBag.DepartmentList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                        <label>Chức vụ </label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @Html.DropDownListFor(model => model.PositionKey, ViewBag.PositionList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Ghi Chú</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>

                                </div>

                                <div class="row clearfix">
                                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        $("#btn_Save").click(function () {
            var data = $("#frmInfo").serializeObject();

            var dataPost = { iteminfo: data };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Edit',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal_success(data.strMess, false, 1500);
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.EmployeeKey;
                    }
                    else {
                        swal_error(data.strMess, true, 0);
                    }
                },
                error: function (data) {
                    showError(data.strMess);
                }
            });
        });
    });
</script>
