﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">@Model.ItemName</h6>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div id="tblview">

                </div>
            </div>

            <div class="col-md-12">
                <form id="frmInfo">
                    <input type="file" name="files" id="files" style="position: static; opacity: inherit;" multiple />
                </form>
            </div>

            <div id="div_btns_actions" class="col-md-12" style="padding-top: 5px;">
                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/AttachFileIndex">Trở về</a>
                <a class="btn btn-success btn-c1 at-right" data-cmd="save">Lưu</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/AttachFileIndex"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        LoadTableCustom("tblview", "/@(ViewBag.ControllerName)/GetListAttachFileDetail/?ReportHeaderKey=@(Model.dKey)", 1);

        $('#div_btns_actions').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            switch (cmd) {
                case "save":
                    showloading();
                    var formData = new FormData($("#frmInfo")[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/SaveFileAttached/?ReportHeaderKey=@(Model.dKey)',
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        processData: false,
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect("Lưu Thành Công", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                            }
                            else {
                                swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;

                default:
                    break;
            }

        });

        $("#tblview").on('click', '.table100-body a', function () {
            var id = $(this).attr('data-key');
            if (id == null)
                return;
            swal_delete('Xóa dòng đã chọn?', 'Thao tác này không thể hoàn tác', '/@(ViewBag.ControllerName)/DeleteFileAttach/' + id);
        });
    });
</script>
