﻿@model AutoReport.Models.REPORTS_TABLES_ASSIGNMENT
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
    int inputstate = ViewBag.InputState == null ? 0 : (int)ViewBag.InputState;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">@ViewBag.TableTemplateName</h6>

            <div id="div_btns_table" class="at-right">
                <a class="btn btn-default btn100-action at-right" data-cmd="delete"><i class="mi-2x mi-delete-forever"></i></a>
                <a class="btn btn-default btn100-action at-right" data-cmd="add"><i class="mi-2x mi-add"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblview">

                    </div>
                </div>
            </div>

            <div id="div_btns_actions" class="col-md-12" style="padding-top: 5px;">
                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/InputTablesIndex/@(Model.ReportHeaderKey)">Trở về</a>
                @{if (inputstate == 1)
                    {
                        <a class="btn btn-success btn-c1" data-cmd="savecomplete">Kết thúc nhập liệu</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                    else if (inputstate == 2)
                    {
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/Index/@(Model.ReportHeaderKey)", "/@(ViewBag.ControllerName)/InputTablesIndex/@(Model.ReportHeaderKey)"],
            lstText: ["Trang Chủ", "Danh sách Báo Cáo", "Danh sách Phụ Lục"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        var tbl_list_assigned;
        var row_tables_hson = -1;
        $.get("/@(ViewBag.ControllerName)/GetListTableValuesForInput/?TableAssignmentKey=@(Model.dKey)", function (ajresult) {
            if (ajresult.Result_Status == 1) {
                tbl_list_assigned = new Handsontable($('#tblview')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                        row_tables_hson = row;
                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        $('#div_btns_actions').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            switch (cmd) {
                case "savereturn":
                    showloading();
                    var data_list = { TableAssignmentKey: @(Model.dKey), DataInput: tbl_list_assigned.getData() };
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/SaveTableValuesInput',
                        data: data_list,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect("Lưu Thành Công", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                            }
                            else {
                                swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecomplete":
                    swal({
                        title: 'Xác nhận hoàn thành',
                        text: 'Bạn có muốn kết thúc nhập liệu?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Kết thúc!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            var datasave = { TableAssignmentKey: @(Model.dKey) };
                            $.ajax({
                                type: 'POST',
                                url: '/@(ViewBag.ControllerName)/SaveTableValuesComplete',
                                data: datasave,
                                dataType: 'json',
                                success: function (ajresult) {
                                    if (ajresult.Result_Status == 1) {
                                        swal_success_redirect("Đã hoàn thành", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                    }
                                    else {
                                        swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                    }
                                },
                                error: function () {
                                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }

        });

        $('#div_btns_table').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');

            switch (cmd) {
                case "add":
                    if (row_tables_hson == -1)
                        row_tables_hson = tbl_list_assigned.countRows();
                    else
                        row_tables_hson = row_tables_hson + 1;
                    tbl_list_assigned.alter('insert_row', row_tables_hson, 1);
                    break;
                case "delete":
                    if (row_tables_hson == -1)
                        break;
                    if (tbl_list_assigned.countRows() == 1) {
                        var cols_count = tbl_list_assigned.getColHeader().length;
                        for (i = 0; i < cols_count; i++) {
                            tbl_list_assigned.setDataAtCell(0, i, '');
                        }
                    }
                    else {
                        tbl_list_assigned.alter('remove_row', row_tables_hson);
                    }
                    break;
                default:
                    break;
            }
        });
    });
</script>
