﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
    int inputstate = ViewBag.InputState == null ? 0 : (int)ViewBag.InputState;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">@Model.ItemName</h6>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="hot-container hot-scrollable">
                    <div id="tblview">

                    </div>
                </div>
            </div>

            <div id="div_btns_actions" class="col-md-12" style="padding-top: 5px;">
                <a class="btn btn-danger btn-c1 at-right" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                @{if (inputstate == 1)
                    {
                        <a class="btn btn-success btn-c1" data-cmd="savecomplete">Kết thúc nhập liệu</a>
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                    else if(inputstate == 2)
                    {
                        <a class="btn btn-success btn-c1 at-right" data-cmd="savereturn">Lưu</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/Index"],
            lstText: ["Trang Chủ", "Danh sách"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        var editstate = 'free';
        var tbl_list_assigned;
        var row_tables_hson = -1;
        $.get("/@(ViewBag.ControllerName)/GetListValuesForInput/?ReportHeaderKey=@(Model.dKey)", function (ajresult) {
            if (ajresult.Result_Status == 1) {
                tbl_list_assigned = new Handsontable($('#tblview')[0], {
                    data: ajresult.Data.Source,
                    stretchH: 'all',
                    rowHeaders: true,
                    colHeaders: ajresult.Data.HeadersCaption,
                    hiddenColumns: {
                        columns: ajresult.Data.ColumnsHidden
                    },
                    afterSelection: (row, column, row2, column2, preventScrolling, selectionLayerLevel) => {
                        row_tables_hson = row;
                    },
                    afterChange: (changes) => {
                        if (editstate == 'busy')
                            return;
                        editstate = 'busy'
                        if (changes != null) {
                            tbl_list_assigned.setDataAtCell(row_tables_hson, 3, 'changed');
                        }
                        editstate = 'free'
                    },
                    licenseKey: 'non-commercial-and-evaluation'
                });

                tbl_list_assigned.updateSettings({
                    cells: function (row, col) {
                        var cellProperties = {};
                        if (col == 1) {
                            cellProperties.readOnly = true;
                        }
                        return cellProperties;
                    }
                });
            }
            else {
                show_pnotify('error', ajresult.Result_Message);
            }
        });

        $('#div_btns_actions').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            switch (cmd) {
                case "savereturn":
                    showloading();
                    var data_list = { ReportHeaderKey: @(Model.dKey), DataInput: tbl_list_assigned.getData() };
                    $.ajax({
                        type: 'POST',
                        url: '/@(ViewBag.ControllerName)/SaveValuesInput',
                        data: data_list,
                        dataType: 'json',
                        success: function (ajresult) {
                            hideloading();
                            if (ajresult.Result_Status == 1) {
                                swal_success_redirect("Lưu Thành Công", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                            }
                            else {
                                swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                            }
                        },
                        error: function () {
                            hideloading();
                            show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                        }
                    });
                    break;
                case "savecomplete":
                    swal({
                        title: 'Xác nhận hoàn thành',
                        text: 'Bạn có muốn kết thúc nhập liệu?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Kết thúc!',
                        cancelButtonText: 'Trở lại!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                    }).then(function (r1) {
                        if (r1.value === true) {
                            var datasave = { ReportHeaderKey: @(Model.dKey) };
                            $.ajax({
                                type: 'POST',
                                url: '/@(ViewBag.ControllerName)/SaveValuesComplete',
                                data: datasave,
                                dataType: 'json',
                                success: function (ajresult) {
                                    if (ajresult.Result_Status == 1) {
                                        swal_success_redirect("Đã hoàn thành", ajresult.Result_Message, false, 1800, ajresult.RedirectTo);
                                    }
                                    else {
                                        swal_error("Lỗi", ajresult.Result_Message, false, 1800)
                                    }
                                },
                                error: function () {
                                    show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
                                }
                            });
                        }
                    });
                    break;
                default:
                    break;
            }

        });
    });
</script>
