﻿@model AutoReport.Models.REPORTS_HEADERS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Phụ lục: @Model.ItemName</h6>
        <div id="lst_btn_actions_h" class="at-right">
            <a class="btn btn-default btn100-action at-right" data-cmd="edit"><i class="mi-2x mi-mode-edit"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div id="tblview" class="col-md-12">

        </div>
    </div>
</div>

<script>
    $(this).ready(function () {
        //back to master page
        var dataPost =
        {
            lstLinks: ["/Home/Index", "/@(ViewBag.ControllerName)/Index/@(Model.dKey)"],
            lstText: ["Trang Chủ", "Danh sách Báo Cáo"]
        };
        $.ajax({
            type: 'POST',
            url: '/@(ViewBag.ControllerName)/RTB',
            data: dataPost,
            dataType: 'json',
            success: function (ajresult) {
                $(".header_link_prev").append(ajresult.Data)
            },
            error: function () {
                show_pnotify('error', '@(Html.Raw(AutoReport.Utils.TextUtil.Notify_Error))');
            }
        });

        LoadTableCustom("tblview", "/@(ViewBag.ControllerName)/GetListTableInputIndex/?ReportHeaderKey=@(Model.dKey)", 1);

        $('#lst_btn_actions_h').on('click', 'a', function () {
            var cmd = $(this).attr('data-cmd');
            var tr_select = $('#tblview .table100-body table tbody').find('tr.tr-selected');
            if (tr_select.length == 0)
                return;

            var id = tr_select.attr('data-id');
            if (id == null)
                return;

            switch (cmd) {
                case "edit":
                    window.location.href = '/@(ViewBag.ControllerName)/InputTablesData/' + id;
                    break;
                default:
                    break;
            }
        });
    });
</script>
