﻿@model AutoReport.Models.CAT_DEPARTMENTS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span {
        font-size: 22px;
        vertical-align: top !important;
    }

    .chklocal {
        width: 24px;
        height: 24px;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo Phòng ban</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="card">
                        @*info*@
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Thông tin phòng ban</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form id="frmInfo" class="form-horizontal form-label-left " style="padding-top: 10px;">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.DepartmentKey)

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Mã phòng ban <font color="red">(*)</font></label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.DepartmentID, new { @class = "form-control", @readonly = "true" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Ký hiệu </label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.Abbr, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Tên phòng ban <font color="red">(*)</font></label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Phòng cấp trên </label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.DropDownListFor(model => model.ParentKey, ViewBag.DepartmentParentList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Trưởng phòng </label>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.DropDownListFor(model => model.EmployeeKey, ViewBag.EmployeeList as SelectList, "--Vui lòng chọn--", new { @class = "form-control", data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-control-label col-sm-2 col-md-2 col-lg-2">
                                                    <label>Ghi Chú</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                </div>

                                <div class="row clearfix">
                                    <a class="btn btn-danger pull-right" style="margin-bottom: 25px;" href="/@(ViewBag.ControllerName)/Index">Trở về</a>
                                    <a id="btn_Save" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu</a>
                                    <a id="btn_SaveNew" class="btn btn-success pull-right" style="margin-bottom: 25px;">Lưu & Thêm Mới</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(this).ready(function () {

        $("#btn_Save").click(function () {
            var data = $("#frmInfo").serializeObject();
           
            var dataPost = { iteminfo: data, templatesselected: lst_templates };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal_success(data.strMess, false, 1500);
                        window.location = "/@(ViewBag.ControllerName)/Edit/" + data.Data.DepartmentKey;
                    }
                    else {
                        swal_error(data.strMess, true, 0);
                    }
                },
                error: function (data) {
                    showError(data.strMess);
                }
            });
        });

        $("#btn_SaveNew").click(function () {
            var data = $("#frmInfo").serializeObject();

            var dataPost = { iteminfo: data };
            $.ajax({
                type: 'POST',
                url: '/@(ViewBag.ControllerName)/Create',
                data: dataPost,
                dataType: 'json',
                success: function (data) {
                    hideLoading();
                    if (data.intStatus == "1") {
                        swal_success(data.strMess, false, 1500);
                        window.location = "/@(ViewBag.ControllerName)/Create";
                    }
                    else {
                        swal_error(data.strMess, true, 0);
                    }
                },
                error: function (data) {
                    showError(data.strMess);
                }
            });
        });
    });
</script>
