﻿@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div id="header_link_prev" class="breadcrumb">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block breadcrumb-item">
                    <i class="icon-paragraph-justify3"></i>
                </a>
                <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Dashboard</span>
            </div>
        </div>

        <div class="pull-right">
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>
                        <span>Victoria</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>