﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<script src="/Layout/custom/js/jquery.smartWizard.js"></script>
<link href="/Layout/custom/css/smart_wizard.css" rel="stylesheet" />
<link href="/Layout/custom/css/smart_wizard_theme_arrows.css" rel="stylesheet" />

<!-- Basic setup -->
<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h4 class="card-title">Lập báo Cáo</h4>

    </div>
    <div class="card-body">
        <form id="frmInfo" class="form-horizontal form-label-left">
            <div class="form-group">
                <div id="smartwizard">
                    <ul>
                        <li><a href="#step-1">1.<br /><h6>Chọn mẫu báo cáo</h6></a></li>
                        <li><a href="#step-2">2.<br /><h6>Nhập Thông Tin</h6></a></li>
                        <li><a href="#step-3">3.<br /><h6>Phân công nhập liệu</h6></a></li>
                        <li><a href="#step-4">4.<br /><h6>Kết thúc</h6></a></li>
                    </ul>

                    <div id="step-1">
                        <div class="form-control-label col-md-2">
                            <label class="at-right">Mã nhân viên <font color="red">(*)</font></label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBox("ReportTemplate", "", new { @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="step-2">

                    </div>
                    <div id="step-3">

                    </div>
                    <div id="step-4">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /basic setup -->


<script>
    $(this).ready(function () {

        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {

            $("#smartwizard .sw-btn-prev").addClass('disabled');
            if (stepPosition === 'final') {
                $("#smartwizard .sw-btn-next").addClass('disabled');
            }
            else {
                $("#smartwizard .sw-btn-next").removeClass('disabled');
            }

            if (stepPosition != 'first')
                $("#smartwizard .sw-btn-prev").removeClass('disabled');
        });

        // Smart Wizard
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'arrows',
            transitionEffect: 'fade',
            showStepURLhash: true,
            lang: { // Language variables for button
                next: 'Tiếp',
                previous: 'Quay Lại'
            },
            toolbarSettings: {
                toolbarPosition: 'none',
                toolbarButtonPosition: 'end',
                showNextButton: true, // show/hide a Next button
                showPreviousButton: true, // show/hide a Previous button
                //toolbarExtraButtons: [btnFinish, btnCancel]
            }
        });

        $('#smartwizard').smartWizard("reset");
    });
</script>
