﻿@{
    ViewBag.Title = "Hạn Chế";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h2 class="card-title">Từ chối truy cập</h2>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-control-label">
                        <label>Bạn không có quyền truy cập vào dữ liệu hiện tại</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>