﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<div class="card">
    <div class="card-header header-elements-inline" style="justify-content: initial; display: inline;">
        <h6 class="card-title at-left">Danh sách tài liệu</h6>
    </div>
    <div class="card-body">
        <div id="tblview" class="col-md-12">

        </div>
    </div>
</div>


<script>
    $(this).ready(function () {
        LoadTableCustom("tblview", "/@(ViewBag.ControllerName)/GetListDocuments", 1);
    });
</script>