﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<script src="/Layout/limitless/custom/js/jquery.canvasjs.min.js"></script>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Biểu Đồ</h6>
        </div>

        <div class="card-body">
            <div id="chartContainer" style="height: 300px; width: 100%;">

            </div>
        </div>

    </div>
</div>


<script>
    $(this).ready(function () {

        $.get('/@(ViewBag.ControllerName)/GetSummaryChartColumns', function (ajresult) {

            if (ajresult.Result_Status == 1) {

                var group_c = [];
                var group_u = [];
                $.each(ajresult.Data, function (index, value) {
                    var arr = { y: value.y, label: value.x };
                    if (value.group == "c") {
                        group_c[group_c.length] = arr
                    }
                    if (value.group == "u") {
                        group_u[group_u.length] = arr;
                    }
                });

                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Tình hình báo cáo năm @(DateTime.Now.Year)"
                    },
                    axisX: {
                        interval: 1,
                        titleFontSize: 25,
                        labelFontSize: 13,
                    },
                    axisY: {
                        valueFormatString: "#",
                        gridColor: "#B6B1A8",
                        tickColor: "#B6B1A8",
                    },
                    toolTip: {
                        shared: true
                    },
                    legend: {
                        reversed: true,
                        verticalAlign: "center",
                        horizontalAlign: "right"
                    },
                    data: [{
                        type: "stackedColumn",
                        name: "Hoàn thành",
                        showInLegend: true,
                        yValueFormatString: "#,##0",
                        dataPoints: group_c
                    },
                    {
                        type: "stackedColumn",
                        name: "Chưa hoàn thành",
                        showInLegend: true,
                        yValueFormatString: "#,##0",
                        dataPoints: group_u
                    }]
                });
                chart.render();
            }
            else {
                show_pnotify('error', ajresult.Result_Message)
            }
        });


    });
</script>