﻿@{
    ViewBag.Title = "Không Tồn Tại";
    Layout = "~/Views/Shared/_LayoutL1.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h2 class="card-title">Dữ liệu không tồn tại</h2>
        </div>

        <div class="card-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-control-label">
                        <label>Dữ liệu bạn đang muốn truy cập hiện không tồn tại trên hệ thống hoặc đã bị xóa!</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>